#password-suggestions-check.show{
  border: 1px solid #F3C1BF;
  font-size: 12px;
  padding-bottom: 5px;
  margin-top: 0px !important;
  max-width: 34.7em;
  margin: 0.7em 0;
  padding: 0.2em 0.5em;
}
.password-suggestions{
  display: none !important;
}

#user-status-listing {
  box-shadow: 0px 1px 12px rgba(103, 97, 97, 0.15);
  border-radius: 15px;
  padding: 15px 18px;
  margin-bottom: 22px;
  color: rgb(68, 68, 68);
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
#user-status-listing a {
  color: #a85766;
  font-size: 11px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
  background: #fcf1f0;
  display: block;
  width: auto;
  max-width: 100%;
  padding: 30px;
  text-align: center;
  border-radius: 11px;
  text-decoration: underline;
  margin-top: 10px;
}
