#password-suggestions-check.show{
  border: 1px solid #F3C1BF;
  font-size: 12px;
  padding-bottom: 5px;
  margin-top: 0px !important;
  max-width: 34.7em;
  margin: 0.7em 0;
  padding: 0.2em 0.5em;
}
.password-suggestions{
  display: none !important;
}
