
// base
@import 'base/vars';
@import 'base/default';
@import 'base/mixin';

// Common
@import 'common/common';
@import 'common/form';

// Components
@import 'components/bottom-nav';
@import 'components/header';
@import 'components/dashboard';
@import 'components/delete-screen';
@import 'components/forgot-pass';
@import 'components/home-referral-pathway';
@import 'components/home-user-location';
@import 'components/location';
@import 'components/menu';
@import 'components/language-selector';
@import 'components/popup';
@import 'components/referral_pathway';
@import 'components/sign-up';
@import 'components/service-type';
@import 'components/service-provider';
@import 'components/personal-details';
@import 'components/user-login';
@import 'components/ui-dialog';
@import 'components/delete-user-popup';
@import 'components/form-cancel-button';
