label: Multimedia
display:
  default:
    display_options:
      exposed_form:
        options:
          reset_button_label: Restablecer
          exposed_sorts_label: 'Ordenar por'
          sort_asc_label: Asc
          sort_desc_label: Desc
      pager:
        options:
          expose:
            items_per_page_label: 'Elementos por página'
            items_per_page_options_all_label: '- Todo -'
            offset_label: Desplazamiento
      fields:
        media_bulk_form:
          action_title: Acción
        thumbnail__target_id:
          label: Miniatura
          separator: ', '
        name:
          separator: ', '
        bundle:
          label: Tipo
          separator: ', '
        uid:
          label: Autor
          separator: ', '
        status:
          label: Estado
          separator: ', '
        changed:
          separator: ', '
        operations:
          label: Operaciones
      filters:
        bundle:
          expose:
            label: Tipo
        status:
          expose:
            label: Verdad
        langcode:
          expose:
            label: Idioma
      title: Multimedia
  media_page_list:
    display_title: Multimedia
    display_options:
      menu:
        title: Multimedia
