.link-text {
  color: $base-secondary-bgcolor;
  font-size: 14px;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
p {
  color: $grey-txt-color;
  font-size: $base-font-size;
  margin: 0;
}
.flex-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.red-text {
  color: $base-secondary-bgcolor;
  font-size: $base-font-size;
  margin: 10px 0;
}
.path-sign-up,
.path-user {
  [id^="block-erpw-branding"],
  [id^="block-erpw-main-menu"] {
    display: none; //temparory added  will remove once menu link functional, it will come under menu
  }
}
.back-arrow {
  background: url("../images/back-arrow.svg") 0 0 no-repeat;
  height: 14px;
  border: 0;
  font-size: 0;
  position: absolute;
  top: 25px;
  left: 23px;
  width: 16px;
}
.toolbar-icon-9 .back-arrow {
  top: 62px;
}
.button-border {
  background: none;
  border: 1px solid $base-secondary-bgcolor;
  @include border-radius(4px);
  cursor: pointer;
  color: $base-secondary-bgcolor;
  display: inline-block;
  font-size: 0.875em;
  margin: 0 15px 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
}
form input[type="submit"] {
  &.button-border {
    background: none;
    border: 1px solid $base-secondary-bgcolor;
    @include border-radius(4px);
    color: $base-secondary-bgcolor;
    display: inline-block;
    font-size: 0.875em;
    margin: 0 15px 1em 0;
    padding: 10px 24px;
    text-transform: uppercase;
  }
}

.overlay {
  display: none;
}

.button-with-icon {
  background-color: $base-secondary-bgcolor;
  @include border-radius(20px);
  font-size: 12px;
  line-height: 14px;
  padding: 7px 13px 7px 57px;
  position: relative;
  color: $base-white-color;
  margin: 20px 0;
  display: inline-block;
  &.new-service-type {
    padding-left: 0;
  }
  &::before {
    content: "*";
    @include border-radius(50%);
    height: 57px;
    width: 57px;
    position: absolute;
    left: 0;
    top: -15px;
  }
  a {
    color: $base-white-color;
    font-size: 12px;
    padding-left: 60px;
    position: relative;
    z-index: 1;
  }
}
.color-select::before {
  background: url("../images/color-picker.svg") center center no-repeat
    $base-secondary-bgcolor;
}
.icon-select::before {
  background: url("../images/icon-picker.svg") center center no-repeat
    $base-secondary-bgcolor;
}

//pager
.pager__items {
  li,
  span {
    color: $base-secondary-bgcolor;
  }
}

.layout-container {
  margin: 0;
}
//export import CSV
.manage-location {
  display: flex;
  justify-content: flex-end;
}
.export-csv,
.import-csv {
  input[type="submit"],
  a {
    background: none;
    border: 0;
    color: $base-secondary-bgcolor;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    padding: 40px 0 0;
    vertical-align: top;
    text-transform: capitalize;
  }
}
.export-csv {
  background: url("../images/export.png") top center no-repeat transparent;
}

.import-csv {
  background: url("../images/import.png") top center no-repeat transparent;
  margin-right: 10px;
}
.ajax-progress-throbber {
  display: none;
}
//note message
.msg-note {
  color: $base-secondary-bgcolor;
  font-size: 10px;
  line-height: 14px;
}
.margin-space {
  margin-bottom: 20px !important;
}

.button-red {
  background: $base-secondary-bgcolor;
  border: 1px solid $base-secondary-bgcolor;
  box-sizing: border-box;
  @include border-radius(4px);
  color: $base-white-color !important;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 10px 0;
  text-transform: uppercase;
  width: 100%;
  a {
    color: $base-white-color;
  }
}

.card-shadow {
  box-shadow: 0px 4px 12px rgb(103 97 97 / 15%);
  border-radius: 10px;
  padding: 5px 10px 10px;
  margin: 13px 0 15px;
  .card-shadow {
    box-shadow: unset;
    margin: 0;
    padding: 0;
  }
}
.simple-status-messages .status-message-close span {
  color: $base-secondary-bgcolor;
  font-size: 28px;
  right: 7px;
  top: -3px;
  opacity: 1;
}

//Table format
.table-format {
  overflow-x: scroll;
  table {
    border: 1px solid #f3c1bf;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    thead {
      color: $base-secondary-bgcolor;
      text-align: left;
      th {
        border-bottom: 1px solid #f3c1bf;
      }
    }
    td,
    th {
      padding: 10px;
      text-transform: capitalize;
    }
    .dropbutton-widget {
      border: 0 !important;
    }
    a {
      color: $base-secondary-bgcolor;
    }
  }
}

.ui-autocomplete {
  border: 1px solid #f3c1bf !important;
  border-radius: 5px;
  height: 194px;
  width: calc(100% - 40px) !important;
  overflow-y: scroll;
  li {
    border-bottom: 1px solid rgba(243, 193, 191, 0.53);
    padding: 10px;
    a {
      color: $grey-txt-color;
      font-size: 14px;
      padding: 0 !important;
      word-break: break-word;
    }
  }
  .ui-state-active {
    background: none;
    border: 0;
    color: $base-secondary-bgcolor;
    padding: 0;
    margin: 0;
  }
}

//select 2 common styling
.js-form-type-select {
  position: relative;
  select + .error {
    position: absolute;
    bottom: 0;
    left: 0;
    + .select2-container {
      padding-bottom: 20px;
    }
  }
}
label.error + .select2-container .select2-selection {
  border: 2px solid red !important;
}
.add_multiple + .select2-container {
  .select2-selection__choice[title="Select 3 Label"] {
    display: none;
  }
}
.select2-container {
  width: 100% !important;
  &--default {
    .select2-selection--multiple,
    .select2-selection--single {
      border: 1px solid #f3c1bf !important;
      margin-top: 7px;
      padding: 5px 6px 7px !important;
      .select2-selection__choice {
        background: #fff !important;
        border: 1px solid #f3c1bf !important;
        margin-top: 0 !important;
        &__remove {
          border-right: 1px solid #f3c1bf !important;
          color: $base-secondary-bgcolor !important;
        }
      }
    }
    .select2-selection--single {
      padding: 8px 6px 8px !important;
      height: 37px !important;
      .select2-selection__rendered {
        line-height: inherit !important;
      }
      .select2-selection__arrow {
        top: 11px !important;
        right: 17px !important;
        b {
          background: url("../images/arrow.svg") 0 0 no-repeat transparent;
          border: 0 !important;
          height: 6px !important;
          width: 12px !important;
        }
      }
    }
    &.select2-container--focus {
      .select2-selection--multiple,
      .select2-selection--single {
        border: 1px solid #f3c1bf;
      }
    }
    .select2-results__option {
      &--selected {
        background: $base-white-color !important;
      }
      &.select2-results__option--selectable {
        padding-left: 11px;
      }
      &--highlighted.select2-results__option--selectable {
        background: $base-primary-bgcolor !important;
        color: $grey-txt-color !important;
        padding-left: 11px;
      }
    }
  }
  .select2-dropdown {
    border: 1px solid #f3c1bf;
  }
  .ui-state-active {
    background: none;
    border: 0;
    color: $base-secondary-bgcolor;
    padding: 0;
    margin: 0;
  }
}

//common form actions button
.node-organisation-form,
.node-service-type-form,
.node-service-type-quick-node-clone-form,
.node-service-type-edit-form,
.node-service-provider-form,
.node-service-provider-edit-form,
.user-form {
  .form-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
    input[type="submit"] {
      padding: 10px 0 !important;
      width: 134px;
    }
    [id^="edit-submit"] {
      order: 2;
    }
    [id^="edit-preview"],
    [id^="edit-cancel"] {
      background: none;
      border: 1px solid $base-secondary-bgcolor;
      @include border-radius(4px);
      color: $base-secondary-bgcolor;
      display: inline-block;
      font-size: 0.875em;
      margin: 0 15px 1em 0;
      padding: 10px 24px;
      text-transform: uppercase;
      order: 1;
    }
  }
}

//count style
.service-count {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 400;
}

//button left right
.button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  a {
    color: $base-secondary-bgcolor;
  }
  .fill-button {
    background: $base-secondary-bgcolor;
    border: 1px solid $base-secondary-bgcolor;
    box-sizing: border-box;
    @include border-radius(4px);
    color: $base-white-color;
    display: inline-block;
    font-size: 0.875em;
    font-weight: 500;
    margin: 0 0 1em 0;
    padding: 10px 24px;
    text-transform: uppercase;
    a {
      color: $base-white-color;
    }
  }
}

html[dir="rtl"] {
  .select2-container--default {
    .select2-selection--single {
      .select2-selection__arrow {
        left: 8px;
        right: auto !important;
      }
    }
  }
}
[id^="edit-pass"] .password-suggestions {
  margin-top: 0px !important;
}
#edit-unlock {
  background: #a85766;
  border: 1px solid #a85766;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-shadow: none;
}
span.service-title.no-service a {
  color: gray !important;
  pointer-events: none;
}
.disable-country-select-default {
  pointer-events: none;
  user-select: none;
  .select2-selection--single {
    background-color: #eee !important;
  }
}
.view {
  .pager {
    .pager__items {
      .pager__item {
        a {
          color: #a85766;
        }
      }
      .pager__item--first,
      .pager__item--last {
        display: none;
      }
    }
  }
}
.download-services-csv {
  display: flex;
  justify-content: flex-end;
  a {
    display: block;
    text-align: center;
    color: #a85766;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: Roboto;
    &::before {
      content: "";
      background: url("../images/export.png") top center no-repeat transparent;
      width: 40px;
      height: 40px;
      display: block;
      margin: auto;
    }
  }
}

#edit-cancel {
  margin: 0;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  color: #A85766;
  border: 2px solid #A85766;
}
