{#
/**
 * @file location.html.twig
 * Default theme implementation to present Location Entity data.
 *
 * This template is used when viewing Location Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_location()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('location') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
