<div class="pending-service-count" style="border: 2px solid;width:200px;">
  <div class="service-count">{{ count }}</div>
  <div class="service-desc">{{ description }}</div>
  <div class="review-link"><a href="{{ manage_service_link }}">{{ 'Review Now'|t }}</a></div>
</div>
