.dashboard {
	.dashboard-link {
		@include border-radius(10px);
		box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.08);
		padding: 7px 10px;
		margin-bottom: 32px;
		a {
			background: url('../images/arrow-right.svg') right center no-repeat;
			color: $base-secondary-bgcolor;
			display: block;
			margin: 0 9px 0 0;
			&::before {
				display: inline-block;
				height: 36px;
				margin-right: 20px;
				width: 36px;
				vertical-align: middle;
			}
		}
		&.location-link a {
			&::before {
				background-color: #444;
				content: '';
				-webkit-mask: url('../images/location.svg') center center no-repeat;
				mask: url('../images/location.svg') center center no-repeat;
			}
		}
		&.service-link a {
			&::before {
				background-color: #165A07;
				content: '';
				-webkit-mask: url('../images/service.svg') center center no-repeat;
				mask: url('../images/service.svg') center center no-repeat;
			}
		}
		&.org-link a {
			&::before {
				background-color: #A85766;
				content: '';
				-webkit-mask: url('../images/org.svg') center center no-repeat;
				mask: url('../images/org.svg') center center no-repeat;
			}
		}
	}
}
