.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(68, 25, 39, 0.28);
	text-align: center;
	transition: opacity 500ms;
	visibility: visible;
	opacity: 1;
	z-index: 1;
	backdrop-filter: blur(4px);
}
.sign-in-popup {
	position: absolute;
    z-index: 9999;
    color: white;
    text-align: center;
		left: 50%;
    top: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
    width: 303px;
    margin: 0 auto;
	form {
		margin: 0 auto;
		padding: 20px 30px 15px;
		background: url('../images/popup-bg.svg') top -125px left -20px no-repeat#fff;
		border-radius: 10px;
		position: relative;
		width: 243px;
	}
	input[type=submit] {
		width: 40.5%;
		padding: 10px 0;
	}	
}
.welcome-message {
	margin-top: 20px;
}
.popup-content {
	color: $new-txt-color;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 15px;
}
.close-popup {
	background: url('../images/cross.svg') 0 0 no-repeat;
	cursor: pointer;
	height: 13px;
	width: 13px;
	position: absolute;
	right: 16px;
	top: 16px;
}
.menu-icon {
	display: inline-block;
	padding-left: 5px;
	&::before {
		background: url("../images/menu-icon.svg") left 8px center  no-repeat;
		content: '(';
		height: 11px;
		padding-right: 22px;	
		width: 16px;
	}
	&::after {
		content: ')';
	}
}
