.node-service-type-form,
.node-service-type-quick-node-clone-form,
.node-service-type-edit-form {
	label {
		vertical-align: top;
		margin-top: -15px;
		&.form-required::after {
			content: '';
		}
	}
.field--name-field-service-type-icon .js-form-type-textfield,
.field--type-color-field-type .form-wrapper {
		box-shadow: 0px 4px 12px rgb(103 97 97 / 15%);
		@include border-radius(10px);
		margin: 45px 0 0;
		label {
			font-weight: 400;
		}
	}

	.field--type-color-field-type .form-wrapper {
		.form-item {
			margin-bottom: 0;
		}
	}
	.selector-button,
	.selector-category,
	.fip-icon-block {
		display: none !important;
	}
	.field--widget-unicef-iconpicker {
		position: relative;
	}
	.icons-selector {
		display: block;
		z-index: inherit;
		.selector {
			border: 0;
			margin: 0 10px;
			position: absolute;
			top: -130px;
			left: 0;
			width: 40px;
		}
		.fip-box {
			border: 0;
			width: 46px;
		}
		&.fip-grey {
			.selected-icon {
				@include border-radius(50%);
				border: 0;
				width: 40px;
				i {
					color: $base-secondary-bgcolor;
				}
			}
			.fip-icons-container {
				border: 0;
				background-color: #f2f2f2;
				@include border-radius(10px);
				margin: 0 auto;
				width: 90%;
			}
			span.current-icon {
				background-color: $base-secondary-bgcolor;
				border: 1px solid $base-secondary-bgcolor;
			}
			.selector-footer {
				color: $base-secondary-bgcolor;
				padding: 10px 15px;
			}
		}
		.uf::before {
			font-size: 22px;
		}
	}
	
	.unicef-iconpicker-element {
		height: inherit !important;
	}
	.selector-popup-wrap {
		position: inherit !important;
		z-index: inherit;
		margin: 10px auto 0;
		width: 100%;
		.selector-popup {
			border: 0;
			box-shadow: inherit !important;
			display: block !important;
			position: inherit !important;
			overflow: inherit !important;
			width: inherit !important;
			padding: inherit !important;
			margin: inherit !important;
			top: inherit !important;
			visibility: inherit !important;
			float: inherit !important;
			left: inherit !important;
			z-index: inherit !important;
			height: inherit !important;

			.selector-search {
				margin: 0 auto;
				width: 90%;
				input[type=text] {
					border: 1px solid $border;
					&::-webkit-input-placeholder {
						color: #E0D7D7;
						font-size: 14px;
					}
				
					&:-moz-placeholder {
						color: #E0D7D7;
						font-size: 14px;
					}
				
					&::-moz-placeholder {
						color: #E0D7D7;
						font-size: 14px;
					}
				
					&:-ms-input-placeholder {
						color: #E0D7D7;
						font-size: 14px;
					}
				}
				.fip-icon-search {
					top: 10px;
				}
			}
		}
	}
	.color-field-widget-box-form {
		margin: 10px auto 0;
		padding-bottom: 20px;
		width: 90%;
		.color_field_widget_box__square {
			@include border-radius(4px);
			box-shadow: unset;
			height: 32px;
			margin-right: 15px;
    	width: 32px;
			&:hover,
			&.active {
				border: 1px solid $base-secondary-bgcolor !important;
			}
		}
	}
	.button--primary {
		@extend .button-border;
	}
	.color_field_widget_box__color {
		border: 1px solid transparent !important;
		font-size: 0;
		display: none !important;
		&::part(native) { 
			display: none !important;
		}
		div {
			display: none !important;
			position: absolute;
			z-index: 0;
			font-size: 0;
		}
	}
}

//service type listing page
.new-service-type,
.plus-icon {
	padding-left: 0;
	&::before {
		background: url('../images/plus.svg') center center no-repeat $base-secondary-bgcolor;
	}
}
.service-list {
	.view-header {
		border-bottom: 2px solid rgba(243, 193, 191, 0.53);
		margin-bottom: 20px;
		padding-bottom: 10px;
		position: relative;
	}
	.view-content {
		margin-top: 40px;
	}
	.title-view {
		border-top: 2px solid rgba(243, 193, 191, 0.53);
		color: $grey-txt-color;
		font-size: 16px;
		font-weight: 400;
		margin-top: 15px;
		padding-top: 15px;
	}
	.views-row {
		box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
		@include border-radius(10px);
		margin-bottom: 10px;
		padding: 8px 0;
		position: relative;
	}
	.views-field-field-service-type-icon {
		position: absolute;
    top: 24px;
    left: 10px;
    width: 50px;
    text-align: center;
	}
	.views-field-field-service-type-color {
		display: inline-block;
		padding: 0 10px;
		vertical-align: top;
	}
	.service-title,
	.views-field-title {
		display: inline-block;
		padding: 5px 0;
		width: 77%;
		span, a {
			color: $grey-txt-color;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;
			word-break: break-all;
		}
	}
	.service-count {
		color: #9B9B9B;
		font-size: 14px;
		font-weight: 400;
		position: absolute;
		right: 0;
		bottom: -30px;
	}
	.views-field-nothing {
		border-top: 1px solid rgb(215 215 215 / 50%);
		margin-top: 5px;
	}
}

//edit, delete and edit icon
.edit-delete-links {
	display: flex;
	justify-content: flex-end;
	margin: 0 10px;
	a {
		display: inline-flex;
		font-size: 0;
		height: 20px;
		margin-left: 30px;
		vertical-align: super;
		width: 20px;
	}
	.clone-service-type a {
		background: url('../images/clone.svg') center center no-repeat;
		margin-left: 0;
	}
	.edit-link a {
		background: url('../images/edit.svg') center center no-repeat;
	}
	.delete-link a {
		background: url('../images/delete-button.svg') center center no-repeat;
	}
	.translate-link a {
		background: url('../images/language-translate.png') center center no-repeat;
		width: 24px;
    height: 24px;
	}
}
div.color_field__swatch label:hover span,
div.color_field__swatch input[type=checkbox]:checked + label span, 
div.color_field__swatch input[type=radio]:checked + label span {
    border: 0;
    transform: inherit;
}
.selector-arrows i::before {
	font-size: 18px;
}

//form actions
.node-service-type-form,
.node-service-type-quick-node-clone-form,
.node-service-type-edit-form,
.node-organisation-form,
.path-sign-up {
	.sign-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 45px;
		[id^='edit-submit'] {
			order: 2;
		}
		[id^='edit-preview'],
		[id^='edit-cancel'] {
			background: none;
			border: 1px solid $base-secondary-bgcolor;
			@include border-radius(4px);
			color: $base-secondary-bgcolor;
			display: inline-block;
			font-size: 0.875em;
			margin: 0 15px 1em 0;
			padding: 10px 24px;
			order: 1;
			text-transform: uppercase;
		}
		input[type=submit] {
			text-align: center;
    	padding: 10px 0;
			width: 134px;
		}
	}
}

//Manage org
.view-organisations,
.view-referral-pathway-listing {

	@extend .service-list;

	.views-field-title,
	.views-field-field-location {
		padding: 5px 10px;
	}
}
.icons-search-input {
	border: 1px solid #F3C1BF !important;
}

//Manage user
.view-user-lists {
	.view-header {
		border-bottom: 2px solid rgba(243, 193, 191, 0.53);
		margin-bottom: 20px;
		padding-bottom: 10px;
		position: relative;
	}
	.service-count {
		color: #9B9B9B;
		font-size: 14px;
		font-weight: 400;
		position: absolute;
		right: 0;
		bottom: -30px;
	}
	.view-content {
    margin-top: 40px;
	}
}
