.service-provider-class {
	border: 0;
	padding: 0;
	.fieldset-legend {
		@extend .step;
	}
	[id^='edit-field-transportation-available-wrapper'],
	[id^='edit-field-accessibility-for-persons-wrapper'] {
		.fieldset-legend {
			@extend label;
		}
		.form-type-radio {
			border: 1px solid $border;
			border-radius: 4px;
			display: inline-block;
			padding: 5px 10px;
			margin-right: 20px;
			&:first-child {
				display: none;
			}
		}
	}
	[id^='edit-field-countrycode-wrapper'] {
		display: inline-block;
		margin-right: 10px;
		max-width: 30%;
		width: 100%;
		.form-item {
			margin-bottom: 0;
		}
	}
	[id^='edit-field-phone-number-wrapper'] {
		display: inline-block;
		width: calc(100% - 35%);
    vertical-align: top;
		.form-item {
			margin-bottom: 0;
		}
	}
	
}
.node-service-provider-form,
.node-service-provider-edit-form {
	.service-next-prev-button {
		display: flex;
		margin-top: 30px;
		justify-content: space-between;
		width: 100%;
		.button-border {
			background: none;
			border: 1px solid $base-secondary-bgcolor;
			@include border-radius(4px);
			cursor: pointer;
			color: $base-secondary-bgcolor;
			display: inline-block;
			font-size: 0.875em;
			margin: 0 0 1em 0;
			padding: 10px 24px;
			text-transform: uppercase;
		}
		.next-btn {
			text-align: right;
		}
	}
	details summary {
		background: $base-secondary-bgcolor;
		@include border-radius(10px);
		color: $base-white-color;
		display: flex;
    justify-content: space-between;
    align-items: center;
		box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.08);
		padding: 14px 17px;
		&::after {
			background: $base-white-color;
			-webkit-mask: url('../images/arrow.svg') center center no-repeat;
			mask: url('../images/arrow.svg') center center no-repeat;
			transform: rotate(180deg);
			background-position: inherit;
			content: '';
			color: $base-secondary-bgcolor;
			display: inline-block;
			height: 6px;
			width: 12px;
		}
		&[aria-expanded='false'] {
			&::after {
				transform: rotate(0deg);
				background-position: right center;
			}
		}
		+ .details-wrapper {
			border: 1px solid $base-secondary-bgcolor;
			margin: -6px 1px;
		}
	}
}
//service provider listing
.view-manage-service,
.view-service-list {
	form .form-type-select {
		width: 100%;
	}
	.views-row {
		@extend .card-shadow;
		color: $grey-txt-color;
		font-size: 12px;
		a {
			color: $grey-txt-color;
		}
		.service-provider-title {
			border-bottom: 0.5px solid #D7D7D7;
			font-weight: 700;
			padding: 6px 0;
			text-transform: capitalize;
			a {
				color: $grey-txt-color;
				&::before {
					background: url('../images/service-provider.svg') 0 0 no-repeat;
					content: '';
					display: inline-block;
					height: 26px;
					padding-right: 25px;
					vertical-align: middle;
					width: 26px;
				}
			}
		}
		.service-provider-org,
		.service-provider-number {
			display: flex;
			margin-top: 10px;
			padding: 0 5px;
			word-break: break-word;
			span {
				max-width: 100px;
    		width: 100%;
			}
		}
		.views-field {
			padding: 0 5px;
			margin-top: 10px;
			&.views-field-field-location {
				display: flex;
				padding: 0 10px;
				word-break: break-word;
				span {
					max-width: 100px;
    			width: 100%;
				}
				.field-content {
					display: inline-block;
					width: calc(100% - 100px);
				}
			}
			&.views-field-nothing-1 .service-mode {
				border-bottom: 0.5px solid #D7D7D7;
				display: flex;
				padding: 0 5px 10px;
				word-break: break-word;
				span {
					max-width: 100px;
    			width: 100%;
				}
			}
		}
		.more-details-text {
			padding: 10px;
			text-align: right;
			a {
				color: $base-secondary-bgcolor;
				border-bottom: 1px solid $base-secondary-bgcolor;
				&::after {
					background: url('../images/arrow-small.svg') center right no-repeat;
					content: '';
					height: 7px;
					display: inline-block;
					vertical-align: middle;
					padding-left: 5px;
					width: 4px;
				}
			}
		}
	}
}
.view-manage-service {
	.view-header {
		border-bottom: 2px solid rgba(243, 193, 191, 0.53);
		margin-bottom: 20px;
		padding-bottom: 10px;
		position: relative;
	}
	.service-count {
		color: #9B9B9B;
		font-size: 14px;
		font-weight: 400;
		position: absolute;
		right: 0;
		bottom: -30px;
	}
}
.service-list-icons {
	&::before {
		display: inline-block;
		height: 10px;
		margin-right: 10px;
		vertical-align: middle;
		width: 15px;
	}
}
.org-icon {
	&::before {
		background-color: #282C7B;
		content: '';
		background: url('../images/org-icon.svg') 0 0 no-repeat;
	}
}
.contact-icon {
	&::before {
		content: '';
		background: url('../images/contact.svg') 0 0 no-repeat;
	}
}
.location-icon {
	&::before {
		content: '';
		color: #444;
		background: url('../images/service-location.svg') 0 0 no-repeat;
	}
}
.mode-icon {
	&::before {
		content: '';
		background: url('../images/mode.svg') 0 0 no-repeat;
	}
}

//service-provider-details
.service-provider-details {
	@extend .user-personal-details;
	padding: 0 !important;
	span span {
		padding: 0;
	}
}
.service-detail-heading {
	align-items: flex-end;
	border-bottom: 0.5px solid #D7D7D7;
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	h3 {
		color: $grey-txt-color;
		font-size: 18px;
		line-height: 32px;
		margin: 0 0 7px;
    padding: 0;
    font-weight: 400;
	}
}

.view-moderated-content {
	@extend .view-manage-service;
}
