body {
	&.path-user {
			background: url('../images/signin-page.png')  right top -22px no-repeat;
	}
}
.signin-otp {
	text-align: center;
	margin-top: 10px;
	.signup-link {
		font-size: $base-font-size;
		color: $base-secondary-bgcolor;
		padding-left: 5px;
		text-decoration: underline;
	}
	p {
		opacity: .87;
	}
}
.user-login-form {
	input[type=submit] {
		background: url('../images/arrow-white.svg') calc(50% - -50px) center no-repeat $base-secondary-bgcolor;
		margin: 0;
	}
	.form-item {
		margin-top: 0;
	}
}
