
.table {
  caption {
    font-size: 18px;
  }

  .fa-facebook-square {
    &::before {
      content: 'Facebook';
    }
  }

  .fa-twitter {
    &::before {
      content: 'Twitter';
    }
  }

  .fa-linkedin {
    &::before {
      content: 'LinkedIn';
    }
  }
}


#block-amp-needhelptitle {
  margin-bottom: 32px;
  padding: 15px;
  text-align: center;
}
