
body {
	margin-top: 0;
	font-family: $base-font-family;
	color: $base-black-color;
	font-size: $base-font-size;
}

main {
	padding: 21px 35px 20px 33px;
	margin-bottom: 30px;
}

.page-title {
	border-bottom: 1px solid rgba(243, 193, 191, 0.53);
	color: $base-secondary-bgcolor;
	padding-bottom: 20px;
	text-align: center;
	font-size: 1.125em;
	margin: 0;
}
