
body {
	margin-top: 0;
	font-family: $base-font-family;
	color: $base-black-color;
	font-size: $base-font-size;
}

main {
	padding: 20px;
	margin-bottom: 30px;
}

.page-title {
	border-bottom: 1px solid rgba(243, 193, 191, 0.53);
	color: $base-secondary-bgcolor;
	padding: 20px 50px;
	text-align: center;
	font-size: 1.125em;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0;
}
.path-frontpage {
	background: #FFFDFD;
}
