
//Font font-weight

$regular: 400;
$fblack: 900;
$bold: 700;
$light: 300;
$semi-bold: 600;
$extra-bold: 800;

$base-font-family: Roboto;
$base-font-size: 1em /* 16px */;
$base-font-weight: $regular;

// colors
$base-primary-bgcolor: #FFF6F5;
$base-secondary-bgcolor: #A85766;
$base-white-color: #ffffff;
$base-black-color: #000;
$grey-txt-color: #444;
$new-txt-color: #666565;
$border: #F3C1BF;
