<div class="pending-approvals-box">
  <div class="pending-service-count">
    <div class="pending-count">{{ count }}</div>
    <div class="pending-text">{{ description }}</div>
  </div>
  {% if count > 0 %}
    <div class="pending-review-link">
      <a href="{{ manage_service_link }}">{{ 'Review Now'|t }}</a>
    </div>
  {% endif %}
</div>
