{#
/**
 * @file
 * Default theme implementation for My Custom Element.
 *
 * Available variables:
 * - element: A render element representing the My Custom Element.
 */
#}
{% import _self as drupal %}
{% set classes = ['webform-user-location-list-element'] %}

<div{{ element.attributes.addClass(classes) }}>
  {{ element.children }}
</div>
