{#
/**
 * @file user_workflow_history_entity.html.twig
 * Default theme implementation to present User workflow history entity data.
 *
 * This template is used when viewing User workflow history entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_workflow_history_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_workflow_history_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
