.button-defult-exit {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  padding: $top-padding-button $left-padding-button;
  line-height: $line-height-button;
  border: $no-border;
  border-radius: $border-radius-button;
  letter-spacing: $letter-spacing-button;
}
.button-defult{
  border: $no-border;
  border-radius: $border-radius-button;
  letter-spacing: $letter-spacing-button;
  background: $base-primary-bgcolor;
  font-weight: $font-weight-normal;
  font-size: $base-font-size;
  padding: 10px 15px;
}
h1{
  @include h1-tag ;
}
h2{
  @include h2-tag ;
} 
article{
  p{
  @include p-tag;
}
}