body {
  margin-top: 0;
  font-family: $base-font-family;
  color: $base-black-color;
  font-size: $header-logo-font;
}
.dropdown-menu{
  font-size: inherit;
}

.navbar {
  min-height: auto;
  background: $base-primary-bgcolor;
  border: none;
  margin-bottom: 0;
}

.container-fluid {
  >.navbar-header {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.exit-website-btn {
  background: $base-secondary-bgcolor;
  color: $base-secondary-color;

  i {
    padding-right: 12px;
  }
}

.footer-wrapper {
  background: $footer-bg-color;
  margin-top: 20px;
}

.region-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 65px;
}

.block-menu-item-fieldsquick-links {
  margin-top: 20px;

  h2 {
    @include quick-link-font;
  }

  ul {
    @include flex-ul;
    list-style: none;

    li {
      margin-right: 25px;

      >div {
        display: flex;

        >div {
          padding-right: 12px;
        }
      }

      a {
        @include quick-link-anchor;
        line-height: 24px;
      }

    }
  }
}

ul.block-menu-item-fieldsfooter-last-menu {
  @include flex-ul;
}

#block-copyright {
  p {
    @include footer-default-styles;
  }
}

#block-footerlastmenu {
  ul {
    @include flex-ul;

    li {
      flex-grow: 1;
      flex-basis: auto;
      text-align: center;

      &:first-child {
        border-left: 0;
      }

      a {
        @include footer-default-styles;
        padding: 0 8px;

        &:hover {
          background-color: inherit;
        }

      }
    }
  }
}

.address-info {
  ul {
    padding-right: 0;
    @include flex-ul;

    li {
      list-style: none;
      margin-right: 16px;

      a {
        color: $base-black-color;
      }

      img {
        margin-right: 10px;
      }

    }
  }

  margin-top: 16px;
  display: block;
}

#block-virtualsafespace {
  h2 {
    @include footer-header2;
  }

  .logo-title-wrapper {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;

    .field--name-field-logo {
      margin-top: 20px;
      margin-right: 12px;
    }
  }
}

.buttonwrapper {
  display: flex;

  .telephone-header {
    margin: 15px 35px;

    img {
      margin-right: 5px;
    }

    a {
      text-decoration: none;
      color: $base-black-color;
      font-size: $base-font-size;
    }
  }
}

.header-wrap {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);

  .navbar-brand {
    font-size: $header-logo-font;
    color: $header-logo-color;

    &:hover {
      color: $header-logo-color;
    }
  }

}



.btn-settings {
  cursor: pointer;
}

.region-header {
  display: flex;

  #nav_wrap {
    margin-left: auto;
  }

  #block-iraqnavigationheadermenu,
  #block-navigationheadermenu {
    .discoverdd {
      min-width: 220px;
      top: 32px;

      li {
        margin: 24px 16px;
        line-height: 24px;

        a {
          font-weight: $base-footer-font-weight;
        }

      }
    }

    margin-left: auto;

    >ul {
      /*position: relative;*/
      @include flex-ul;

      li {
        margin-right: 25px;


        >div {
          display: flex;

          >div {
            padding-right: 12px;
          }
        }

        a {
          @include header-link-anchor;
          line-height: 24px;
        }

        span {
          @include header-link-anchor;
          line-height: 24px;
        }

      }
    }

  }

  #block-settingsmenu,
  #block-iraqnavigationheadermenu,
  #block-navigationheadermenu {
    margin-top: 15px;
  }


  #discover1 {
    cursor: pointer;

    .caret {
      margin-left: -10px;

      margin-top: 10px;

    }

    >div {
      display: flex;

      >div {
        padding-right: 12px;
      }
    }
  }

  #block-settingsmenu {
    display: flex;

    .search-box {
      margin-right: 30px;
      cursor: pointer;
    }

    .navbar-text {
      font-size: $base-font-size;
      font-weight: $base-footer-font-weight;
      line-height: $line-height-button;
      margin: 12px 16px;
      float: left;

      .percent {
        margin-left: 20px;
      }
    }

    a#font_resize-minus {
      background: url(../images/minus.png) no-repeat center center;
      float: left;
      margin-right: 20px;
      margin-top: 4px;
      display: block;
      width:14px;
      height: 14px;
      text-indent: -999em;
      font-size: 0;
    }

    a#font_resize-plus { 
      text-indent: -999em;
      font-size: 0;
      float: left;
      background: url(../images/plus.png) no-repeat center center;
      margin-top: 0;
      display: block;
      width:14px;
      height: 14px;
      margin-right: 12px;
      margin-top: 4px;
    }

    .text-resize-block {
      float: right;
      margin-top: 12px;
      margin-right: 8px;
    }

    .dropdown-menu {
      margin: 0;
      padding: 8px 0;
      top: 96%;
      left: calc(100% - 240px);
      border-radius: 10px;
      width: 240px;
      font-size: 14px;

      li {
        padding: 0;
        margin: 0;
        display: inline;

        .form-type-checkbox {
          margin: 2px 0 0 0;
        }

        .form-type-checkbox-2 {
          margin-top: 10px;
          right: 5px;
        }
      }
    }
  }
}

#block-settingsmenu {

  .form-item-audio {
    .checkbox-toggle {
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      position: relative !important;
      border: 0;
      outline: 0;
      cursor: pointer;
      margin: 10px 0 10px 10px;
      top: 5px;
      right: -35px;

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 0px;
        top: -3px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.20);
      }

      &:after {

        content: '';
        width: 40px;
        height: 14px;
        display: inline-block;
        background: rgba(33, 33, 33, 0.08);

        border-radius: 18px;
        clear: both;

      }

      &:checked:before {
        left: 22px;
        background: rgba(203, 156, 161, 1);


      }

      &:checked:after {
        background: rgba(255, 205, 210, 1);

      }
    }
  }
}

#block-socialiconsfooterblock {

  .icons-warp {

    a {
      width: 24px;
      height: 24px;
      display: inline-block;
      border-radius: 50%;
      line-height: 24px;
      text-align: center;
      text-indent: 2px;
      color: #000;
      background: rgba(0, 0, 0, .1);
      margin-right: 16px;
      font-size: 14px;

      &:hover {
        color: #000;
      }
    }

  }
}

.zoom-wrap {
  clear: both;
}

.main-container {
  min-height: 200px;
}

body {
  .block {
    [hidden].contextual-links {
      display: none !important;
    }
  }
}

.region-footer-top {
  display: flex;
  flex-flow: row wrap;

  >* {
    flex: 1 100%;
  }
}

.article-hero-img {
  position: relative;
  margin-top: 60px;

  .hero-img {
    width: 100%;
  }

  h1 {
    border: 2px solid #000;
    text-align: center;
    /*margin: 25% 10% auto;*/
    top: 60%;
    left: 10%;
    padding: 2% 5%;
    width: 80%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;

    border-radius: 20px;
    font-size: $base-h1-tag;
    font-weight: 500;
  }
}

article {
  p {
    margin: 20px 0;
    font-size: $base-para-tag;
    line-height: 32px;
    font-weight: 400;

    &:last-child {
      margin-bottom: 20px;
    }


  }

  .paragraph--type--image-gallery,
  .paragraph--type--external-videos,
  .paragraph--type--video,
  .field--name-field-single-image {
    margin-bottom: 20px;
  }

  #video {
    width: 100%;
    border-radius: 20px;
  }

  .video-embed-field-provider-youtube {
    iframe {
      border-radius: 20px;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-bottom: 35px;

    .button-defult {
      background: $base-primary-bgcolor url("../images/sound-icon.png") no-repeat 20px center;
      padding-left: 45px;
    }
  }

  .field--name-field-tags {

    font-size: 16px;

    .field--label {
      font-weight: 400;
    }

    .field--items {
      display: flex;

      .field--item {

        font-weight: 500;
        text-decoration: underline;

        &:not(:first-child):before {
          content: " ,";
          margin-right: 5px;
          text-decoration: none;
        }
      }
    }
  }
}

.more-text {
  display: none;
}

article {
  .paragraph--type--image{
    margin-bottom: 20px;
  }
  .read-more {
    display: block;
    margin: 20px auto;
    width: auto !important;

    i {
      margin-left: 14px;
    }

  }
  .field--name-field-tags{
    .field-label{
      display: flex;
      .tag-label{
        margin-right: 5px;
      }
    }
  }
}
#block-languageswitcher{
  ul {
    li {
      a{
        font-size: $base-footer-font-size;
        
      }
    }
  }
}