span.subcat-name {
    display: block;
    min-height: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    /* or 160% */

    text-align: center;

    color: #000000;
}
h2.text-center.category-head {
    /* position: absolute; */
    /* width: 796px; */
    /* height: 48px; */
    left: 56px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
/* identical to box height, or 120% */
    letter-spacing: -0.5px;
    color: #000000;
}