.paragraph--type--wysiwyg-editor {
  .about-us__top {
    body,
    h2,
    h3,
    p {
      text-align: center;
    }
  }

  .full-width {
    left: 50%;
    margin: 0 -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .bg-pink {
    background-color: #fdf3f6;
  }

  .about-us__shared {
    display: flex;

    .item-row-reverse {
      @media screen and (min-width: 768px) {
        flex-direction: row-reverse !important;
      }
    }

    .shared-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .chat-bubble {
    background: #fff;
    border-radius: 10px;
    padding: 16px;

    &::after {
      border: 16px solid;
      border-color: #fff transparent transparent;
      bottom: -11px;
      content: ' ';
      height: 0;
      left: 50%;
      position: absolute;
      right: auto;
      width: 0;
    }
  }
}
