@mixin flex-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  list-style: none;
}

@mixin footer-default-styles {
  color: $base-black-color;
  font-size: $base-footer-font-size;
  font-family: $base-font-family;
  font-weight: $base-footer-font-weight;
  line-height: 24px;
  margin: 0;
}

@mixin quick-link-font {
  font-size: $base-footer-font-size-small;
  font-family: $base-font-family;
  font-weight: $base-footer-font-weight;
}

@mixin quick-link-anchor {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-footer-font-weight-medium;
  color: $base-black-color;
}

@mixin header-link-anchor {
  font-size: $base-footer-font-size;
  font-family: $base-font-family;
  font-weight: $base-footer-font-weight-medium;
  color: $base-black-color;
}

@mixin footer-header2 {
  font-size: $base-h2-font-size;
  font-weight: $base-footer-font-weight-medium;
  line-height: $base-h2-line-height;
}
@mixin h1-tag {
  font-size: $base-h1-tag;
  font-weight: 500;
  line-height: 64px;
}
@mixin h2-tag {
  font-size: $base-h2-tag;
  font-weight: 500;
  line-height: 48px;
}
@mixin p-tag {
  margin: 20px 0;
  font-size: $base-para-tag;
  font-weight: 400;
  line-height: 32px;
}