@media screen and (max-width: 767px) {
  body {
    .shepherd-element {
      width:100%;
      .shepherd-text {
        .tour-tip-body {
          padding: 0 12px;
        }
      }
    }
  }
#block-recommendedrelatedcontentblock{
  padding: 5px 0;
  border-top: 2px solid #00000066;
  .recomended-header{
    font-size: $header-logo-font;
    line-height: 28px;
    img{
      width: 24px;
    }
    span{
      padding-left: 8px;
    }
  }
  .recomended-wrapper{
  .recomended-item{
    padding-bottom: 15px;
    span{
      margin-top: 12px;
      a{
        font-size: $base-font-size;
        line-height:20px ;
        font-weight: 400;
      }
    }

  }
}
}
  .podcast-transcript,
  .transcript {
    line-height: 24px;
    font-size: $base-font-size;
  }

  .podcast-transcript-btn,
  .transcript-btn {
    button {
      margin: 4px 0 24px auto;
    }
  }

  article {
    .field--name-field-tags {
      .field--items {
        flex-wrap: wrap;
      }
    }
  }

  .breadcrumb {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .pod-video {
    margin: 24px 0;
  }

  h2 {
    font-size: $header-logo-font;
    line-height: 24px;
  }

  p {
    line-height: 20px;
    font-size: $base-footer-font-size;
  }

  .header-wrap {
    padding-left: 5px;

  }

  .region-header {
    #block-settingsmenu {
      .search-box {
        margin-right: 15px;
      }

    }

    .navbar-brand {
      padding: 15px 10px;
    }
  }

  #nav_wrap {
    .close-hamburger {
      float: left;
      font-size: 18px;
      margin-left: 8px;
      margin-top: 15px;
      margin-bottom: 0;
    }

    .logo-wrapper {
      clear: both;
      margin-left: 10px;

    }

    position: absolute;
    padding-right: 0;
    padding-bottom: 70px;
    width: calc(100% - 20px);
    top: -48px;
    z-index: 999;
    left: 0;
    background:$base-white-color;

    #block-iraqnavigationheadermenu,
    #block-navigationheadermenu {

      #faq,
      #discover {
        border-top: $mobile-seperator;
      }

      /* margin-left: 30px;*/
      >ul {
        margin: 0;
        border-top: $mobile-seperator;

        li {
          margin: 0;

          >div {
            margin: 12px 18px;
          }

          width: 100%;

          li {

            display: inline-block;
          }

        }

      }
    }
  }

  .region-footer {
    flex-direction: column-reverse;
  }

  .address-info {
    ul {
      li {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .block-menu-item-fieldsquick-links {
    h2 {
      @include footer-header2;
    }

    ul {
      li {
        margin-right: 25px;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  #block-copyright {
    .field--name-body {
      margin-top: 20px;
      text-align: center;
    }
  }

  .region-navigation {
    display: flex;
    justify-content: space-between;

    #block-languageswitcher {

      ul {
        top: 96%;
        left: calc(100% - 160px);
        border-radius: 10px;

        li {
          a {
            padding: 12px 20px;
            font-size: 16px;
          }
        }

      }
    }
  }

  .btn-trans {
    background: none;
    border: none;
    line-height: 44px;
    margin-right: 10px;
    border-bottom: 2px solid $footer-bg-color;

  }

  

  .telephone_in_mobile {
    img {
      margin-right: 13px;
      width: 20px;
      height: 20px;
    }
  }


  .hamburger {
    float: left;
    margin-right: 0;

    .icon-bar {
      background: #DADADA;
    }
  }

  #block-settingsmenu {
    margin-left: auto;
  }

  .article-hero-img {
    margin-top: 24px;

  }

  #block-globalstickyblock {
    top: inherit;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 72px;
    padding-top: 15px;

    .global_sticky {
      flex-direction: row;
      justify-content: space-around;

      .gethelp {
        margin: 0;
        order: -1;
      }

      .chatbot {
        img {
          margin-top: 2px;
        }

        span {
          margin-top: 8px;
        }
      }
    }
  }

  .footer-wrapper {
    margin-bottom: 60px;

  }
  .featured-stories{
    background: none;
    h3{
      margin: 24px 0;
      line-height: 28px;
      font-size: $header-logo-font;
      img{
        display: none;
      }
     
    }
  .featured_stories_block{
    margin-bottom: 40px;
    a{
      span{
        min-height: inherit;
      }
    }
    .four-slice,
    .two-slice{
      .play-circle{
        top:30%;
      }
      .play-circle-podcast{
        top: 125px;
      }
      .four-slice-img,
      .two-slice-img{
      height: 184px;
      }

    }

  }
}
}

@media screen and (min-width:768px) {
  #block-globalstickyblock {
    .global_sticky {
      a {
        span {
          width: 54px;
        }
      }
    }
  }

  .nav {
    .telephone_in_mobile {
      display: none;
    }
  }

  .pod-video {
    max-width: 835px;
  }

  #block-socialiconsfooterblock {
    margin-top: 80px;
    flex: 1 auto;

    .icons-warp {
      float: right;
    }
  }

  .footer-top-wrapper {
    flex: 1 auto;
  }

  #block-virtualsafespace {
    .field--name-body {
      p {
        max-width: 500px;
      }
    }
  }

  #langdd {
    display: none;
  }

  .navbar-header {
    float: none;
  }

  .region-navigation {
    display: flex;
    justify-content: space-between;

    #block-languageswitcher {

      ul {
        position: unset;
        background: initial;
        box-shadow: none;
        border: none;
        border-radius: 0;
        padding: 0;
        @include flex-ul;
        margin: 0;

        li {
          padding: 9px 20px;

          &.is-active {
            a::before {
              width: 150%;
            }
          }

          &:hover {

            a::before {
              width: 150%;
            }


          }

          a {
            position: relative;
            padding: 0;
            line-height: 30px;

            &:before {
              content: " ";
              position: absolute;
              top: 36px;
              left: -10px;
              width: 0;
              border-bottom: 2px solid $footer-bg-color;
            }

            color:$base-black-color;

            &:hover {
              text-decoration: none;
              background-color: unset;

            }
          }

        }
      }
    }

  }
}

/*ipad portarait*/

@media screen and (min-width:768px) and (max-width:991px) {
  .region-header {

    #block-iraqnavigationheadermenu,
    #block-navigationheadermenu {
      >ul {
        li {
          margin-right: 7px;

          >div {
            >div {
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}
