html[dir="rtl"] {
  .breadcrumb {
    li:first-child {
      a::before {
        float: right;
        margin-right: 0px;
        margin-left: 8px;
      }
    }

    img {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  .transcript-text,
  .podcast-transcript-text {
    margin-left: 0px;
    margin-right: 30px;
  }

  .btn-trans {
    .caret {
      margin-right: 2px;
    }
  }

  .logo-wrapper {

    a {
      float: right !important;
    }
  }

  .header-wrap {
    padding-right: 5px;
    padding-left: 15px;
  }

  .telephone-header {
    a {
      direction: ltr;
      unicode-bidi: embed;
    }
  }

  .exit-website-btn {
    i {
      padding-left: 12px;
      padding-right: 0;
    }
  }

  .block-menu-item-fieldsquick-links {
    ul {
      padding-right: 0;

      li {

        margin-right: 0;
        margin-left: 25px;

        >div {
          >div {
            padding-left: 12px;
            padding-right: 0;

          }
        }
      }
    }

  }

  #block-virtualsafespace {
    .logo-title-wrapper {
      .field--name-field-logo {
        margin-left: 12px;
        margin-right: 0;
      }
    }

  }

  .address-info {
    ul {
      li {
        margin-right: 0;
        margin-left: 10px;

        img {
          margin-left: 10px;
          margin-right: 0;
        }

      }
    }
  }

  .wrapper-main-icons {
    .icons-warp {
      a {
        padding-left: 0;
        padding-right: 4px;
      }
    }
  }

  #nav_wrap {
    margin-right: auto;
    margin-left: 0;

    .logo-wrapper {
      margin-right: 25px;
    }
  }

  .region-header {
    #discover1> {
      div> {
        div {
          padding-right: 0;
          padding-left: 20px;
        }
      }
    }

    #block-iraqnavigationheadermenu {
      >ul {
        li {
          >div {
            >div {
              padding-left: 12px;
            }
          }
        }
      }

      .discoverdd {
        right: 24px;
      }



      #discover1 {
        .caret {
          /* margin-right: 10px;*/
        }
      }
    }

    #block-settingsmenu {
      .search-box {
        margin-left: 30px;
      }

      .dropdown-menu {
        right: calc(100% - 240px);

      }
    }
  }

  .region-header {
    #block-settingsmenu {
      .form-item-audio {
        .checkbox-toggle {
          right: -10px;

        }
      }

      .text-resize-block {
        float: left;
        margin-left: 21px;

        a#font_resize-plus,
        a#font_resize-minus {

          float: right;

        }

        a#font_resize-plus {
          margin-right: 20px;
        }
      }

      .dropdown-menu {
        li {
          .form-type-checkbox-2 {
            right: 2px;
          }
        }
      }

      .percentsymbol {
        margin-right: 10px;
      }

      .navbar-text {
        float: right;
        clear: both;

        .percent {
          float: left;
          margin-left: 0;
          margin-right: 0px;
        }
      }
    }
  }

}

@media screen and (max-width:767px) {

  html[dir="rtl"] {
    .region-header {
      #block-settingsmenu {
        .search-box {
          margin-left: 15px;
        }
      }

      .navbar-brand {
        font-size: 1.32em;
      }

    }

    .telephone_in_mobile {
      img {
        margin-left: 16px;
      }
    }

    #block-settingsmenu {
      margin-left: 0;
      margin-right: auto;
    }

    .region-navigation {
      #block-languageswitcher {
        ul {
          right: calc(100% - 160px);
        }

        li {
          a {
            text-align: right;
          }
        }
      }
    }

    #block-socialiconsfooterblock {
      .icons-warp {
        a {
          margin-right: 0;
          margin-left: 16px;

        }
      }
    }

    #nav_wrap {
      left: auto;
      right: 0;

      .logo-wrapper {
        a {
          float: right !important;
        }
      }

      .close-hamburger {
        float: right;
        margin-right: 20px;
      }
    }
  }

  article {
    .buttons {
      button {
        background: $base-primary-bgcolor url("../images/sound-icon.png") no-repeat 102px center;
        padding-left: 15px;
        padding-right: 45px;
      }
    }
  }
}

@media screen and (min-width:768px) {
  html[dir="rtl"] {
    #block-globalstickyblock {
      left: 2%;
      right: inherit;
    }

    #block-socialiconsfooterblock {
      .icons-warp {
        float: left;
      }
    }
  }
}

/*rtl ipad portarait*/

@media screen and (min-width:768px) and (max-width:991px) {
  html[dir="rtl"] {
    .region-header {

      #block-iraqnavigationheadermenu,
      #block-navigationheadermenu {
        >ul {
          li {
            margin-right: 0px;
            margin-left: 7px;

            >div {
              >div {
                padding-right: 0px;
                padding-left: 8px;
              }
            }
          }
        }
      }
    }
  }
}

html[lang="ku"] {
  .region-header {
    #block-settingsmenu {
      .dropdown-menu {
        li {
          .form-type-checkbox-2 {
            right: 25px;
          }
        }
      }
    }
  }
}

html[lang="es"] {
  .region-header {
    #block-settingsmenu {
      .dropdown-menu {
        li {
          .form-type-checkbox-1 {
            right: 16px;
          }

          .form-type-checkbox-2 {
            right: 28px;
          }
        }
      }
    }
  }
}
