$base-font-family: Roboto, serif;
$base-font-size: 1.14em/* 16px */;
$base-font-big-size: 1.28em/* 18px */;
$base-font-weight: 700;
$base-primary-bgcolor: #FFCDD2;
$base-primary-light-bgcolor: #FFCDD233;
$base-secondary-bgcolor: #CD0000;
$base-white-color: #ffffff;
$header-logo-font: 1.42em/* 20px */;
$header-logo-color: #BB6A79;
$no-border: 0;
$line-height-button: 24px;
$border-radius-button: 4px;
$letter-spacing-button: 1.25px;
$left-padding-button: 16px;
$top-padding-button: 12px;
$footer-bg-color: #CB9CA1;
$base-black-color: #000;
$base-black-light-color: #000000CC;
$base-black-thick-color: #00000099;
$base-footer-font-size: 1em/* 14px */;
$base-footer-font-weight: 400;
$base-footer-font-size-small:  0.85em/* 12px */;
$base-footer-font-weight-medium: 500;
$font-weight-normal: normal;
$base-h2-font-size: 1.714em/* 24px */;
$base-h2-line-height: 30px;
$mobile-seperator: 1px solid rgba(33, 33, 33, 0.08);
$base-para-tag:  1.42em/* 20px */;
$base-h2-tag: 2.85em/* 40px */;
$base-h1-tag: 4em/*56px*/;
$base-h3-tag: 2.57em;/*36px*/;
$h2-responsive: 1.5em /*21px*/;
$base-black-title-color: #000000DE;

