$base-font-family:Roboto;
$base-font-size:16px;
$base-font-weight:700;
$base-primary-bgcolor:#FFCDD2;
$base-secondary-bgcolor:#CD0000; 
$base-secondary-color:#fff;
$no-border:0;
$line-height-button:24px;
$border-radius-button:4px;
$letter-spacing-button:1.25px;
$left-padding-button:16px;
$top-padding-button:12px;
