<div class="pending-approvals-box">
  <div class="pending-service-count">
    <div class="pending-count">{{ count }}</div>
    <div class="pending-text">{{ "User Registrations"|t }}</div>
  </div>
  <div class="pending-review-link">
    <a href="{{ path("view.user_lists.page_2") }}">{{ "Review Now"|t }}</a>
  </div>
</div>