<div class="share-feedback-block">
    <div class="feedback-text-block">
        <div class="feedback-text-header">
            <p>{{ blockTitle }}</p>
        </div>
        <div class="feedback-text">
            <p>{{ blockDescription }}</p>
        </div>
    </div>
    <a href="/share-feedback">{{ 'Share feedback'|t }}</a>
</div>
