.ui-dialog {
	margin: 0 auto;
	padding: 0;
	left: 0 !important;
	right: 0 !important;
  width: 100%!important;
	@media screen and (min-width: 1400px) {
		width: 1400px !important;
	}

	.ui-dialog-content {
		overflow-x: hidden;
		padding: 0;
	}
	.ui-dialog-titlebar {
		background: none;
		border: 0;
	}
	.ui-dialog-titlebar-close {
		background: url('../images/close.png') 0 0 no-repeat;
		border: 0;
    height: 24px;
    width: 24px;
	}
	.input-group {
		width: 75%;
		margin: 0 auto;
		input[name='search_api_fulltext'] {
			border: 4px solid #CB9CA1;
			border-radius: 4px !important;
			color: rgba(36, 36, 36, 0.6);
			padding: 24px 15px;	
		}
	}
	.block-views-exposed-filter-blocks-block {
		background: none;
		form {
			margin: 0 13%;
			@media screen and (min-width: 1400px) {
				margin: 0 20%;
			}
		}
	}

	//Popular search
	.block-views-blocktop-viewed-nodes-block {
		max-width: 1045px;
    width: 100%;
    margin: 0 auto 40px;
		@media screen and (min-width: 768px) {
			margin: 40px auto 55px;
		}
	}
	.block-title {
		font-size: $base-para-tag;
		font-weight: 500;
		margin-bottom: 20px;
		text-align: center;
		@media screen and (min-width: 768px) {
			font-size: $base-h3-tag;
			margin-bottom: 30px;
		}
	}
	.view-content {
		@media screen and (min-width: 1366px) {
			margin: 0 -12px;
		}
	
		.views-row {
			display: inline-block;
			margin: 0 12px 20px;
			vertical-align: top;
			width: calc(24.6% - 24px);
			@media screen and (max-width: 414px) {
				display: block;
				width: calc(100% - 24px);
			}
			&:nth-of-type(1),
			&:nth-of-type(2) {
				@media screen and (max-width: 414px) {
					display: block;
					width: calc(100% - 24px);
				}
				@media screen and (min-width: 768px) {
					width: calc(49.7% - 24px);
				}
			}
			img {
				width: 100%;
			}
		}
		.popular-search-thumbnail {
			position: relative;
			margin-bottom: 10px;
			@media screen and (min-width: 768px) {
				margin-bottom: 16px;
			}
			img {
				border-radius: 20px;
			}
			span.video-time,
			span.podcast-time {
				background: $base-black-color;
				color:$base-white-color;
				position: absolute;
				right: 10px;
				bottom: 10px;
				padding: 0 5px;
			}
		}
		.popped-category-title a {
			font-size: $base-font-size;
			text-decoration: none;
			&:hover {
				color: #030303;
			}
		}
	}

	//categories
	.category-popup-section {
		background: url('../images/search-popup-bg.png') top -100px center no-repeat rgba(255, 205, 210, 0.2);
		padding: 20px 0;
		.subcat-name {
			display: block;
			font-size: $base-font-size;
			margin: 16px 0;
			@media screen and (min-width: 768px) {
				font-size: $base-h2-font-size;
			}
		}
		.subcat-desc {
			line-height: 24px;
			@media screen and (min-width: 768px) {
				font-size: $base-footer-font-size;
			}
		}
		.cat-col {
			margin: 0 0 24px;
			a:hover {
				color: $base-black-color;
				text-decoration: none;
			}
		} 
	}
	.category-detail {
		width: 80%;
    margin: 0 auto;
		@media screen and (min-width: 1024px) {
			width: 960px !important;
    	margin: 65px auto 30px;
		}
		.category-icon {
			border-radius: 50%;
			display: inline-block;
			padding: 17px 16px;
		}
	}
}
