.homepage-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 48px;

  .field--item {
    padding: 20px;
  }

  .service-image {
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  .service-block-title,
  .service-desc {
    padding: 0 10px;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}

.service-title {
  margin: 20px auto;
  width: 80%;
}
