.discover-section {
  .discover-category-thumbnail {
    align-items: center;
    border: 5px solid #fff;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    overflow: hidden;
    width: 80px;
  }
}
