.homepage-hero {
  background-color: #fef4f6;
  margin: 0 -20%;

  .homepage-hero-section--title {
    @media screen and (min-width:1024px) {
      padding: 0p 30px;
    }
  }
}

.hero-wrapper {
  margin: 0 20%;
  text-align: center;
}

.homepare-cat-wrapper {
  background-color: #fef4f6;
  margin: 0 -20%;
}

.homepage-category {
  background: #fef4f6 url('../images/categorybg.png') no-repeat center;
  background-size: 100%;
  height: 35vw;
  margin: 0 14%;
  position: relative;

  @media screen and (min-width:1024px) {
    height: 29vw;
  }

  .spacer {
    height: 100%;
    @media screen and (min-width:1024px) {
      height: 0;
    }
  }
}

.homepage-hero-section--categories {
  background-color: #ffcdd2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 -15%;
  position: relative;

  &.lightSlider {
    margin: 0;
  }

  .category-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .category-thumbnail,
  .category-thumbnail--large {
    align-items: center;
    border: 5px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .category-thumbnail {
    height: 60px;
    width: 60px;
    @media screen and (min-width: 768px) {
      height: 80px;
      width: 80px;
    }

    &--large {
      flex-direction: column;
      height: 140px;
      width: 140px;

      .category-name-hover {
        color: #000;
        font-weight: 500;
        padding: 5px;
        text-align: center;
      }
    }
  }

  .category-name {
    padding: 5px 0;
    text-align: center;
    width: 100px;
  }

  @media screen and (min-width: 1024px) {
    background: transparent;
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .category-item {
    position: absolute;
  }

  .categories-1 {
    .category-item-0 {
      top: 7px;
    }
  }

  .categories-2 {
    .category-item-0 {
      left: 40%;
      position: absolute;
      top: 5%;
    }

    .category-item-1 {
      position: absolute;
      right: 40%;
      top: 5%;
    }
  }

  .categories-3 {
    .category-item-0 {
      left: 25%;
      position: absolute;
      top: 28%;
    }

    .category-item-1 {
      position: absolute;
      top: 7px;
    }

    .category-item-2 {
      position: absolute;
      right: 25%;
      top: 28%;
    }
  }

  .categories-4 {
    .category-item-0 {
      left: 28%;
      top: 17%;
    }

    .category-item-1 {
      left: 40%;
      position: absolute;
      top: 2%;
    }

    .category-item-2 {
      position: absolute;
      right: 40%;
      top: 2%;
    }

    .category-item-3 {
      right: 28%;
      top: 17%;
    }
  }

  .categories-5 {
    .category-item-0 {
      left: 25%;
      top: 24%;
    }

    .category-item-1 {
      left: 35%;
      top: 6%;
    }

    .category-item-2 {
      top: 1%;
    }

    .category-item-3 {
      right: 35%;
      top: 6%;
    }

    .category-item-4 {
      right: 25%;
      top: 24%;
    }
  }

  .categories-6 {
    .category-item-0 {
      left: 20%;
      position: absolute;
      top: 41%;
    }

    .category-item-1 {
      left: 28%;
      position: absolute;
      top: 17%;
      }

    .category-item-2 {
      left: 40%;
      position: absolute;
      top: 2%;
    }

    .category-item-3 {
      position: absolute;
      right: 40%;
      top: 2%;
      }

    .category-item-4 {
      position: absolute;
      right: 28%;
      top: 17%;
    }

    .category-item-5 {
      position: absolute;
      right: 20%;
      top: 41%;
    }
  }
}


@media screen and (min-width: 1200px) {
  .categories-1 {
    .category-item-0 {
      position: absolute;
      top: 8%;
    }
  }

  .categories-2 {
    .category-item-0 {
      left: 40%;
      top: 11%;
    }

    .category-item-1 {
      right: 40%;
      top: 11%;
    }
  }

  .categories-3 {
    .category-item-0 {
      left: 25%;
      top: 31%;
    }

    .category-item-1 {
      top: 9%;
    }

    .category-item-2 {
      position: absolute;
      right: 25%;
      top: 31%;
    }
  }

  .categories-4 {
    .category-item-0 {
      left: 28%;
      top: 25%;
    }

    .category-item-1 {
      left: 40%;
      position: absolute;
      top: 11%;
    }

    .category-item-2 {
      position: absolute;
      right: 40%;
      top: 11%;
    }

    .category-item-3 {
      right: 28%;
      top: 25%;
    }
  }

  .categories-5 {
    .category-item-0 {
      left: 25%;
      position: absolute;
      top: 30%;
    }

    .category-item-1 {
      left: 35%;
      position: absolute;
      top: 13%;
    }

    .category-item-2 {
      position: absolute;
      top: 7%;
    }

    .category-item-3 {
      position: absolute;
      right: 35%;
      top: 13%;
    }

    .category-item-4 {
      position: absolute;
      right: 25%;
      top: 30%;
    }
  }

  .categories-6 {
    .category-item-0 {
      left: 20%;
      position: absolute;
      top: 47%;
    }

    .category-item-1 {
      left: 28%;
      position: absolute;
      top: 25%;
      }

    .category-item-2 {
      left: 40%;
      position: absolute;
      top: 11%;
    }

    .category-item-3 {
      position: absolute;
      right: 40%;
      top: 11%;
      }

    .category-item-4 {
      position: absolute;
      right: 28%;
      top: 25%;
    }

    .category-item-5 {
      position: absolute;
      right: 20%;
      top: 47%;
    }
  }
}

.lSPrev{
  background: transparent url('../images/left-arrow.png') center no-repeat;
  left: -23px;
}

.lSNext {
  background: transparent url('../images/right-arrow.png') center no-repeat;
  right: -23px;
}

.lSNext,
.lSPrev {
  position: absolute;
  width: 37px;
  height: 37px;
  bottom: -63px;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.hide-desktop {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.hover-show {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
}

//Hero Search
// @Todo: Separate this from this file later

.block-views-exposed-filter-blocks-block {
  background: #fdf3f6;
  margin: 0 -20%;

  form {
    margin: 0 20%;
    padding: 30px;
  }

  .form-type-search-api-autocomplete,
  .input-group {
    width: 100%;

    .input-group-addon {
      display: none;
    }

    input[name="search_api_fulltext"] {
      border: 3px solid #ffcdd2;
      border-radius: 3px !important;
      outline: 0;
  
      &:focus {
        border: 3px solid #ffcdd2;
      }
    }
  }
}
