.block-facet-blockcity,
.block-facet-blockservice-provider-name,
.block-facet-blockservice-provider-name {
  background-color: $base-primary-bgcolor;
  margin-bottom: 48px;

  .block-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin: 10px 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    &.facet-item {
      display: flex;
      margin-bottom: 5px;
    }

    input[type=checkbox] {
      margin-right: 6px;
      margin-top: 0;
    }

    .label {
      margin-bottom: 0;
    }
  }
}
