.view-search {
  form {
    & > .form-inline {
      display: flex;
    }
    .form-submit {
      &.btn-primary {
        padding: 16px 20px;
      }
    }
  }

  .form-type-search-api-autocomplete,
  .input-group {
    margin-right: 16px;
    width: 100%;
  }
  .form-text {
    border: 1px solid $base-white-color;
    border-radius: 0;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 27px 16px;
  }
  .input-group-addon {
    display: none;
  }
  .all-result-text {
    font-size: $base-footer-font-size;
    line-height: 16px;
    font-weight: $base-footer-font-weight-medium;
    margin: 20px 0 60px;
    span {
      border-bottom: 1px solid #C36657;
      padding: 16px;
    }
  }
  .views-row {
    box-shadow: 0px 0.8px 1.5px rgba(0, 0, 0, 0.1), 0px 8px 12px rgba(0, 0, 0, 0.2);
    padding: 18px;
    margin-bottom: 24px;
  }
  .search-result-page {
    @media screen and (min-width: 667px) {
      display: flex;
    }
  }
  .search-content-image {
    position: relative;
    margin-bottom: 15px;
    @media screen and (min-width: 667px) {
      margin: 0 20px 0 0;
      max-width: 296px;
      width: 100%;
    }
    .popular-picture {
      position: relative;
    }
    img {
      border-radius: 20px;
      width: 100%;
      @media screen and (min-width: 667px) {
      }
    }
  }
  .search-content-title,
  .search-content-cat {
    color: $base-black-color;
    font-size: $base-font-size;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 15px;
    a {
      color: $base-black-color;
    }
    .cat-icon {
      border-radius: 50%;
      display: inline-flex;
      height: 24px;
      padding: 2px;
      width: 24px;
    }
    span.cat-title {
      padding-left: 8px;
    }
  }
  .search-content-cat {
    text-transform: uppercase;
  }
  .pager__item {
    a {
      background: $base-primary-bgcolor;
      border: 0;
      border-radius: 4px;
      color: #000;
      padding: 4px 24px 4px 16px;
      font-size: 14px;
      line-height: 36px;
      font-weight: 500;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      &::after {
        background: url('../images/button-arrow.svg') no-repeat center 2px;
        content: '';
        display: inline-block;
        height: 20px;
        margin-left: 10px;
        vertical-align: middle;
        width: 10px;
      }
      &:hover {
        background: $base-primary-bgcolor;
      }
    }
  }
}

.form-submit {
  &.btn-primary {
    background-color: $base-primary-bgcolor;
    border-color: $base-primary-bgcolor;
    color: $base-black-color;
    height: unset !important;
    padding: 17px 20px !important;
    text-transform: uppercase;
    width: unset !important;

    &:focus,
    &:visited,
    &:hover {
      background-color: $base-primary-bgcolor;
      border-color: $base-primary-bgcolor;
      color: $base-black-color;
      outline: none;
    }

    .glyphicon  {
      margin: 4px;
    }
  }
}
