.block-subcategory-hero-block {
  background: url('../images/subcat-hero-mobile.svg') no-repeat;
  background-size: 100% ;
  left: 50%;
  margin: 0 -50vw;
  max-width: 100vw;
  min-height: 500px;
  position: relative;
  right: 50%;
  width: 100vw;
  @media screen and (min-width: 1024px) {
    background: url('../images/subcategory-hero.svg') no-repeat;
  }

  .hero-banner {
    @media screen and (min-width: 1024px) {
      display: flex;
      padding-top: 80px;
    }

    .banner-left,
    .banner-right {
      padding: 0;
    }

    .banner-left {
      img {
        border-radius: 20px;
        max-width: 100%;
      }
    }

    .banner-title {
      font-weight: 400;
      margin-bottom: 32px;
    }

    .thumbnail-icon {
      background-size: 100% !important;
      height: 25px;
      left: 18px;
      position: absolute;
      top: 18px;
      width: 20px;
    }

    .icon-video {
      background: url('../images/video-icon.png') no-repeat;
    }

    .icon-podcast {
      background: url('../images/podcast-icon.png') no-repeat;
    }

    .icon-article {
      background: url('../images/article-icon.png') no-repeat;
    }

    .icon-scorm {
      background: url('../images/cources-icon.png') no-repeat;
    }
  }

  .banner-cta {
    background: #fecdd2;
    border-radius: 4px;
    color: #000;
    font-weight: 500;
    padding: 14px 25px;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }

    &::after {
      background: url('../images/button-arrow.svg') no-repeat center;
      content: '';
      display: inline-block;
      height: 20px;
      margin-left: 10px;
      vertical-align: bottom;
      width: 10px;
    }
  }
}
