.block-views-blocksub-category-all-result-block-1 {
  // background: url('../images/subcat-hero-mobile.svg') no-repeat;
  background-size: 100% ;
  left: 50%;
  margin: 0 -50vw;
  max-width: 100vw;
  // min-height: 500px;
  position: relative;
  right: 50%;
  width: 100vw;
  @media screen and (min-width: 1024px) {
    background: url('../images/subcategory-list-bg.svg') repeat-y;
  }

  .view-header {
    align-items: center;
    border-bottom: 2px solid #CB9CA1;
    display: inline-flex;
    margin: 35px 0;
    padding: 14px;

    &::before {
      background: url('../images/allresult.svg') no-repeat;
      background-size: 100%;
      content: '';
      display: inline-block;
      height: 14px;
      margin-right: 5px;
      width: 12px;
    }
  }

  & + .views-element-container {
    display: none;
  }

  .pager__item {
    .button {
      background: #fecdd2;
      border-radius: 4px;
      color: #000;
      font-weight: 500;
      margin-top: 40px;
      padding: 14px 25px;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }

      &::after {
        background: url('../images/button-arrow.svg') no-repeat center;
        content: '';
        display: inline-block;
        height: 20px;
        margin-left: 10px;
        transform: rotate(90deg);
        vertical-align: bottom;
        width: 10px;
      }
    }
  }
}

.subcategory-content-listing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .thumbnail-image {
    @media screen and (min-width: 1024px) {
      // display: flex;
      // padding-top: 80px;
      height: 286px;
    }
    height: 184px;
    margin: 20px 0;
    position: relative;
    width: 100%;

    img {
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }
  }

  .content-title {
    font-size: 16px;
  }

  .read-time {
    font-size: 16px;
    margin-left: 5px;
  }

  .item-small {
    .thumbnail-image {
      height: 186px;
    }

    @media screen and (min-width: 1024px) {
      .thumbnail-image {
        height: 140px;
      }
    }
  }

  a {
    color: #000;
    display: block;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .video-play-icon {
    background: url('../images/play-circle.png') no-repeat center;
    background-size: 100%;
    height: 45px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 45px;
  }

  .podcast-play-icon {
    background: url('../images/play-circle-pod.png') no-repeat center;
    background-size: 100%;
    bottom: 8px;
    height: 36px;
    left: 8px;
    position: absolute;
    width: 36px;
  }

  .video-time {
    background: #000;
    bottom: 9px;
    color: #fff;
    padding: 0 4px;
    position: absolute;
    right: 8px;
  }
}
