<!DOCTYPE html>
<html {{ html_attributes }}>
  <head>
    <link rel="stylesheet" href="./profiles/unicef/themes/custom/vss/css/style.css">
    <style type="text/css">
      /* @todo: A4 page CSS */
      title{
        font-size:36px;
      }
      .page-title{
        font-size:30px;
      }
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>