.simple-status-messages {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-1 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-2 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-3 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-4 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-1 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-2 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-3 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-4 {
  display: block !important;
}

/* Convert webform workflow transitions into CTA  */
.erpw-workflow-cta-button {
  background: #A85766;
  border: 1px solid #A85766;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.view-page-webform-submission .pair-container {
  display: flex;
  flex-direction: column;
}
.view-page-webform-submission .pair-container .label {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #a85766;
  font-weight: 500;
  font-family: Roboto;
}
.view-page-webform-submission .pair-container .value {
  width: 100%;
  display: block;
  font-family: Roboto;
  font-size: 12px;
  padding: 15px 0;
  word-break: break-word;
}

