:root {
  --mustardyellow: #f9d14a;
  --peach: #f4cbca;
  --lavender: #b2a0d9;
  --green: #7fbc72;
}
.apply-mustard-yellow {
  background-color: var(--mustardyellow);
}
.apply-peach {
  background-color: var(--peach);
}
.apply-lavender {
  background-color: var(--lavender);
}
.apply-green {
  background-color: var(--green);
}
.webform-submission-edit-form #edit-location-details #location-level-1 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-2 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-3 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-4 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-1 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-2 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-3 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-4 {
  display: block !important;
}

/* Convert webform workflow transitions into CTA  */
.erpw-workflow-cta-button {
  background: #a85766;
  border: 1px solid #a85766;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.view-page-webform-submission .pair-container {
  display: flex;
  flex-direction: column;
}
.view-page-webform-submission .pair-container .label {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #a85766;
  font-weight: 500;
  font-family: Roboto;
}
.view-page-webform-submission .pair-container .value {
  width: 100%;
  display: block;
  font-family: Roboto;
  font-size: 12px;
  margin: 15px 0;
  word-break: break-word;
}
.offline-service-view-page .offline-service-content {
  padding: 20px !important;
  margin-bottom: 60px !important;
}
.offline-service-view-page main {
  padding: 0 !important;
  margin: 0 !important;
}

/* Webform submissions list page. */
.services-webform-submissions-list .view-filters {
  border-top: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.services-webform-submissions-list .view-filters .form--inline .js-form-item {
  width: 40% !important;
  margin-right: 20px !important;
}
.services-webform-submissions-list .view-filters .form--inline .form-actions {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}
.services-webform-submissions-list
  .view-filters
  .form--inline
  .form-actions
  input {
  width: 20%;
  margin-right: 12px;
}

.service-providers-submission-row {
  box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
  border-radius: 10px;
  padding: 5px 10px 10px;
  margin: 13px 0 15px;
}

.service-providers-submission-row .row-header {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #d7d7d7;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.service-providers-submission-row
  .row-header
  .service-type-color-logo-container {
  display: flex;
  width: fit-content;
  position: relative;
}
.service-providers-submission-row
  .row-header
  .service-type-color-logo-container
  .service-type-color {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.service-providers-submission-row
  .row-header
  .service-type-color-logo-container
  .service-type-logo {
  top: 17px;
  position: relative;
  height: fit-content;
  right: 33px;
}
.service-providers-submission-row .row-header .service-type-org a {
  font-family: Roboto;
  font-size: 12px;
  color: #444;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-all;
}
.service-providers-submission-row .views-field {
  display: flex;
  margin-top: 10px;
  padding: 0 5px;
  text-transform: capitalize;
  word-break: break-word;
}
.service-providers-submission-row .views-field .views-label {
  max-width: 100px;
  width: 100%;
  color: #444;
  font-size: 12px;
  font-family: Roboto;
}

.service-providers-submission-row .views-field .field-content {
  color: #444;
  font-size: 12px;
  font-family: Roboto;
}
.service-providers-submission-row
  .service-provider-details
  .service-detail-heading {
  border-bottom: none;
  border-top: 0.5px solid #d7d7d7;
  margin-top: 15px;
  margin-bottom: 0;
  justify-content: flex-end;
}
.service-providers-submission-row .service-provider-details span {
  padding: 0;
}

.erpw-webform-manage-services .view-filters {
  padding-top: 10px;
  margin-top: 15px;
  border-top: 2px solid rgba(243, 193, 191, 0.53);
}

.erpw-webform-manage-services .view-filters .form--inline {
  margin-top: 15px;
}
.erpw-webform-manage-services .view-filters .form--inline .js-form-item {
  margin-right: 0;
  width: 100%;
}
.service-provider-details
  .service-detail-heading
  .view-delete-links
  .view-link
  a {
  color: #a85766;
  border-bottom: 1px solid #a85766;
  text-decoration: none;
  font-size: 12px;
  margin: 10px 0;
  display: block;
  margin-right: 10px;
}
.service-provider-details
  .service-detail-heading
  .view-delete-links
  .view-link
  a::after {
  background: url(/themes/custom/erpw/images/arrow-small.svg) center right
    no-repeat;
  content: "";
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}
.select-service-type-webform .row-header {
  border-bottom: none;
  width: 100%;
  padding: 0;
}
.select-service-type-webform .row-header .service-type-color-logo-container {
  align-items: center;
  width: 100%;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-logo
  i {
  color: black;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-org {
  color: #a85766;
  font-family: Roboto;
  font-size: 14px;
  display: block;
  width: 100%;
  background: url(/themes/custom/erpw/images/arrow-right.svg) right center
    no-repeat;
  margin-right: 9px;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-logo {
  top: unset;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-color {
  max-width: 50px;
  width: 100%;
}
.details-heading {
  border-bottom: 1px solid rgba(243, 193, 191, 0.53);
  color: #a85766;
  padding: 20px 50px;
  padding-left: 0px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
}
#edit-unlock {
  background: #a85766;
  border: 1px solid #a85766;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-shadow: none !important;
}
.webform-details-toggle-state-wrapper {
  visibility: hidden;
  height: 0px;
}
.webform-submission-form .node-service-provider-form summary {
  background: #a85766;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.08);
  padding: 14px 17px;
}
.webform-submission-form .node-service-provider-form summary::after {
  background: #ffffff;
  -webkit-mask: url(/themes/custom/erpw/images/arrow.svg) center center
    no-repeat;
  mask: url(/themes/custom/erpw/images/arrow.svg) center center no-repeat;
  transform: rotate(180deg);
  background-position: inherit;
  content: "";
  color: #a85766;
  display: inline-block;
  height: 6px;
  width: 12px;
}
.webform-submission-form
  .node-service-provider-form
  summary[aria-expanded="false"]::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-position: right center;
}
.webform-submission-form .node-service-provider-form {
  border-radius: 15px;
  border: 1px solid #a85766;
}
#block-changes-submissions {
  box-shadow: 0px 1px 12px rgba(103, 97, 97, 0.15);
  border-radius: 15px;
  padding: 15px 18px;
  margin-bottom: 22px;
  color: rgb(68, 68, 68);
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
#block-changes-submissions a {
  color: #a85766;
  font-size: 11px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
  background: #fcf1f0;
  display: block;
  width: auto;
  max-width: 100%;
  padding: 30px;
  text-align: center;
  border-radius: 11px;
  text-decoration: underline;
  margin-top: 10px;
}
.service-provider-comparing-box {
  background-color: rgb(255, 246, 245);
  padding: 10px;
  width: 100%;
  color: #a85766;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
}
.service-provider-comparing-box .content {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.service-provider-comparing-box .content .row a {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  width: max-content;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(0, 0, 238);
  font-weight: normal;
}
.pair-container .pair-container-moderated {
  display: flex;
  flex-direction: row;
}
.pair-container .pair-container-moderated .value-moderated {
  background-color: #fcc;
  text-decoration: line-through;
  width: max-content;
  display: block;
  font-family: Roboto;
  font-size: 12px;
  margin: 15px 0;
  word-break: break-word;
}
.pair-container .pair-container-moderated .value {
  background-color: #cfc;
}
.view-manage-in-review-webform-services-listing .view-filters {
  border-top: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.manage-services-filters .view-filters .form--inline {
  display: flex;
  justify-content: space-between;
}
.manage-services-filters .view-filters .form--inline .js-form-item {
  width: 45%;
}

@media only screen and (max-width: 768px) {
  .manage-services-filters .view-filters .form--inline {
    flex-direction: column;
  }
  .manage-services-filters .view-filters .form--inline .js-form-item {
    width: 100%;
  }
}

.edit-delete-links .review-link a {
  color: #a85766;
  border-bottom: 1px solid #a85766;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-right: 10px;
  width: 52px;
}

.erpw-workflow-cta-button.draft-transition {
  background-color: #d4919d;
  border: 1px solid #d4919d;
}

.erpw-workflow-cta-button.delete-transition {
  color: #a85766;
  background-color: #ffffff;
  border: 2px solid #a85766;
}

.delete-service-popup .path-user .ui-dialog-titlebar {
  padding: 35px 0 0;
}
.delete-service-popup .ui-dialog-title {
  color: #a85766 !important;
  margin-bottom: 15px;
}
.delete-service-popup .message-delete-white {
  margin: 15px 0;
}

.ui-dialog.delete-service-popup {
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  border: 1px solid #a85766 !important;
  border-radius: 10px;
  padding: 10px 8px;
  font-size: 1em;
  text-align: center;
  width: 300px !important;
  background: #fff;
}
.ui-dialog.delete-service-popup .ui-dialog-title {
  float: none;
  margin-top: 10px;
  white-space: inherit;
}
.ui-dialog.delete-service-popup .ui-dialog-titlebar {
  background: none;
  border: 0;
}
.ui-dialog.delete-service-popup .ui-dialog-content {
  padding: 0 !important;
  overflow-x: hidden;
}
.ui-dialog.delete-service-popup .ui-button {
  border: none;
}
.ui-dialog.delete-service-popup .ui-button .ui-icon {
  background: url("../images/cross.svg") 0 0 no-repeat !important;
}
.ui-dialog.delete-service-popup input[type="submit"],
.ui-dialog.delete-service-popup .button-red {
  width: 72%;
}
.ui-dialog.delete-service-popup .ui-dialog-buttonpane {
  padding: 0;
  border-width: 0;
  background: none;
}
.ui-dialog.delete-service-popup .ui-widget-content.ui-dialog-buttonpane {
  background: none;
}
.ui-dialog.delete-service-popup .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  text-align: center;
}
.ui-dialog.delete-service-popup
  .ui-dialog-buttonpane
  .ui-dialog-buttonset.form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 10px 0px;
}
.ui-dialog.delete-service-popup
  .ui-dialog-buttonpane
  .ui-dialog-buttonset.form-actions
  button {
  background: none;
  border: 1px solid #a85766;
  color: #a85766;
}
.ui-dialog.delete-service-popup
  .ui-dialog-buttonpane
  .ui-dialog-buttonset.form-actions
  .js-form-submit {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-left: 20px;
  background: #a85766;
  border: 1px solid #a85766;
  color: #ffffff;
}
.ui-dialog.delete-service-popup .ui-dialog-buttonpane button {
  background: #a85766;
  border: 1px solid #a85766;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 72%;
}
.webform-type-radios .js-webform-radios {
  flex-direction: column !important;
}
.webform-type-radios .js-webform-radios .js-form-type-radio {
  width: fit-content;
}
.webform-submission-form .js-form-type-number {
  display: flex;
  flex-direction: column;
}
.webform-submission-form .js-form-type-number label {
  color: #a85766;
  font-size: 0.75em;
  font-weight: 500;
}

.webform-submission-form .js-form-type-number input {
  border: 1px solid #f3c1bf !important;
  margin-top: 7px;
  padding: 5px 6px 7px !important;
  box-sizing: border-box;
  display: block;
  min-height: 32px;
  border-radius: 5px;
  cursor: text;
}
.webform-submission-form .js-form-type-number input:focus-visible {
  outline: none !important; /* Remove the default focus outline */
  border: 1px solid #f3c1bf !important; /* Reset the border color to its initial value */
}
.webform-submission-form .js-form-type-number input:focus {
  outline: none !important; /* Remove the default focus outline */
  border: 1px solid #f3c1bf !important; /* Reset the border color to its initial value */
}
#block-erpw-content .pair-container .opening-hours-value {
  color: #000;
  padding: 5px 0;
}
.webform-submission-form .table-format::-webkit-scrollbar {
  display: none;
}
.webform-submission-form .table-format {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#offline-load-more-button a {
  color: #a85766;
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: underline;
}
.additional-details-offline {
  margin: 20px 0;
  padding: 10px;
}
.additional-details-offline .service-detail-heading h3 {
  font-size: 16px;
}
.additional-details-offline .pair-container {
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.additional-details-offline .pair-container .label {
  max-width: 200px;
  width: 100%;
  display: inline-block;
  color: #444;
  font-size: 12px;
  font-family: Roboto;
}
.additional-details-offline .pair-container .value {
  color: #444;
  font-size: 12px;
  font-family: Roboto;
}
#offline-message-div {
  padding: 30px;
  text-align: center;
  background: #a85766;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
#offline-edit {
  width: 100%;
  display: block;
  text-align: right;
  text-decoration: underline;
  font-size: 14px;
}
#offline-save {
  width: 100%;
  display: block;
  text-align: right;
  text-decoration: underline;
  font-size: 14px;
}

span[contenteditable="true"] {
  border: 2px solid black;
  background: white;
  padding: 4px;
  border-radius: 3px;
}
.field-content[contenteditable="true"] {
  background: #fcf1f0;
  color: black;
}
.offline-edit-disclaimer {
  text-align: right;
  padding-bottom: 5px;
  color: red;
  font-size: 14px;
}

#reminder-details {
  border-radius: 10px;
  margin: 20px 0;
}
#reminder-details .reminder-detail-heading {
  padding: 20px;
  text-align: center;
}
#reminder-details #offline-changes-listing {
  padding-left: 15px;
  text-decoration: underline;
  color: blue;
}
.offline-service-changes-page
  .service-providers-submission-row
  .views-field
  .views-label {
  max-width: 200px;
  color: black;
}
.offline-service-changes-page
  .service-providers-submission-row
  .views-field
  .field-content {
  display: flex;
  width: 100%;
}
.offline-service-changes-page
  .service-providers-submission-row
  .views-field
  .field-content
  span {
  padding: 5px;
  color: black;
  min-width: 100px;
  min-width: 100px;
  margin-right: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}
.offline-service-changes-page
  .service-providers-submission-row
  .views-field
  .field-content
  .before {
  background: rgb(245, 5, 5, 0.3);
}
.offline-service-changes-page
  .service-providers-submission-row
  .views-field
  .field-content
  .after {
  background: rgb(20, 250, 7, 0.3);
}
.highlighted-changed-data input {
  background: rgb(20, 250, 7, 0.2);
  color: black;
}
.offline-checkboxes {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.offline-checkboxes input {
  width: 20px;
}
.offline-checkboxes label {
  color: black;
  font-size: 12px;
}
.offline-radios {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.offline-radios input {
  width: 20px;
}
.offline-radios label {
  color: black;
  font-size: 12px;
}
@media only screen and (min-width: 1024px) {
  .webform-submission-form .table-format .webform-mapping-table {
    width: 50%;
  }
}

.service-rating-label {
  display: none;
}
