:root {
  --mustardyellow: #f9d14a;
  --peach: #f4cbca;
  --lavender: #b2a0d9;
  --green: #7fbc72;
}
.apply-mustard-yellow {
  background-color: var(--mustardyellow);
}
.apply-peach {
  background-color: var(--peach);
}
.apply-lavender {
  background-color: var(--lavender);
}
.apply-green {
  background-color: var(--green);
}
.simple-status-messages {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-1 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-2 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-3 {
  display: block !important;
}
.webform-submission-edit-form #edit-location-details #location-level-4 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-1 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-2 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-3 {
  display: block !important;
}
.webform-submission-add-form #edit-location-details #location-level-4 {
  display: block !important;
}

/* Convert webform workflow transitions into CTA  */
.erpw-workflow-cta-button {
  background: #a85766;
  border: 1px solid #a85766;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.view-page-webform-submission .pair-container {
  display: flex;
  flex-direction: column;
}
.view-page-webform-submission .pair-container .label {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #a85766;
  font-weight: 500;
  font-family: Roboto;
}
.view-page-webform-submission .pair-container .value {
  width: 100%;
  display: block;
  font-family: Roboto;
  font-size: 12px;
  padding: 15px 0;
  word-break: break-word;
}

/* Webform submissions list page. */
.services-webform-submissions-list .view-filters .form--inline .js-form-item {
  width: 40%;
}
.services-webform-submissions-list .view-filters .form--inline .form-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.services-webform-submissions-list
  .view-filters
  .form--inline
  .form-actions
  input {
  width: 20%;
  margin-right: 12px;
}
.services-webform-submissions-list
  .views-form
  #edit-webform-submission-bulk-form--2
  .js-form-item {
  width: 40%;
}
.services-webform-submissions-list
  .views-form
  #edit-webform-submission-bulk-form--2
  .form-actions {
  width: 20%;
  margin-right: 12px;
}
.services-webform-submissions-list .views-form #edit-actions--2 {
  display: none;
}
.services-webform-submissions-list .views-table {
  width: 100%;
  border: 1px solid black;
}
.services-webform-submissions-list table thead th {
  padding: 10px;
}

.services-webform-submissions-list table th {
  border: 0.5px solid black;
  text-align: left;
}
.services-webform-submissions-list table td {
  border: 0.5px solid black;
  padding: 10px;
  text-align: left;
}
.services-webform-submissions-list
  table
  td.views-field-webform-submission-bulk-form {
  text-align: center;
}
.services-webform-submissions-list
  table
  th.views-field-webform-submission-bulk-form {
  text-align: center;
}
.services-webform-submissions-list table th.views-field-operations {
  text-align: center;
}
.services-webform-submissions-list
  table
  td.views-field-operations
  .dropbutton-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.service-providers-submission-row {
  box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
  border-radius: 10px;
  padding: 5px 10px 10px;
  margin: 13px 0 15px;
}

.service-providers-submission-row .row-header {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #d7d7d7;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.service-providers-submission-row
  .row-header
  .service-type-color-logo-container {
  display: flex;
  width: fit-content;
  position: relative;
}
.service-providers-submission-row
  .row-header
  .service-type-color-logo-container
  .service-type-color {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.service-providers-submission-row
  .row-header
  .service-type-color-logo-container
  .service-type-logo {
  top: 17px;
  position: relative;
  height: fit-content;
  right: 33px;
}
.service-providers-submission-row .row-header .service-type-org a {
  font-family: Roboto;
  font-size: 12px;
  color: #444;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-all;
}
.service-providers-submission-row .views-field {
  display: flex;
  margin-top: 10px;
  padding: 0 5px;
  text-transform: capitalize;
  word-break: break-word;
}
.service-providers-submission-row .views-field .views-label {
  max-width: 100px;
  width: 100%;
  color: #444;
  font-size: 12px;
  font-family: Roboto;
}

.service-providers-submission-row .views-field .field-content {
  color: #444;
  font-size: 12px;
  font-family: Roboto;
}
.service-providers-submission-row
  .service-provider-details
  .service-detail-heading {
  border-bottom: none;
  border-top: 0.5px solid #d7d7d7;
  margin-top: 15px;
  margin-bottom: 0;
  justify-content: flex-end;
}
.service-providers-submission-row .service-provider-details span {
  padding: 0;
}

.erpw-webform-manage-services .view-filters {
  padding-top: 10px;
  margin-top: 15px;
  border-top: 2px solid rgba(243, 193, 191, 0.53);
}

.erpw-webform-manage-services .view-filters .form--inline {
  margin-top: 15px;
}
.erpw-webform-manage-services .view-filters .form--inline .js-form-item {
  margin-right: 0;
  width: 100%;
}
.service-provider-details
  .service-detail-heading
  .view-delete-links
  .view-link
  a {
  color: #a85766;
  border-bottom: 1px solid #a85766;
  text-decoration: none;
  font-size: 12px;
  margin: 10px 0;
  display: block;
  margin-right: 10px;
}
.service-provider-details
  .service-detail-heading
  .view-delete-links
  .view-link
  a::after {
  background: url(/themes/custom/erpw/images/arrow-small.svg) center right
    no-repeat;
  content: "";
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}
.select-service-type-webform .row-header {
  border-bottom: none;
  width: 100%;
  padding: 0;
}
.select-service-type-webform .row-header .service-type-color-logo-container {
  align-items: center;
  width: 100%;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-logo
  i {
  color: black;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-org {
  color: #a85766;
  font-family: Roboto;
  font-size: 14px;
  display: block;
  width: 100%;
  background: url(/themes/custom/erpw/images/arrow-right.svg) right center
    no-repeat;
  margin-right: 9px;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-logo {
  top: unset;
}
.select-service-type-webform
  .row-header
  .service-type-color-logo-container
  .service-type-color {
  max-width: 50px;
  width: 100%;
}
.details-heading {
  border-bottom: 1px solid rgba(243, 193, 191, 0.53);
  color: #a85766;
  padding: 20px 50px;
  padding-left: 0px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
}
#edit-unlock {
  background: #a85766;
  border: 1px solid #a85766;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.webform-details-toggle-state-wrapper {
  visibility: hidden;
  height: 0px;
}
.webform-submission-form .node-service-provider-form summary {
  background: #a85766;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.08);
  padding: 14px 17px;
}
.webform-submission-form .node-service-provider-form summary::after {
  background: #ffffff;
  -webkit-mask: url(/themes/custom/erpw/images/arrow.svg) center center
    no-repeat;
  mask: url(/themes/custom/erpw/images/arrow.svg) center center no-repeat;
  transform: rotate(180deg);
  background-position: inherit;
  content: "";
  color: #a85766;
  display: inline-block;
  height: 6px;
  width: 12px;
}
.webform-submission-form
  .node-service-provider-form
  summary[aria-expanded="false"]::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-position: right center;
}
.webform-submission-form .node-service-provider-form {
  border-radius: 15px;
  border: 1px solid #a85766;
}
