.hide-element-access-for-nonadmin-user {
  display: none;
}
.hide-element-menu-for-nonadmin-user .webform-dropbutton {
  display: none;
}
.hide-submit-access-for-nonadmin-user .webform-ui-element-type-webform_actions {
  display: none;
}

.disabled-for-delete {
  pointer-events:none;
  opacity: 0.5;
}
