.empty-service-type-notice {
  font-weight: bold;
  color: red;
}

.webform-duplicate-form .form-item--description, .webform-duplicate-form [data-drupal-selector="edit-categories"], .webform-duplicate-form [data-drupal-selector="edit-status"]{
  display: none;
}
