.workflow-label-class {
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
}
.approved-workflow {
  background-color: #c2f7bc !important;
  fill: #c2f7bc;
  color: #324e2b !important;
  stroke: #324e2b;
}
.rejected-workflow {
  background-color: #f4b8bf !important;
  fill: #f4b8bf;
  color: #5e2128 !important;
  stroke: #5e2128;
}
.in-review-cadmin-workflow {
  background-color: #cde3fa !important;
  fill: #cde3fa;
  color: #2b4d7a !important;
  stroke: #2b4d7a;
}
.in-review-coordinator-workflow {
  background-color: #ffbe7e !important;
  fill: #ffbe7e;
  color: #6a2900 !important;
  stroke: #6a2900;
}
.draft-workflow {
  background-color: #f7df92 !important;
  fill: #f7df92;
  color: #6c530f !important;
  stroke: #6c530f;
}

.hide-webform-action-links .block-local-tasks-block nav ul li.tabs__tab {
  display: none !important;
}
.hide-webform-action-links .block-local-tasks-block nav ul li.is-active {
  display: block !important;
}
.hide-webform-action-links #drupal-modal .webform-filter-form {
  display: none;
}
.hide-webform-action-links #drupal-modal table tbody td a:nth-child(2) {
  display: none;
}
.hide-webform-action-links .ui-dialog {
  width: 700px !important;
}
.hide-webform-action-links .ui-dialog form .form-item {
  text-align: left;
}
.hide-webform-action-links a.webform-ajax-link {
  position: relative;
  color: #fff;
  font-size: 12px;
  padding-left: 60px;
  position: relative;
  z-index: 1;
  background-color: #a85766;
  padding-right: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.hide-webform-action-links a.webform-ajax-link::before {
  background: url("/themes/custom/erpw/images/plus.svg") center center no-repeat
    #a85766;
  content: "*";
  border-radius: 50%;
  height: 57px;
  width: 57px;
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.hide-webform-action-links .webform-bulk-form .webform-dropbutton ul li a{
  position: relative;
  color: #fff;
  background-color: #a85766;
  font-size: 16px;
  padding: 3px;
  z-index: 2;
  padding-right: 15px;
  margin: 0px;
  border-radius: 0px;
}
.hide-webform-action-links .webform-bulk-form .webform-dropbutton ul li:first-child a{
  color: #a85766;
  background-color: #fff;
}
.hide-webform-action-links .webform-bulk-form a.webform-ajax-link::before {
  background: none;
  display: none;
}
.hide-webform-action-links #block-erpw-help {
  display: none;
}

.hide-webform-action-links .ui-dialog a.webform-ajax-link::before {
  display: none;
}
.hide-webform-action-links .ui-dialog a.webform-ajax-link {
  padding: 0px;
  border-radius: 5px;
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px;
}
.hide-webform-action-links
  .ui-dialog
  .ui-dialog-buttonpane
  .ui-dialog-buttonset.form-actions
  .js-form-submit {
  margin: auto !important;
  margin-bottom: 30px !important;
}

.hide-webform-action-links .webform-filter-form .js-form-type-search input {
  max-width: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .hide-webform-action-links .ui-dialog {
    width: 100% !important;
    padding: 0px !important;
  }
  .hide-webform-action-links .js-form-type-select {
    width: 90% !important;
  }
  .hide-webform-action-links .select2-container--open .select2-dropdown--below {
    width: 90% !important;
  }
}
