/*custom css*/
.sr-only,
.carousel .item  {
  display:none;
}
.carousel .item.active{
  display: block;
}
.i-amphtml-fill-content{
  border-radius:   20px;
}
.paragraph {
  margin-bottom: 20px;
}
.block-system-breadcrumb-block li{
  display: inline-flex;
}
.block-system-breadcrumb-block li:last-child:after{
  content: "";
}
.block-system-breadcrumb-block li:after{
  padding-left: 5px;
}
.block-system-breadcrumb-block{
  background: inherit;
}

