@font-face {
  font-family: "unicefFonts";
  src: url('unicefFonts.eot');
  src: url('unicefFonts.eot?#iefix') format('eot'),
    url('unicefFonts.woff2') format('woff2'),
    url('unicefFonts.woff') format('woff'),
    url('unicefFonts.ttf') format('truetype'),
    url('unicefFonts.svg#unicefFonts') format('svg');
}

.uf:before {
	font-family: "unicefFonts";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}

.uf-Abduction-kidnapping:before {
	content: "\E001";
}

.uf-About:before {
	content: "\E002";
}

.uf-Add-document:before {
	content: "\E003";
}

.uf-Add:before {
	content: "\E004";
}

.uf-Advocacy:before {
	content: "\E005";
}

.uf-Affected-population:before {
	content: "\E006";
}

.uf-Agile:before {
	content: "\E007";
}

.uf-Agriculture:before {
	content: "\E008";
}

.uf-Airport-affected:before {
	content: "\E009";
}

.uf-Airport-closed:before {
	content: "\E00A";
}

.uf-Airport-destroyed:before {
	content: "\E00B";
}

.uf-Airport-military:before {
	content: "\E00C";
}

.uf-Airport-not-affected:before {
	content: "\E00D";
}

.uf-Airport:before {
	content: "\E00E";
}

.uf-Alert:before {
	content: "\E00F";
}

.uf-Analysis:before {
	content: "\E010";
}

.uf-Apps:before {
	content: "\E011";
}

.uf-Arrest-detention:before {
	content: "\E012";
}

.uf-Assault:before {
	content: "\E013";
}

.uf-Assembly-point:before {
	content: "\E014";
}

.uf-Assessment:before {
	content: "\E015";
}

.uf-Attack:before {
	content: "\E016";
}

.uf-Bacteria:before {
	content: "\E017";
}

.uf-Blanket:before {
	content: "\E018";
}

.uf-Blog:before {
	content: "\E019";
}

.uf-Boat:before {
	content: "\E01A";
}

.uf-Bookmark:before {
	content: "\E01B";
}

.uf-Border-closed:before {
	content: "\E01C";
}

.uf-Border-crossing:before {
	content: "\E01D";
}

.uf-Borehole:before {
	content: "\E01E";
}

.uf-Bottled-water:before {
	content: "\E01F";
}

.uf-Bridge-affected:before {
	content: "\E020";
}

.uf-Bridge-closed:before {
	content: "\E021";
}

.uf-Bridge-destroyed:before {
	content: "\E022";
}

.uf-Bridge-not-affected:before {
	content: "\E023";
}

.uf-Bridge:before {
	content: "\E024";
}

.uf-Bucket:before {
	content: "\E025";
}

.uf-Buddhist-temple:before {
	content: "\E026";
}

.uf-Building-closed:before {
	content: "\E027";
}

.uf-Building-facility-affected:before {
	content: "\E028";
}

.uf-Building-facility-destroyed:before {
	content: "\E029";
}

.uf-Building-facility-not-affected:before {
	content: "\E02A";
}

.uf-Building:before {
	content: "\E02B";
}

.uf-Bus:before {
	content: "\E02C";
}

.uf-COVID-19:before {
	content: "\E02D";
}

.uf-CSV-file:before {
	content: "\E02E";
}

.uf-Calendar:before {
	content: "\E02F";
}

.uf-Camp-Coordination-and-Camp-Management:before {
	content: "\E030";
}

.uf-Car:before {
	content: "\E031";
}

.uf-Carjacking:before {
	content: "\E032";
}

.uf-Case-management:before {
	content: "\E033";
}

.uf-Cash-transfer:before {
	content: "\E034";
}

.uf-Cell-tower:before {
	content: "\E035";
}

.uf-Chart:before {
	content: "\E036";
}

.uf-Chat:before {
	content: "\E037";
}

.uf-Checked-mail:before {
	content: "\E038";
}

.uf-Checkpoint:before {
	content: "\E039";
}

.uf-Child-care-child-friendly:before {
	content: "\E03A";
}

.uf-Child-combatant:before {
	content: "\E03B";
}

.uf-Child-protection:before {
	content: "\E03C";
}

.uf-Children:before {
	content: "\E03D";
}

.uf-Church:before {
	content: "\E03E";
}

.uf-Civil-military-coordination:before {
	content: "\E03F";
}

.uf-Clinic:before {
	content: "\E040";
}

.uf-Clothing:before {
	content: "\E041";
}

.uf-Cold-wave:before {
	content: "\E042";
}

.uf-Communal-latrine:before {
	content: "\E043";
}

.uf-Community-building:before {
	content: "\E044";
}

.uf-Community-engagement:before {
	content: "\E045";
}

.uf-Computer:before {
	content: "\E046";
}

.uf-Confined:before {
	content: "\E047";
}

.uf-Conflict:before {
	content: "\E048";
}

.uf-Coordinated-assessement:before {
	content: "\E049";
}

.uf-Coordination:before {
	content: "\E04A";
}

.uf-Copy:before {
	content: "\E04B";
}

.uf-Country:before {
	content: "\E04C";
}

.uf-Cyclone:before {
	content: "\E04D";
}

.uf-DOCX-file:before {
	content: "\E04E";
}

.uf-Damaged-Affected:before {
	content: "\E04F";
}

.uf-Dangerous-area:before {
	content: "\E050";
}

.uf-Data:before {
	content: "\E051";
}

.uf-Dead:before {
	content: "\E052";
}

.uf-Debris-management:before {
	content: "\E053";
}

.uf-Delete-account:before {
	content: "\E054";
}

.uf-Deployment:before {
	content: "\E055";
}

.uf-Destroyed:before {
	content: "\E056";
}

.uf-Detergent:before {
	content: "\E057";
}

.uf-Diplomatic-mission:before {
	content: "\E058";
}

.uf-Distribution-site:before {
	content: "\E059";
}

.uf-Doctor:before {
	content: "\E05A";
}

.uf-Document:before {
	content: "\E05B";
}

.uf-Down:before {
	content: "\E05C";
}

.uf-Download:before {
	content: "\E05D";
}

.uf-Drought:before {
	content: "\E05E";
}

.uf-Drowned:before {
	content: "\E05F";
}

.uf-E-mail:before {
	content: "\E060";
}

.uf-Early-Recovery:before {
	content: "\E061";
}

.uf-Earthmound:before {
	content: "\E062";
}

.uf-Earthquake:before {
	content: "\E063";
}

.uf-Edit:before {
	content: "\E064";
}

.uf-Education:before {
	content: "\E065";
}

.uf-Elderly:before {
	content: "\E066";
}

.uf-Emergency-Telecommunications:before {
	content: "\E067";
}

.uf-Environment:before {
	content: "\E068";
}

.uf-Epidemic:before {
	content: "\E069";
}

.uf-Exit-Cancel:before {
	content: "\E06A";
}

.uf-Expand-down:before {
	content: "\E06B";
}

.uf-Expand-left:before {
	content: "\E06C";
}

.uf-Expand-right:before {
	content: "\E06D";
}

.uf-Expand-up:before {
	content: "\E06E";
}

.uf-Famine:before {
	content: "\E06F";
}

.uf-Favourite:before {
	content: "\E070";
}

.uf-Fax:before {
	content: "\E071";
}

.uf-Ferry:before {
	content: "\E072";
}

.uf-Film:before {
	content: "\E073";
}

.uf-Filter:before {
	content: "\E074";
}

.uf-Financing:before {
	content: "\E075";
}

.uf-Fire:before {
	content: "\E076";
}

.uf-Fishery:before {
	content: "\E077";
}

.uf-Flash-flood:before {
	content: "\E078";
}

.uf-Flood:before {
	content: "\E079";
}

.uf-Flour:before {
	content: "\E07A";
}

.uf-Folder:before {
	content: "\E07B";
}

.uf-Food-Security:before {
	content: "\E07C";
}

.uf-Food-warehouse:before {
	content: "\E07D";
}

.uf-Food:before {
	content: "\E07E";
}

.uf-Forced-entry:before {
	content: "\E07F";
}

.uf-Forced-recruitment:before {
	content: "\E080";
}

.uf-Fund:before {
	content: "\E081";
}

.uf-Gap-analysis:before {
	content: "\E082";
}

.uf-Gas-station:before {
	content: "\E083";
}

.uf-Gender-based-violence:before {
	content: "\E084";
}

.uf-Gender:before {
	content: "\E085";
}

.uf-Go:before {
	content: "\E086";
}

.uf-Government-office:before {
	content: "\E087";
}

.uf-Group:before {
	content: "\E088";
}

.uf-Handwashing:before {
	content: "\E089";
}

.uf-Harassment-intimidation:before {
	content: "\E08A";
}

.uf-Health-facility-affected:before {
	content: "\E08B";
}

.uf-Health-facility-destroyed:before {
	content: "\E08C";
}

.uf-Health-facility-not-affected:before {
	content: "\E08D";
}

.uf-Health-facility:before {
	content: "\E08E";
}

.uf-Health-post:before {
	content: "\E08F";
}

.uf-Health-worker:before {
	content: "\E090";
}

.uf-Health:before {
	content: "\E091";
}

.uf-Heatwave:before {
	content: "\E092";
}

.uf-Heavy-rain:before {
	content: "\E093";
}

.uf-Helicopter:before {
	content: "\E094";
}

.uf-Helipad:before {
	content: "\E095";
}

.uf-Help:before {
	content: "\E096";
}

.uf-Hidden:before {
	content: "\E097";
}

.uf-Hindu-temple:before {
	content: "\E098";
}

.uf-Hospital-bed:before {
	content: "\E099";
}

.uf-Hospital:before {
	content: "\E09A";
}

.uf-Hotel:before {
	content: "\E09B";
}

.uf-House-affected:before {
	content: "\E09C";
}

.uf-House-burned:before {
	content: "\E09D";
}

.uf-House-destroyed:before {
	content: "\E09E";
}

.uf-House-lockdown:before {
	content: "\E09F";
}

.uf-House-not-affected:before {
	content: "\E0A0";
}

.uf-House:before {
	content: "\E0A1";
}

.uf-Humanitarian-access:before {
	content: "\E0A2";
}

.uf-Humanitarian-programme-cycle:before {
	content: "\E0A3";
}

.uf-IDP-refugee-camp:before {
	content: "\E0A4";
}

.uf-Indigenous .people:before {
	content: "\E0A5";
}

.uf-Infant-formula:before {
	content: "\E0A6";
}

.uf-Infant:before {
	content: "\E0A7";
}

.uf-Infected:before {
	content: "\E0A8";
}

.uf-Infection-control:before {
	content: "\E0A9";
}

.uf-Information-management:before {
	content: "\E0AA";
}

.uf-Information-technology:before {
	content: "\E0AB";
}

.uf-Infrastructure:before {
	content: "\E0AC";
}

.uf-Injured:before {
	content: "\E0AD";
}

.uf-Innovation:before {
	content: "\E0AE";
}

.uf-Insect-infestation:before {
	content: "\E0AF";
}

.uf-Internally-displaced:before {
	content: "\E0B0";
}

.uf-Internet:before {
	content: "\E0B1";
}

.uf-Landslide-mudslide:before {
	content: "\E0B2";
}

.uf-Laptop:before {
	content: "\E0B3";
}

.uf-Latrine-cabin:before {
	content: "\E0B4";
}

.uf-Leadership:before {
	content: "\E0B5";
}

.uf-Learning:before {
	content: "\E0B6";
}

.uf-Life-saving:before {
	content: "\E0B7";
}

.uf-Link:before {
	content: "\E0B8";
}

.uf-Livelihood:before {
	content: "\E0B9";
}

.uf-Livestock:before {
	content: "\E0BA";
}

.uf-Location-lockdown:before {
	content: "\E0BB";
}

.uf-Location:before {
	content: "\E0BC";
}

.uf-Locust-infestation:before {
	content: "\E0BD";
}

.uf-Logistics:before {
	content: "\E0BE";
}

.uf-Map:before {
	content: "\E0BF";
}

.uf-Market-closed:before {
	content: "\E0C0";
}

.uf-Market:before {
	content: "\E0C1";
}

.uf-Mask:before {
	content: "\E0C2";
}

.uf-Mattress:before {
	content: "\E0C3";
}

.uf-Medical-supply:before {
	content: "\E0C4";
}

.uf-Medicine:before {
	content: "\E0C5";
}

.uf-Meeting:before {
	content: "\E0C6";
}

.uf-Menu:before {
	content: "\E0C7";
}

.uf-Military-gate:before {
	content: "\E0C8";
}

.uf-Mine:before {
	content: "\E0C9";
}

.uf-Missing:before {
	content: "\E0CA";
}

.uf-Mobile-clinic:before {
	content: "\E0CB";
}

.uf-Mobile-phone:before {
	content: "\E0CC";
}

.uf-Monitor:before {
	content: "\E0CD";
}

.uf-Monitoring:before {
	content: "\E0CE";
}

.uf-More-options:before {
	content: "\E0CF";
}

.uf-Mosque:before {
	content: "\E0D0";
}

.uf-Mosquito-net:before {
	content: "\E0D1";
}

.uf-Multi-cluster-sector:before {
	content: "\E0D2";
}

.uf-Murder:before {
	content: "\E0D3";
}

.uf-NGO-office:before {
	content: "\E0D4";
}

.uf-National-army:before {
	content: "\E0D5";
}

.uf-Needs-assessment:before {
	content: "\E0D6";
}

.uf-Next-item:before {
	content: "\E0D7";
}

.uf-Non-food-items-2:before {
	content: "\E0D8";
}

.uf-Non-food-items:before {
	content: "\E0D9";
}

.uf-Not-affected:before {
	content: "\E0DA";
}

.uf-Not-infected:before {
	content: "\E0DB";
}

.uf-Not-secured:before {
	content: "\E0DC";
}

.uf-Notification:before {
	content: "\E0DD";
}

.uf-Nutrition:before {
	content: "\E0DE";
}

.uf-Observation-tower:before {
	content: "\E0DF";
}

.uf-Oil-facility:before {
	content: "\E0E0";
}

.uf-Oil:before {
	content: "\E0E1";
}

.uf-Out-of-platform:before {
	content: "\E0E2";
}

.uf-PDF-file:before {
	content: "\E0E3";
}

.uf-Partnership:before {
	content: "\E0E4";
}

.uf-Password:before {
	content: "\E0E5";
}

.uf-Pause:before {
	content: "\E0E6";
}

.uf-Peacekeeping-force:before {
	content: "\E0E7";
}

.uf-People-affected:before {
	content: "\E0E8";
}

.uf-People-covered:before {
	content: "\E0E9";
}

.uf-People-in-need-2:before {
	content: "\E0EA";
}

.uf-People-in-need:before {
	content: "\E0EB";
}

.uf-People-reached:before {
	content: "\E0EC";
}

.uf-People-targeted-2:before {
	content: "\E0ED";
}

.uf-People-targeted:before {
	content: "\E0EE";
}

.uf-People-with-physical-impairments:before {
	content: "\E0EF";
}

.uf-Permanent-camp:before {
	content: "\E0F0";
}

.uf-Person-1:before {
	content: "\E0F1";
}

.uf-Person-2:before {
	content: "\E0F2";
}

.uf-Photo:before {
	content: "\E0F3";
}

.uf-Physical-closure:before {
	content: "\E0F4";
}

.uf-Physical-distancing:before {
	content: "\E0F5";
}

.uf-Plastic-sheeting:before {
	content: "\E0F6";
}

.uf-Police-station:before {
	content: "\E0F7";
}

.uf-Policy:before {
	content: "\E0F8";
}

.uf-Population-growth:before {
	content: "\E0F9";
}

.uf-Population-return:before {
	content: "\E0FA";
}

.uf-Port-affected:before {
	content: "\E0FB";
}

.uf-Port-closed:before {
	content: "\E0FC";
}

.uf-Port-destroyed:before {
	content: "\E0FD";
}

.uf-Port-not-affected:before {
	content: "\E0FE";
}

.uf-Port:before {
	content: "\E0FF";
}

.uf-Potable-water-source:before {
	content: "\E100";
}

.uf-Potable-water:before {
	content: "\E101";
}

.uf-Poverty:before {
	content: "\E102";
}

.uf-Power-electricity-affected:before {
	content: "\E103";
}

.uf-Power-electricity-not-affected:before {
	content: "\E104";
}

.uf-Power-electricity:before {
	content: "\E105";
}

.uf-Power-outage:before {
	content: "\E106";
}

.uf-Pregnant:before {
	content: "\E107";
}

.uf-Preparedness:before {
	content: "\E108";
}

.uf-Previous-item:before {
	content: "\E109";
}

.uf-Print:before {
	content: "\E10A";
}

.uf-Protection:before {
	content: "\E10B";
}

.uf-Public-information:before {
	content: "\E10C";
}

.uf-Radio:before {
	content: "\E10D";
}

.uf-Rebel:before {
	content: "\E10E";
}

.uf-Reconstruction:before {
	content: "\E10F";
}

.uf-Refugee:before {
	content: "\E110";
}

.uf-Registration:before {
	content: "\E111";
}

.uf-Relief-goods:before {
	content: "\E112";
}

.uf-Remote-support:before {
	content: "\E113";
}

.uf-Remove-document:before {
	content: "\E114";
}

.uf-Remove:before {
	content: "\E115";
}

.uf-Report:before {
	content: "\E116";
}

.uf-Reporting:before {
	content: "\E117";
}

.uf-Resilience:before {
	content: "\E118";
}

.uf-Respiratory:before {
	content: "\E119";
}

.uf-Response:before {
	content: "\E11A";
}

.uf-Return:before {
	content: "\E11B";
}

.uf-Rice:before {
	content: "\E11C";
}

.uf-Road-affected:before {
	content: "\E11D";
}

.uf-Road-barrier:before {
	content: "\E11E";
}

.uf-Road-closed:before {
	content: "\E11F";
}

.uf-Road-destroyed:before {
	content: "\E120";
}

.uf-Road-not-affected:before {
	content: "\E121";
}

.uf-Road:before {
	content: "\E122";
}

.uf-Roadblock:before {
	content: "\E123";
}

.uf-Robbery:before {
	content: "\E124";
}

.uf-Rule-of-law-and-justice:before {
	content: "\E125";
}

.uf-Rural-exodus:before {
	content: "\E126";
}

.uf-Rural:before {
	content: "\E127";
}

.uf-Safety-and-security:before {
	content: "\E128";
}

.uf-Salt:before {
	content: "\E129";
}

.uf-Sanitation:before {
	content: "\E12A";
}

.uf-Sanitizer:before {
	content: "\E12B";
}

.uf-Satellite-dish:before {
	content: "\E12C";
}

.uf-Save:before {
	content: "\E12D";
}

.uf-Scale-down-operation:before {
	content: "\E12E";
}

.uf-Scale-up-operation:before {
	content: "\E12F";
}

.uf-School-affected:before {
	content: "\E130";
}

.uf-School-closed:before {
	content: "\E131";
}

.uf-School-destroyed:before {
	content: "\E132";
}

.uf-School-not-affected:before {
	content: "\E133";
}

.uf-School:before {
	content: "\E134";
}

.uf-Search-and-rescue:before {
	content: "\E135";
}

.uf-Search:before {
	content: "\E136";
}

.uf-Secured:before {
	content: "\E137";
}

.uf-Security:before {
	content: "\E138";
}

.uf-See:before {
	content: "\E139";
}

.uf-Selected:before {
	content: "\E13A";
}

.uf-Services-and-tools:before {
	content: "\E13B";
}

.uf-Settings:before {
	content: "\E13C";
}

.uf-Sex:before {
	content: "\E13D";
}

.uf-Sexual-and-reproductive .health:before {
	content: "\E13E";
}

.uf-Sexual-violence:before {
	content: "\E13F";
}

.uf-Share:before {
	content: "\E140";
}

.uf-Shelter:before {
	content: "\E141";
}

.uf-Ship:before {
	content: "\E142";
}

.uf-Shower:before {
	content: "\E143";
}

.uf-Smartphone:before {
	content: "\E144";
}

.uf-Snow-avalanche:before {
	content: "\E145";
}

.uf-Snowfall:before {
	content: "\E146";
}

.uf-Soap:before {
	content: "\E147";
}

.uf-Solid-waste:before {
	content: "\E148";
}

.uf-Spontaneous-site:before {
	content: "\E149";
}

.uf-Spring-water:before {
	content: "\E14A";
}

.uf-Staff-management:before {
	content: "\E14B";
}

.uf-Stop:before {
	content: "\E14C";
}

.uf-Storm-surge:before {
	content: "\E14D";
}

.uf-Storm:before {
	content: "\E14E";
}

.uf-Stove:before {
	content: "\E14F";
}

.uf-Submersible-pump:before {
	content: "\E150";
}

.uf-Sugar:before {
	content: "\E151";
}

.uf-Table:before {
	content: "\E152";
}

.uf-Tarpaulin:before {
	content: "\E153";
}

.uf-Technological-disaster:before {
	content: "\E154";
}

.uf-Temporary-camp:before {
	content: "\E155";
}

.uf-Tent:before {
	content: "\E156";
}

.uf-Testing:before {
	content: "\E157";
}

.uf-Time:before {
	content: "\E158";
}

.uf-Toilet:before {
	content: "\E159";
}

.uf-Top-ranking:before {
	content: "\E15A";
}

.uf-Tornado:before {
	content: "\E15B";
}

.uf-Trade-and-market:before {
	content: "\E15C";
}

.uf-Train:before {
	content: "\E15D";
}

.uf-Training:before {
	content: "\E15E";
}

.uf-Transition-site:before {
	content: "\E15F";
}

.uf-Trending:before {
	content: "\E160";
}

.uf-Truck:before {
	content: "\E161";
}

.uf-Tsunami:before {
	content: "\E162";
}

.uf-Tunnel:before {
	content: "\E163";
}

.uf-UN-compound-office:before {
	content: "\E164";
}

.uf-UN-vehicle:before {
	content: "\E165";
}

.uf-University:before {
	content: "\E166";
}

.uf-Up:before {
	content: "\E167";
}

.uf-Upload:before {
	content: "\E168";
}

.uf-Urban-rural:before {
	content: "\E169";
}

.uf-Urban:before {
	content: "\E16A";
}

.uf-User:before {
	content: "\E16B";
}

.uf-Users:before {
	content: "\E16C";
}

.uf-Vaccine:before {
	content: "\E16D";
}

.uf-Validate-account:before {
	content: "\E16E";
}

.uf-Ventilator:before {
	content: "\E16F";
}

.uf-Video-:before {
	content: "\E170";
}

.uf-Violent-wind:before {
	content: "\E171";
}

.uf-Virus:before {
	content: "\E172";
}

.uf-Volcano:before {
	content: "\E173";
}

.uf-Walkie-talkie:before {
	content: "\E174";
}

.uf-Warning-Error:before {
	content: "\E175";
}

.uf-Water-Sanitation-and-Hygiene:before {
	content: "\E176";
}

.uf-Water-source:before {
	content: "\E177";
}

.uf-Water-trucking:before {
	content: "\E178";
}

.uf-Work-from-home:before {
	content: "\E179";
}

.uf-Worm-infestation:before {
	content: "\E17A";
}

.uf-XLSX-file:before {
	content: "\E17B";
}

.uf-ZIP-compressed:before {
	content: "\E17C";
}
