.layout-paragraphs-layout-region .paragraph .contextual .trigger {
  display: none !important;
}

.ui-dialog .ui-dialog-buttonpane {
  display: block !important;
}
.ui-dialog .ui-dialog-content {
  padding: 15px;
}
.ui-dialog {
  width: 50% !important;
}