@font-face {
  font-family: "unicefFonts";
  src: url('unicefFonts.eot');
  src: url('unicefFonts.eot?#iefix') format('eot'),
  url('unicefFonts.woff2') format('woff2'),
  url('unicefFonts.woff') format('woff'),
  url('unicefFonts.ttf') format('truetype'),
  url('unicefFonts.svg#unicefFonts') format('svg');
}

.uf:before {
  font-family: "unicefFonts";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}


.uf-Abduction-kidnapping:before {
  content: "\E001";
}

.uf-About:before {
  content: "\E002";
}

.uf-Add-document:before {
  content: "\E003";
}

.uf-Add:before {
  content: "\E004";
}

.uf-Advocacy:before {
  content: "\E005";
}

.uf-Affected-population:before {
  content: "\E006";
}

.uf-Agile:before {
  content: "\E007";
}

.uf-Agriculture:before {
  content: "\E008";
}

.uf-Airport-affected:before {
  content: "\E009";
}

.uf-Airport-closed:before {
  content: "\E00A";
}

.uf-Airport-destroyed:before {
  content: "\E00B";
}

.uf-Airport-military:before {
  content: "\E00C";
}

.uf-Airport-not-affected:before {
  content: "\E00D";
}

.uf-Airport:before {
  content: "\E00E";
}

.uf-Alert:before {
  content: "\E00F";
}

.uf-Analysis:before {
  content: "\E010";
}

.uf-Apps:before {
  content: "\E011";
}

.uf-Arrest-detention:before {
  content: "\E012";
}

.uf-Assault:before {
  content: "\E013";
}

.uf-Assembly-point:before {
  content: "\E014";
}

.uf-Assessment:before {
  content: "\E015";
}

.uf-Attack:before {
  content: "\E016";
}

.uf-Bacteria:before {
  content: "\E017";
}

.uf-Blanket:before {
  content: "\E018";
}

.uf-Blog:before {
  content: "\E019";
}

.uf-Boat:before {
  content: "\E01A";
}

.uf-Bookmark:before {
  content: "\E01B";
}

.uf-Border-closed:before {
  content: "\E01C";
}

.uf-Border-crossing:before {
  content: "\E01D";
}

.uf-Borehole:before {
  content: "\E01E";
}

.uf-Bottled-water:before {
  content: "\E01F";
}

.uf-Bridge-affected:before {
  content: "\E020";
}

.uf-Bridge-closed:before {
  content: "\E021";
}

.uf-Bridge-destroyed:before {
  content: "\E022";
}

.uf-Bridge-not-affected:before {
  content: "\E023";
}

.uf-Bridge:before {
  content: "\E024";
}

.uf-Bucket:before {
  content: "\E025";
}

.uf-Buddhist-temple:before {
  content: "\E026";
}

.uf-Building-closed:before {
  content: "\E027";
}

.uf-Building-facility-affected:before {
  content: "\E028";
}

.uf-Building-facility-destroyed:before {
  content: "\E029";
}

.uf-Building-facility-not-affected:before {
  content: "\E02A";
}

.uf-Building:before {
  content: "\E02B";
}

.uf-Bus:before {
  content: "\E02C";
}

.uf-COVID-19:before {
  content: "\E02D";
}

.uf-CSV-file:before {
  content: "\E02E";
}

.uf-Calendar:before {
  content: "\E02F";
}

.uf-Camp-Coordination-and-Camp-Management:before {
  content: "\E030";
}

.uf-Car:before {
  content: "\E031";
}

.uf-Carjacking:before {
  content: "\E032";
}

.uf-Case-management:before {
  content: "\E033";
}

.uf-Cash-transfer:before {
  content: "\E034";
}

.uf-Cell-tower:before {
  content: "\E035";
}

.uf-Chart:before {
  content: "\E036";
}

.uf-Chat:before {
  content: "\E037";
}

.uf-Checked-mail:before {
  content: "\E038";
}

.uf-Checkpoint:before {
  content: "\E039";
}

.uf-Child-care-child-friendly:before {
  content: "\E03A";
}

.uf-Child-combatant:before {
  content: "\E03B";
}

.uf-Child-protection:before {
  content: "\E03C";
}

.uf-Children:before {
  content: "\E03D";
}

.uf-Church:before {
  content: "\E03E";
}

.uf-Civil-military-coordination:before {
  content: "\E03F";
}

.uf-Clinic:before {
  content: "\E040";
}

.uf-Clothing:before {
  content: "\E041";
}

.uf-Cold-wave:before {
  content: "\E042";
}

.uf-Communal-latrine:before {
  content: "\E043";
}

.uf-Community-building:before {
  content: "\E044";
}

.uf-Community-engagement:before {
  content: "\E045";
}

.uf-Computer:before {
  content: "\E046";
}

.uf-Confined:before {
  content: "\E047";
}

.uf-Conflict:before {
  content: "\E048";
}

.uf-Coordinated-assessement:before {
  content: "\E049";
}

.uf-Coordination:before {
  content: "\E04A";
}

.uf-Copy:before {
  content: "\E04B";
}

.uf-Country:before {
  content: "\E04C";
}

.uf-Cyclone:before {
  content: "\E04D";
}

.uf-DOCX-file:before {
  content: "\E04E";
}

.uf-Damaged-Affected:before {
  content: "\E04F";
}

.uf-Dangerous-area:before {
  content: "\E050";
}

.uf-Data:before {
  content: "\E051";
}

.uf-Dead:before {
  content: "\E052";
}

.uf-Debris-management:before {
  content: "\E053";
}

.uf-Delete-account:before {
  content: "\E054";
}

.uf-Deployment:before {
  content: "\E055";
}

.uf-Destroyed:before {
  content: "\E056";
}

.uf-Detergent:before {
  content: "\E057";
}

.uf-Diplomatic-mission:before {
  content: "\E058";
}

.uf-Distribution-site:before {
  content: "\E059";
}

.uf-Doctor:before {
  content: "\E05A";
}

.uf-Document:before {
  content: "\E05B";
}

.uf-Down:before {
  content: "\E05C";
}

.uf-Download:before {
  content: "\E05D";
}

.uf-Drought:before {
  content: "\E05E";
}

.uf-Drowned:before {
  content: "\E05F";
}

.uf-E-mail:before {
  content: "\E060";
}

.uf-Early-Recovery:before {
  content: "\E061";
}

.uf-Earthmound:before {
  content: "\E062";
}

.uf-Earthquake:before {
  content: "\E063";
}

.uf-Edit:before {
  content: "\E064";
}

.uf-Education:before {
  content: "\E065";
}

.uf-Elderly:before {
  content: "\E066";
}

.uf-Emergency-Telecommunications:before {
  content: "\E067";
}

.uf-Environment:before {
  content: "\E068";
}

.uf-Epidemic:before {
  content: "\E069";
}

.uf-Exit-Cancel:before {
  content: "\E06A";
}

.uf-Expand-down:before {
  content: "\E06B";
}

.uf-Expand-left:before {
  content: "\E06C";
}

.uf-Expand-right:before {
  content: "\E06D";
}

.uf-Expand-up:before {
  content: "\E06E";
}

.uf-Famine:before {
  content: "\E06F";
}

.uf-Favourite:before {
  content: "\E070";
}

.uf-Fax:before {
  content: "\E071";
}

.uf-Ferry:before {
  content: "\E072";
}

.uf-Film:before {
  content: "\E073";
}

.uf-Filter:before {
  content: "\E074";
}

.uf-Financing:before {
  content: "\E075";
}

.uf-Fire:before {
  content: "\E076";
}

.uf-Fishery:before {
  content: "\E077";
}

.uf-Flash-flood:before {
  content: "\E078";
}

.uf-Flood:before {
  content: "\E079";
}

.uf-Flour:before {
  content: "\E07A";
}

.uf-Folder:before {
  content: "\E07B";
}

.uf-Food-Security:before {
  content: "\E07C";
}

.uf-Food-warehouse:before {
  content: "\E07D";
}

.uf-Food:before {
  content: "\E07E";
}

.uf-Forced-entry:before {
  content: "\E07F";
}

.uf-Forced-recruitment:before {
  content: "\E080";
}

.uf-Fund:before {
  content: "\E081";
}

.uf-Gap-analysis:before {
  content: "\E082";
}

.uf-Gas-station:before {
  content: "\E083";
}

.uf-Gender-based-violence:before {
  content: "\E084";
}

.uf-Gender:before {
  content: "\E085";
}

.uf-Go:before {
  content: "\E086";
}

.uf-Government-office:before {
  content: "\E087";
}

.uf-Group:before {
  content: "\E088";
}

.uf-Handwashing:before {
  content: "\E089";
}

.uf-Harassment-intimidation:before {
  content: "\E08A";
}

.uf-Health-facility-affected:before {
  content: "\E08B";
}

.uf-Health-facility-destroyed:before {
  content: "\E08C";
}

.uf-Health-facility-not-affected:before {
  content: "\E08D";
}

.uf-Health-facility:before {
  content: "\E08E";
}

.uf-Health-post:before {
  content: "\E08F";
}

.uf-Health-worker:before {
  content: "\E090";
}

.uf-Health:before {
  content: "\E091";
}

.uf-Heatwave:before {
  content: "\E092";
}

.uf-Heavy-rain:before {
  content: "\E093";
}

.uf-Helicopter:before {
  content: "\E094";
}

.uf-Helipad:before {
  content: "\E095";
}

.uf-Help:before {
  content: "\E096";
}

.uf-Hidden:before {
  content: "\E097";
}

.uf-Hindu-temple:before {
  content: "\E098";
}

.uf-Hospital-bed:before {
  content: "\E099";
}

.uf-Hospital:before {
  content: "\E09A";
}

.uf-Hotel:before {
  content: "\E09B";
}

.uf-House-affected:before {
  content: "\E09C";
}

.uf-House-burned:before {
  content: "\E09D";
}

.uf-House-destroyed:before {
  content: "\E09E";
}

.uf-House-lockdown:before {
  content: "\E09F";
}

.uf-House-not-affected:before {
  content: "\E0A0";
}

.uf-House:before {
  content: "\E0A1";
}

.uf-Humanitarian-access:before {
  content: "\E0A2";
}

.uf-Humanitarian-programme-cycle:before {
  content: "\E0A3";
}

.uf-IDP-refugee-camp:before {
  content: "\E0A4";
}

.uf-Indigenous .people:before {
  content: "\E0A5";
}

.uf-Infant-formula:before {
  content: "\E0A6";
}

.uf-Infant:before {
  content: "\E0A7";
}

.uf-Infected:before {
  content: "\E0A8";
}

.uf-Infection-control:before {
  content: "\E0A9";
}

.uf-Information-management:before {
  content: "\E0AA";
}

.uf-Information-technology:before {
  content: "\E0AB";
}

.uf-Infrastructure:before {
  content: "\E0AC";
}

.uf-Injured:before {
  content: "\E0AD";
}

.uf-Innovation:before {
  content: "\E0AE";
}

.uf-Insect-infestation:before {
  content: "\E0AF";
}

.uf-Internally-displaced:before {
  content: "\E0B0";
}

.uf-Internet:before {
  content: "\E0B1";
}

.uf-Landslide-mudslide:before {
  content: "\E0B2";
}

.uf-Laptop:before {
  content: "\E0B3";
}

.uf-Latrine-cabin:before {
  content: "\E0B4";
}

.uf-Leadership:before {
  content: "\E0B5";
}

.uf-Learning:before {
  content: "\E0B6";
}

.uf-Life-saving:before {
  content: "\E0B7";
}

.uf-Link:before {
  content: "\E0B8";
}

.uf-Livelihood:before {
  content: "\E0B9";
}

.uf-Livestock:before {
  content: "\E0BA";
}

.uf-Location-lockdown:before {
  content: "\E0BB";
}

.uf-Location:before {
  content: "\E0BC";
}

.uf-Locust-infestation:before {
  content: "\E0BD";
}

.uf-Logistics:before {
  content: "\E0BE";
}

.uf-Map:before {
  content: "\E0BF";
}

.uf-Market-closed:before {
  content: "\E0C0";
}

.uf-Market:before {
  content: "\E0C1";
}

.uf-Mask:before {
  content: "\E0C2";
}

.uf-Mattress:before {
  content: "\E0C3";
}

.uf-Medical-supply:before {
  content: "\E0C4";
}

.uf-Medicine:before {
  content: "\E0C5";
}

.uf-Meeting:before {
  content: "\E0C6";
}

.uf-Menu:before {
  content: "\E0C7";
}

.uf-Military-gate:before {
  content: "\E0C8";
}

.uf-Mine:before {
  content: "\E0C9";
}

.uf-Missing:before {
  content: "\E0CA";
}

.uf-Mobile-clinic:before {
  content: "\E0CB";
}

.uf-Mobile-phone:before {
  content: "\E0CC";
}

.uf-Monitor:before {
  content: "\E0CD";
}

.uf-Monitoring:before {
  content: "\E0CE";
}

.uf-More-options:before {
  content: "\E0CF";
}

.uf-Mosque:before {
  content: "\E0D0";
}

.uf-Mosquito-net:before {
  content: "\E0D1";
}

.uf-Multi-cluster-sector:before {
  content: "\E0D2";
}

.uf-Murder:before {
  content: "\E0D3";
}

.uf-NGO-office:before {
  content: "\E0D4";
}

.uf-National-army:before {
  content: "\E0D5";
}

.uf-Needs-assessment:before {
  content: "\E0D6";
}

.uf-Next-item:before {
  content: "\E0D7";
}

.uf-Non-food-items-2:before {
  content: "\E0D8";
}

.uf-Non-food-items:before {
  content: "\E0D9";
}

.uf-Not-affected:before {
  content: "\E0DA";
}

.uf-Not-infected:before {
  content: "\E0DB";
}

.uf-Not-secured:before {
  content: "\E0DC";
}

.uf-Notification:before {
  content: "\E0DD";
}

.uf-Nutrition:before {
  content: "\E0DE";
}

.uf-Observation-tower:before {
  content: "\E0DF";
}

.uf-Oil-facility:before {
  content: "\E0E0";
}

.uf-Oil:before {
  content: "\E0E1";
}

.uf-Out-of-platform:before {
  content: "\E0E2";
}

.uf-PDF-file:before {
  content: "\E0E3";
}

.uf-Partnership:before {
  content: "\E0E4";
}

.uf-Password:before {
  content: "\E0E5";
}

.uf-Pause:before {
  content: "\E0E6";
}

.uf-Peacekeeping-force:before {
  content: "\E0E7";
}

.uf-People-affected:before {
  content: "\E0E8";
}

.uf-People-covered:before {
  content: "\E0E9";
}

.uf-People-in-need-2:before {
  content: "\E0EA";
}

.uf-People-in-need:before {
  content: "\E0EB";
}

.uf-People-reached:before {
  content: "\E0EC";
}

.uf-People-targeted-2:before {
  content: "\E0ED";
}

.uf-People-targeted:before {
  content: "\E0EE";
}

.uf-People-with-physical-impairments:before {
  content: "\E0EF";
}

.uf-Permanent-camp:before {
  content: "\E0F0";
}

.uf-Person-1:before {
  content: "\E0F1";
}

.uf-Person-2:before {
  content: "\E0F2";
}

.uf-Photo:before {
  content: "\E0F3";
}

.uf-Physical-closure:before {
  content: "\E0F4";
}

.uf-Physical-distancing:before {
  content: "\E0F5";
}

.uf-Plastic-sheeting:before {
  content: "\E0F6";
}

.uf-Police-station:before {
  content: "\E0F7";
}

.uf-Policy:before {
  content: "\E0F8";
}

.uf-Population-growth:before {
  content: "\E0F9";
}

.uf-Population-return:before {
  content: "\E0FA";
}

.uf-Port-affected:before {
  content: "\E0FB";
}

.uf-Port-closed:before {
  content: "\E0FC";
}

.uf-Port-destroyed:before {
  content: "\E0FD";
}

.uf-Port-not-affected:before {
  content: "\E0FE";
}

.uf-Port:before {
  content: "\E0FF";
}

.uf-Potable-water-source:before {
  content: "\E100";
}

.uf-Potable-water:before {
  content: "\E101";
}

.uf-Poverty:before {
  content: "\E102";
}

.uf-Power-electricity-affected:before {
  content: "\E103";
}

.uf-Power-electricity-not-affected:before {
  content: "\E104";
}

.uf-Power-electricity:before {
  content: "\E105";
}

.uf-Power-outage:before {
  content: "\E106";
}

.uf-Pregnant:before {
  content: "\E107";
}

.uf-Preparedness:before {
  content: "\E108";
}

.uf-Previous-item:before {
  content: "\E109";
}

.uf-Print:before {
  content: "\E10A";
}

.uf-Protection:before {
  content: "\E10B";
}

.uf-Public-information:before {
  content: "\E10C";
}

.uf-Radio:before {
  content: "\E10D";
}

.uf-Rebel:before {
  content: "\E10E";
}

.uf-Reconstruction:before {
  content: "\E10F";
}

.uf-Refugee:before {
  content: "\E110";
}

.uf-Registration:before {
  content: "\E111";
}

.uf-Relief-goods:before {
  content: "\E112";
}

.uf-Remote-support:before {
  content: "\E113";
}

.uf-Remove-document:before {
  content: "\E114";
}

.uf-Remove:before {
  content: "\E115";
}

.uf-Report:before {
  content: "\E116";
}

.uf-Reporting:before {
  content: "\E117";
}

.uf-Resilience:before {
  content: "\E118";
}

.uf-Respiratory:before {
  content: "\E119";
}

.uf-Response:before {
  content: "\E11A";
}

.uf-Return:before {
  content: "\E11B";
}

.uf-Rice:before {
  content: "\E11C";
}

.uf-Road-affected:before {
  content: "\E11D";
}

.uf-Road-barrier:before {
  content: "\E11E";
}

.uf-Road-closed:before {
  content: "\E11F";
}

.uf-Road-destroyed:before {
  content: "\E120";
}

.uf-Road-not-affected:before {
  content: "\E121";
}

.uf-Road:before {
  content: "\E122";
}

.uf-Roadblock:before {
  content: "\E123";
}

.uf-Robbery:before {
  content: "\E124";
}

.uf-Rule-of-law-and-justice:before {
  content: "\E125";
}

.uf-Rural-exodus:before {
  content: "\E126";
}

.uf-Rural:before {
  content: "\E127";
}

.uf-Safety-and-security:before {
  content: "\E128";
}

.uf-Salt:before {
  content: "\E129";
}

.uf-Sanitation:before {
  content: "\E12A";
}

.uf-Sanitizer:before {
  content: "\E12B";
}

.uf-Satellite-dish:before {
  content: "\E12C";
}

.uf-Save:before {
  content: "\E12D";
}

.uf-Scale-down-operation:before {
  content: "\E12E";
}

.uf-Scale-up-operation:before {
  content: "\E12F";
}

.uf-School-affected:before {
  content: "\E130";
}

.uf-School-closed:before {
  content: "\E131";
}

.uf-School-destroyed:before {
  content: "\E132";
}

.uf-School-not-affected:before {
  content: "\E133";
}

.uf-School:before {
  content: "\E134";
}

.uf-Search-and-rescue:before {
  content: "\E135";
}

.uf-Search:before {
  content: "\E136";
}

.uf-Secured:before {
  content: "\E137";
}

.uf-Security:before {
  content: "\E138";
}

.uf-See:before {
  content: "\E139";
}

.uf-Selected:before {
  content: "\E13A";
}

.uf-Services-and-tools:before {
  content: "\E13B";
}

.uf-Settings:before {
  content: "\E13C";
}

.uf-Sex:before {
  content: "\E13D";
}

.uf-Sexual-and-reproductive .health:before {
  content: "\E13E";
}

.uf-Sexual-violence:before {
  content: "\E13F";
}

.uf-Share:before {
  content: "\E140";
}

.uf-Shelter:before {
  content: "\E141";
}

.uf-Ship:before {
  content: "\E142";
}

.uf-Shower:before {
  content: "\E143";
}

.uf-Smartphone:before {
  content: "\E144";
}

.uf-Snow-avalanche:before {
  content: "\E145";
}

.uf-Snowfall:before {
  content: "\E146";
}

.uf-Soap:before {
  content: "\E147";
}

.uf-Solid-waste:before {
  content: "\E148";
}

.uf-Spontaneous-site:before {
  content: "\E149";
}

.uf-Spring-water:before {
  content: "\E14A";
}

.uf-Staff-management:before {
  content: "\E14B";
}

.uf-Stop:before {
  content: "\E14C";
}

.uf-Storm-surge:before {
  content: "\E14D";
}

.uf-Storm:before {
  content: "\E14E";
}

.uf-Stove:before {
  content: "\E14F";
}

.uf-Submersible-pump:before {
  content: "\E150";
}

.uf-Sugar:before {
  content: "\E151";
}

.uf-Table:before {
  content: "\E152";
}

.uf-Tarpaulin:before {
  content: "\E153";
}

.uf-Technological-disaster:before {
  content: "\E154";
}

.uf-Temporary-camp:before {
  content: "\E155";
}

.uf-Tent:before {
  content: "\E156";
}

.uf-Testing:before {
  content: "\E157";
}

.uf-Time:before {
  content: "\E158";
}

.uf-Toilet:before {
  content: "\E159";
}

.uf-Top-ranking:before {
  content: "\E15A";
}

.uf-Tornado:before {
  content: "\E15B";
}

.uf-Trade-and-market:before {
  content: "\E15C";
}

.uf-Train:before {
  content: "\E15D";
}

.uf-Training:before {
  content: "\E15E";
}

.uf-Transition-site:before {
  content: "\E15F";
}

.uf-Trending:before {
  content: "\E160";
}

.uf-Truck:before {
  content: "\E161";
}

.uf-Tsunami:before {
  content: "\E162";
}

.uf-Tunnel:before {
  content: "\E163";
}

.uf-UN-compound-office:before {
  content: "\E164";
}

.uf-UN-vehicle:before {
  content: "\E165";
}

.uf-University:before {
  content: "\E166";
}

.uf-Up:before {
  content: "\E167";
}

.uf-Upload:before {
  content: "\E168";
}

.uf-Urban-rural:before {
  content: "\E169";
}

.uf-Urban:before {
  content: "\E16A";
}

.uf-User:before {
  content: "\E16B";
}

.uf-Users:before {
  content: "\E16C";
}

.uf-Vaccine:before {
  content: "\E16D";
}

.uf-Validate-account:before {
  content: "\E16E";
}

.uf-Ventilator:before {
  content: "\E16F";
}

.uf-Video-:before {
  content: "\E170";
}

.uf-Violent-wind:before {
  content: "\E171";
}

.uf-Virus:before {
  content: "\E172";
}

.uf-Volcano:before {
  content: "\E173";
}

.uf-Walkie-talkie:before {
  content: "\E174";
}

.uf-Warning-Error:before {
  content: "\E175";
}

.uf-Water-Sanitation-and-Hygiene:before {
  content: "\E176";
}

.uf-Water-source:before {
  content: "\E177";
}

.uf-Water-trucking:before {
  content: "\E178";
}

.uf-Work-from-home:before {
  content: "\E179";
}

.uf-Worm-infestation:before {
  content: "\E17A";
}

.uf-XLSX-file:before {
  content: "\E17B";
}

.uf-ZIP-compressed:before {
  content: "\E17C";
}

.icon-security:before {
  content: "\e900";
}
.icon-reproductive-health:before {
  content: "\e901";
}
.icon-police-3:before {
  content: "\e902";
}
.icon-police-1 .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.icon-police-1 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-police-1 .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-police-1 .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mental-health-3:before {
  content: "\e907";
}
.icon-mental-health-2:before {
  content: "\e908";
}
.icon-mental-health-1:before {
  content: "\e909";
}
.icon-Abduction-kidnapping:before {
  content: "\e001";
}
.icon-About:before {
  content: "\e002";
}
.icon-Add-document:before {
  content: "\e003";
}
.icon-Add:before {
  content: "\e004";
}
.icon-Advocacy:before {
  content: "\e005";
}
.icon-Affected-population:before {
  content: "\e006";
}
.icon-Agile:before {
  content: "\e007";
}
.icon-Agriculture:before {
  content: "\e008";
}
.icon-Airport-affected:before {
  content: "\e009";
}
.icon-Airport-closed:before {
  content: "\e00a";
}
.icon-Airport-destroyed:before {
  content: "\e00b";
}
.icon-Airport-military:before {
  content: "\e00c";
}
.icon-Airport-not-affected:before {
  content: "\e00d";
}
.icon-Airport:before {
  content: "\e00e";
}
.icon-Alert:before {
  content: "\e00f";
}
.icon-Analysis:before {
  content: "\e010";
}
.icon-Apps:before {
  content: "\e011";
}
.icon-Arrest-detention:before {
  content: "\e012";
}
.icon-Assault:before {
  content: "\e013";
}
.icon-Assembly-point:before {
  content: "\e014";
}
.icon-Assessment:before {
  content: "\e015";
}
.icon-Attack:before {
  content: "\e016";
}
.icon-Bacteria:before {
  content: "\e017";
}
.icon-Blanket:before {
  content: "\e018";
}
.icon-Blog:before {
  content: "\e019";
}
.icon-Boat:before {
  content: "\e01a";
}
.icon-Bookmark:before {
  content: "\e01b";
}
.icon-Border-closed:before {
  content: "\e01c";
}
.icon-Border-crossing:before {
  content: "\e01d";
}
.icon-Borehole:before {
  content: "\e01e";
}
.icon-Bottled-water:before {
  content: "\e01f";
}
.icon-Bridge-affected:before {
  content: "\e020";
}
.icon-Bridge-closed:before {
  content: "\e021";
}
.icon-Bridge-destroyed:before {
  content: "\e022";
}
.icon-Bridge-not-affected:before {
  content: "\e023";
}
.icon-Bridge:before {
  content: "\e024";
}
.icon-Bucket:before {
  content: "\e025";
}
.icon-Buddhist-temple:before {
  content: "\e026";
}
.icon-Building-closed:before {
  content: "\e027";
}
.icon-Building-facility-affected:before {
  content: "\e028";
}
.icon-Building-facility-destroyed:before {
  content: "\e029";
}
.icon-Building-facility-not-affected:before {
  content: "\e02a";
}
.icon-Building:before {
  content: "\e02b";
}
.icon-Bus:before {
  content: "\e02c";
}
.icon-COVID-19:before {
  content: "\e02d";
}
.icon-CSV-file:before {
  content: "\e02e";
}
.icon-Calendar:before {
  content: "\e02f";
}
.icon-Camp-Coordination-and-Camp-Management:before {
  content: "\e030";
}
.icon-Car:before {
  content: "\e031";
}
.icon-Carjacking:before {
  content: "\e032";
}
.icon-Case-management:before {
  content: "\e033";
}
.icon-Cash-transfer:before {
  content: "\e034";
}
.icon-Cell-tower:before {
  content: "\e035";
}
.icon-Chart:before {
  content: "\e036";
}
.icon-Chat:before {
  content: "\e037";
}
.icon-Checked-mail:before {
  content: "\e038";
}
.icon-Checkpoint:before {
  content: "\e039";
}
.icon-Child-care-child-friendly:before {
  content: "\e03a";
}
.icon-Child-combatant:before {
  content: "\e03b";
}
.icon-Child-protection:before {
  content: "\e03c";
}
.icon-Children:before {
  content: "\e03d";
}
.icon-Church:before {
  content: "\e03e";
}
.icon-Civil-military-coordination:before {
  content: "\e03f";
}
.icon-Clinic:before {
  content: "\e040";
}
.icon-Clothing:before {
  content: "\e041";
}
.icon-Cold-wave:before {
  content: "\e042";
}
.icon-Communal-latrine:before {
  content: "\e043";
}
.icon-Community-building:before {
  content: "\e044";
}
.icon-Community-engagement:before {
  content: "\e045";
}
.icon-Computer:before {
  content: "\e046";
}
.icon-Confined:before {
  content: "\e047";
}
.icon-Conflict:before {
  content: "\e048";
}
.icon-Coordinated-assessement:before {
  content: "\e049";
}
.icon-Coordination:before {
  content: "\e04a";
}
.icon-Copy:before {
  content: "\e04b";
}
.icon-Country:before {
  content: "\e04c";
}
.icon-Cyclone:before {
  content: "\e04d";
}
.icon-DOCX-file:before {
  content: "\e04e";
}
.icon-Damaged-Affected:before {
  content: "\e04f";
}
.icon-Dangerous-area:before {
  content: "\e050";
}
.icon-Data:before {
  content: "\e051";
}
.icon-Dead:before {
  content: "\e052";
}
.icon-Debris-management:before {
  content: "\e053";
}
.icon-Delete-account:before {
  content: "\e054";
}
.icon-Deployment:before {
  content: "\e055";
}
.icon-Destroyed:before {
  content: "\e056";
}
.icon-Detergent:before {
  content: "\e057";
}
.icon-Diplomatic-mission:before {
  content: "\e058";
}
.icon-Distribution-site:before {
  content: "\e059";
}
.icon-Doctor:before {
  content: "\e05a";
}
.icon-Document:before {
  content: "\e05b";
}
.icon-Down:before {
  content: "\e05c";
}
.icon-Download:before {
  content: "\e05d";
}
.icon-Drought:before {
  content: "\e05e";
}
.icon-Drowned:before {
  content: "\e05f";
}
.icon-E-mail:before {
  content: "\e060";
}
.icon-Early-Recovery:before {
  content: "\e061";
}
.icon-Earthmound:before {
  content: "\e062";
}
.icon-Earthquake:before {
  content: "\e063";
}
.icon-Edit:before {
  content: "\e064";
}
.icon-Education:before {
  content: "\e065";
}
.icon-Elderly:before {
  content: "\e066";
}
.icon-Emergency-Telecommunications:before {
  content: "\e067";
}
.icon-Environment:before {
  content: "\e068";
}
.icon-Epidemic:before {
  content: "\e069";
}
.icon-Exit-Cancel:before {
  content: "\e06a";
}
.icon-Expand-down:before {
  content: "\e06b";
}
.icon-Expand-left:before {
  content: "\e06c";
}
.icon-Expand-right:before {
  content: "\e06d";
}
.icon-Expand-up:before {
  content: "\e06e";
}
.icon-Famine:before {
  content: "\e06f";
}
.icon-Favourite:before {
  content: "\e070";
}
.icon-Fax:before {
  content: "\e071";
}
.icon-Ferry:before {
  content: "\e072";
}
.icon-Film:before {
  content: "\e073";
}
.icon-Filter:before {
  content: "\e074";
}
.icon-Financing:before {
  content: "\e075";
}
.icon-Fire:before {
  content: "\e076";
}
.icon-Fishery:before {
  content: "\e077";
}
.icon-Flash-flood:before {
  content: "\e078";
}
.icon-Flood:before {
  content: "\e079";
}
.icon-Flour:before {
  content: "\e07a";
}
.icon-Folder:before {
  content: "\e07b";
}
.icon-Food-Security:before {
  content: "\e07c";
}
.icon-Food-warehouse:before {
  content: "\e07d";
}
.icon-Food:before {
  content: "\e07e";
}
.icon-Forced-entry:before {
  content: "\e07f";
}
.icon-Forced-recruitment:before {
  content: "\e080";
}
.icon-Fund:before {
  content: "\e081";
}
.icon-Gap-analysis:before {
  content: "\e082";
}
.icon-Gas-station:before {
  content: "\e083";
}
.icon-Gender-based-violence:before {
  content: "\e084";
}
.icon-Gender:before {
  content: "\e085";
}
.icon-Go:before {
  content: "\e086";
}
.icon-Government-office:before {
  content: "\e087";
}
.icon-Group:before {
  content: "\e088";
}
.icon-Handwashing:before {
  content: "\e089";
}
.icon-Harassment-intimidation:before {
  content: "\e08a";
}
.icon-Health-facility-affected:before {
  content: "\e08b";
}
.icon-Health-facility-destroyed:before {
  content: "\e08c";
}
.icon-Health-facility-not-affected:before {
  content: "\e08d";
}
.icon-Health-facility:before {
  content: "\e08e";
}
.icon-Health-post:before {
  content: "\e08f";
}
.icon-Health-worker:before {
  content: "\e090";
}
.icon-Health:before {
  content: "\e091";
}
.icon-Heatwave:before {
  content: "\e092";
}
.icon-Heavy-rain:before {
  content: "\e093";
}
.icon-Helicopter:before {
  content: "\e094";
}
.icon-Helipad:before {
  content: "\e095";
}
.icon-Help:before {
  content: "\e096";
}
.icon-Hidden:before {
  content: "\e097";
}
.icon-Hindu-temple:before {
  content: "\e098";
}
.icon-Hospital-bed:before {
  content: "\e099";
}
.icon-Hospital:before {
  content: "\e09a";
}
.icon-Hotel:before {
  content: "\e09b";
}
.icon-House-affected:before {
  content: "\e09c";
}
.icon-House-burned:before {
  content: "\e09d";
}
.icon-House-destroyed:before {
  content: "\e09e";
}
.icon-House-lockdown:before {
  content: "\e09f";
}
.icon-House-not-affected:before {
  content: "\e0a0";
}
.icon-House:before {
  content: "\e0a1";
}
.icon-Humanitarian-access:before {
  content: "\e0a2";
}
.icon-Humanitarian-programme-cycle:before {
  content: "\e0a3";
}
.icon-IDP-refugee-camp:before {
  content: "\e0a4";
}
.icon-Indigenouspeople:before {
  content: "\e0a5";
}
.icon-Infant-formula:before {
  content: "\e0a6";
}
.icon-Infant:before {
  content: "\e0a7";
}
.icon-Infected:before {
  content: "\e0a8";
}
.icon-Infection-control:before {
  content: "\e0a9";
}
.icon-Information-management:before {
  content: "\e0aa";
}
.icon-Information-technology:before {
  content: "\e0ab";
}
.icon-Infrastructure:before {
  content: "\e0ac";
}
.icon-Injured:before {
  content: "\e0ad";
}
.icon-Innovation:before {
  content: "\e0ae";
}
.icon-Insect-infestation:before {
  content: "\e0af";
}
.icon-Internally-displaced:before {
  content: "\e0b0";
}
.icon-Internet:before {
  content: "\e0b1";
}
.icon-Landslide-mudslide:before {
  content: "\e0b2";
}
.icon-Laptop:before {
  content: "\e0b3";
}
.icon-Latrine-cabin:before {
  content: "\e0b4";
}
.icon-Leadership:before {
  content: "\e0b5";
}
.icon-Learning:before {
  content: "\e0b6";
}
.icon-Life-saving:before {
  content: "\e0b7";
}
.icon-Link:before {
  content: "\e0b8";
}
.icon-Livelihood:before {
  content: "\e0b9";
}
.icon-Livestock:before {
  content: "\e0ba";
}
.icon-Location-lockdown:before {
  content: "\e0bb";
}
.icon-Location:before {
  content: "\e0bc";
}
.icon-Locust-infestation:before {
  content: "\e0bd";
}
.icon-Logistics:before {
  content: "\e0be";
}
.icon-Map:before {
  content: "\e0bf";
}
.icon-Market-closed:before {
  content: "\e0c0";
}
.icon-Market:before {
  content: "\e0c1";
}
.icon-Mask:before {
  content: "\e0c2";
}
.icon-Mattress:before {
  content: "\e0c3";
}
.icon-Medical-supply:before {
  content: "\e0c4";
}
.icon-Medicine:before {
  content: "\e0c5";
}
.icon-Meeting:before {
  content: "\e0c6";
}
.icon-Menu:before {
  content: "\e0c7";
}
.icon-Military-gate:before {
  content: "\e0c8";
}
.icon-Mine:before {
  content: "\e0c9";
}
.icon-Missing:before {
  content: "\e0ca";
}
.icon-Mobile-clinic:before {
  content: "\e0cb";
}
.icon-Mobile-phone:before {
  content: "\e0cc";
}
.icon-Monitor:before {
  content: "\e0cd";
}
.icon-Monitoring:before {
  content: "\e0ce";
}
.icon-More-options:before {
  content: "\e0cf";
}
.icon-Mosque:before {
  content: "\e0d0";
}
.icon-Mosquito-net:before {
  content: "\e0d1";
}
.icon-Multi-cluster-sector:before {
  content: "\e0d2";
}
.icon-Murder:before {
  content: "\e0d3";
}
.icon-NGO-office:before {
  content: "\e0d4";
}
.icon-National-army:before {
  content: "\e0d5";
}
.icon-Needs-assessment:before {
  content: "\e0d6";
}
.icon-Next-item:before {
  content: "\e0d7";
}
.icon-Non-food-items-2:before {
  content: "\e0d8";
}
.icon-Non-food-items:before {
  content: "\e0d9";
}
.icon-Not-affected:before {
  content: "\e0da";
}
.icon-Not-infected:before {
  content: "\e0db";
}
.icon-Not-secured:before {
  content: "\e0dc";
}
.icon-Notification:before {
  content: "\e0dd";
}
.icon-Nutrition:before {
  content: "\e0de";
}
.icon-Observation-tower:before {
  content: "\e0df";
}
.icon-Oil-facility:before {
  content: "\e0e0";
}
.icon-Oil:before {
  content: "\e0e1";
}
.icon-Out-of-platform:before {
  content: "\e0e2";
}
.icon-PDF-file:before {
  content: "\e0e3";
}
.icon-Partnership:before {
  content: "\e0e4";
}
.icon-Password:before {
  content: "\e0e5";
}
.icon-Pause:before {
  content: "\e0e6";
}
.icon-Peacekeeping-force:before {
  content: "\e0e7";
}
.icon-People-affected:before {
  content: "\e0e8";
}
.icon-People-covered:before {
  content: "\e0e9";
}
.icon-People-in-need-2:before {
  content: "\e0ea";
}
.icon-People-in-need:before {
  content: "\e0eb";
}
.icon-People-reached:before {
  content: "\e0ec";
}
.icon-People-targeted-2:before {
  content: "\e0ed";
}
.icon-People-targeted:before {
  content: "\e0ee";
}
.icon-People-with-physical-impairments:before {
  content: "\e0ef";
}
.icon-Permanent-camp:before {
  content: "\e0f0";
}
.icon-Person-1:before {
  content: "\e0f1";
}
.icon-Person-2:before {
  content: "\e0f2";
}
.icon-Photo:before {
  content: "\e0f3";
}
.icon-Physical-closure:before {
  content: "\e0f4";
}
.icon-Physical-distancing:before {
  content: "\e0f5";
}
.icon-Plastic-sheeting:before {
  content: "\e0f6";
}
.icon-Police-station:before {
  content: "\e0f7";
}
.icon-Policy:before {
  content: "\e0f8";
}
.icon-Population-growth:before {
  content: "\e0f9";
}
.icon-Population-return:before {
  content: "\e0fa";
}
.icon-Port-affected:before {
  content: "\e0fb";
}
.icon-Port-closed:before {
  content: "\e0fc";
}
.icon-Port-destroyed:before {
  content: "\e0fd";
}
.icon-Port-not-affected:before {
  content: "\e0fe";
}
.icon-Port:before {
  content: "\e0ff";
}
.icon-Potable-water-source:before {
  content: "\e100";
}
.icon-Potable-water:before {
  content: "\e101";
}
.icon-Poverty:before {
  content: "\e102";
}
.icon-Power-electricity-affected:before {
  content: "\e103";
}
.icon-Power-electricity-not-affected:before {
  content: "\e104";
}
.icon-Power-electricity:before {
  content: "\e105";
}
.icon-Power-outage:before {
  content: "\e106";
}
.icon-Pregnant:before {
  content: "\e107";
}
.icon-Preparedness:before {
  content: "\e108";
}
.icon-Previous-item:before {
  content: "\e109";
}
.icon-Print:before {
  content: "\e10a";
}
.icon-Protection:before {
  content: "\e10b";
}
.icon-Public-information:before {
  content: "\e10c";
}
.icon-Radio:before {
  content: "\e10d";
}
.icon-Rebel:before {
  content: "\e10e";
}
.icon-Reconstruction:before {
  content: "\e10f";
}
.icon-Refugee:before {
  content: "\e110";
}
.icon-Registration:before {
  content: "\e111";
}
.icon-Relief-goods:before {
  content: "\e112";
}
.icon-Remote-support:before {
  content: "\e113";
}
.icon-Remove-document:before {
  content: "\e114";
}
.icon-Remove:before {
  content: "\e115";
}
.icon-Report:before {
  content: "\e116";
}
.icon-Reporting:before {
  content: "\e117";
}
.icon-Resilience:before {
  content: "\e118";
}
.icon-Respiratory:before {
  content: "\e119";
}
.icon-Response:before {
  content: "\e11a";
}
.icon-Return:before {
  content: "\e11b";
}
.icon-Rice:before {
  content: "\e11c";
}
.icon-Road-affected:before {
  content: "\e11d";
}
.icon-Road-barrier:before {
  content: "\e11e";
}
.icon-Road-closed:before {
  content: "\e11f";
}
.icon-Road-destroyed:before {
  content: "\e120";
}
.icon-Road-not-affected:before {
  content: "\e121";
}
.icon-Road:before {
  content: "\e122";
}
.icon-Roadblock:before {
  content: "\e123";
}
.icon-Robbery:before {
  content: "\e124";
}
.icon-Rule-of-law-and-justice:before {
  content: "\e125";
}
.icon-Rural-exodus:before {
  content: "\e126";
}
.icon-Rural:before {
  content: "\e127";
}
.icon-Safety-and-security:before {
  content: "\e128";
}
.icon-Salt:before {
  content: "\e129";
}
.icon-Sanitation:before {
  content: "\e12a";
}
.icon-Sanitizer:before {
  content: "\e12b";
}
.icon-Satellite-dish:before {
  content: "\e12c";
}
.icon-Save:before {
  content: "\e12d";
}
.icon-Scale-down-operation:before {
  content: "\e12e";
}
.icon-Scale-up-operation:before {
  content: "\e12f";
}
.icon-School-affected:before {
  content: "\e130";
}
.icon-School-closed:before {
  content: "\e131";
}
.icon-School-destroyed:before {
  content: "\e132";
}
.icon-School-not-affected:before {
  content: "\e133";
}
.icon-School:before {
  content: "\e134";
}
.icon-Search-and-rescue:before {
  content: "\e135";
}
.icon-Search:before {
  content: "\e136";
}
.icon-Secured:before {
  content: "\e137";
}
.icon-Security:before {
  content: "\e138";
}
.icon-See:before {
  content: "\e139";
}
.icon-Selected:before {
  content: "\e13a";
}
.icon-Services-and-tools:before {
  content: "\e13b";
}
.icon-Settings:before {
  content: "\e13c";
}
.icon-Sex:before {
  content: "\e13d";
}
.icon-Sexual-and-reproductivehealth:before {
  content: "\e13e";
}
.icon-Sexual-violence:before {
  content: "\e13f";
}
.icon-Share:before {
  content: "\e140";
}
.icon-Shelter:before {
  content: "\e141";
}
.icon-Ship:before {
  content: "\e142";
}
.icon-Shower:before {
  content: "\e143";
}
.icon-Smartphone:before {
  content: "\e144";
}
.icon-Snow-avalanche:before {
  content: "\e145";
}
.icon-Snowfall:before {
  content: "\e146";
}
.icon-Soap:before {
  content: "\e147";
}
.icon-Solid-waste:before {
  content: "\e148";
}
.icon-Spontaneous-site:before {
  content: "\e149";
}
.icon-Spring-water:before {
  content: "\e14a";
}
.icon-Staff-management:before {
  content: "\e14b";
}
.icon-Stop:before {
  content: "\e14c";
}
.icon-Storm-surge:before {
  content: "\e14d";
}
.icon-Storm:before {
  content: "\e14e";
}
.icon-Stove:before {
  content: "\e14f";
}
.icon-Submersible-pump:before {
  content: "\e150";
}
.icon-Sugar:before {
  content: "\e151";
}
.icon-Table:before {
  content: "\e152";
}
.icon-Tarpaulin:before {
  content: "\e153";
}
.icon-Technological-disaster:before {
  content: "\e154";
}
.icon-Temporary-camp:before {
  content: "\e155";
}
.icon-Tent:before {
  content: "\e156";
}
.icon-Testing:before {
  content: "\e157";
}
.icon-Time:before {
  content: "\e158";
}
.icon-Toilet:before {
  content: "\e159";
}
.icon-Top-ranking:before {
  content: "\e15a";
}
.icon-Tornado:before {
  content: "\e15b";
}
.icon-Trade-and-market:before {
  content: "\e15c";
}
.icon-Train:before {
  content: "\e15d";
}
.icon-Training:before {
  content: "\e15e";
}
.icon-Transition-site:before {
  content: "\e15f";
}
.icon-Trending:before {
  content: "\e160";
}
.icon-Truck:before {
  content: "\e161";
}
.icon-Tsunami:before {
  content: "\e162";
}
.icon-Tunnel:before {
  content: "\e163";
}
.icon-UN-compound-office:before {
  content: "\e164";
}
.icon-UN-vehicle:before {
  content: "\e165";
}
.icon-University:before {
  content: "\e166";
}
.icon-Up:before {
  content: "\e167";
}
.icon-Upload:before {
  content: "\e168";
}
.icon-Urban-rural:before {
  content: "\e169";
}
.icon-Urban:before {
  content: "\e16a";
}
.icon-User:before {
  content: "\e16b";
}
.icon-Users:before {
  content: "\e16c";
}
.icon-Vaccine:before {
  content: "\e16d";
}
.icon-Validate-account:before {
  content: "\e16e";
}
.icon-Ventilator:before {
  content: "\e16f";
}
.icon-Video-:before {
  content: "\e170";
}
.icon-Violent-wind:before {
  content: "\e171";
}
.icon-Virus:before {
  content: "\e172";
}
.icon-Volcano:before {
  content: "\e173";
}
.icon-Walkie-talkie:before {
  content: "\e174";
}
.icon-Warning-Error:before {
  content: "\e175";
}
.icon-Water-Sanitation-and-Hygiene:before {
  content: "\e176";
}
.icon-Water-source:before {
  content: "\e177";
}
.icon-Water-trucking:before {
  content: "\e178";
}
.icon-Work-from-home:before {
  content: "\e179";
}
.icon-Worm-infestation:before {
  content: "\e17a";
}
.icon-XLSX-file:before {
  content: "\e17b";
}
.icon-ZIP-compressed:before {
  content: "\e17c";
}
