.pager {
  text-align: center;
}

.pager__items {
  border-radius: 4px;
  display: inline-block;
  list-style: none;
  margin: 20px 0;
  padding-left: 0;

  > li {
    display: inline;

    > a {
      background-color: $base-white-color;
      border: 1px solid #ddd;
      color: $base-black-color;
      float: left;
      line-height: 1.42857143;
      margin-left: -1px;
      padding: 6px 12px;
      position: relative;
      text-decoration: none;
    }

    &.is-active {
      > a {
        background-color: $base-primary-bgcolor;
        border-color: $base-primary-bgcolor;
        color: $base-white-color;
      }
    }
  }
}
