table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;

  td,
  th {
    border-top: 1px solid #ddd;
    line-height: 1.42857143;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }

  caption {
    color: #777;
    font-size: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
  }
}
