{#
/**
 * @file notification_processed_entity.html.twig
 * Default theme implementation to present Notification processed entity data.
 *
 * This template is used when viewing Notification processed entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_notification_processed_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('notification_processed_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
