<div class="notifications-wrapper">
   <div class="notifications">
    {% for item in combined %}
        <div class="notification">
            <div class="icon">
                <img src="/{{ common_var.module_path }}/images/icon.png" alt="Icon">
            </div>
            <div class="content">
                <p><strong>Silobile Moyo</strong> has joined your organisation as <strong>SP Staff</strong> at <strong>Mutare</strong>. </p>
                <p class="time">{{ '2 hrs ago' }} | {{ "Approval for New user" }}</p>
            </div>
        </div>
        {% endfor %}
   </div>
   <div class="view-all-notification">
     {{ link('View All Notifications'|t, 'internal:/' ~ path('erpw_in_app_notification.user_notification', {}, {}, { 'class': ['view-all-notification']})) }}
   </div>
</div>
