{#
/**
 * @file
 * Default theme implementation for checkbox tree item.
 *
 * Available variables:
 * - attributes: The attributes object for the container.
 * - children: The items within the tree item.
 *
 * @see template_preprocess_checkbox_tree_item()
 */
#}
<div{{ attributes }}></div>
{{ children }}
