{#
/**
 * @file
 * Default theme implementation for checkbox trees.
 *
 * Available variables:
 * - attributes: The attributes object for the container.
 * - children: The items within the tree.
 *
 * @see template_preprocess_checkbox_tree()
 */
#}
<div{{ attributes }}>
  {{ children }}
</div>
