{#
/**
 * @file
 * Default theme implementation for checkbox tree labels.
 *
 * Available variables:
 * - label: The label text.
 *
 * @see template_preprocess_checkbox_tree_item()
 */
#}
<div class="parent-term">{{ label }}</div>
