{#
/**
 * @file
 * Default theme implementation for term tree lists.
 *
 * Available variables:
 * - children: The items within the tree tree list.
 *
 * @see template_preprocess_term_tree_list()
 */
#}
<div class="term-tree-list">
  {{ children }}
</div>
