/* 16px */
/* 18px */
/* 20px */
/* 14px */
/* 12px */
/* 24px */
/* 20px */
/* 40px */
/*56px*/
/*36px*/
/*21px*/
body {
  margin-top: 0;
  font-family: Roboto;
  color: #000;
  font-size: 1.42em; }

.dropdown-menu {
  font-size: inherit; }

.navbar {
  min-height: auto;
  background: #FFCDD2;
  border: none;
  margin-bottom: 0; }

.container-fluid > .navbar-header {
  margin-left: -15px;
  margin-right: -15px; }

.exit-website-btn {
  background: #CD0000;
  color: #ffffff; }
  .exit-website-btn i {
    padding-right: 12px; }

.footer-wrapper {
  background: #CB9CA1;
  margin-top: 20px; }

.region-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 65px; }

.block-menu-item-fieldsquick-links {
  margin-top: 20px; }
  .block-menu-item-fieldsquick-links h2 {
    font-size: 0.85em;
    font-family: Roboto;
    font-weight: 400; }
  .block-menu-item-fieldsquick-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 0;
    list-style: none;
    list-style: none; }
    .block-menu-item-fieldsquick-links ul li {
      margin-right: 25px; }
      .block-menu-item-fieldsquick-links ul li > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .block-menu-item-fieldsquick-links ul li > div > div {
          padding-right: 12px; }
      .block-menu-item-fieldsquick-links ul li a {
        font-size: 1.14em;
        font-family: Roboto;
        font-weight: 500;
        color: #000;
        line-height: 24px; }

ul.block-menu-item-fieldsfooter-last-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  list-style: none; }

#block-virtualsafespace p,
#block-copyright p {
  color: #000;
  font-size: 1em;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  margin: 0; }

#block-footerlastmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  list-style: none; }
  #block-footerlastmenu ul li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    text-align: center; }
    #block-footerlastmenu ul li:first-child {
      border-left: 0; }
    #block-footerlastmenu ul li a {
      color: #000;
      font-size: 1em;
      font-family: Roboto;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
      padding: 0 8px; }
      #block-footerlastmenu ul li a:hover {
        background-color: inherit; }

.address-info {
  margin-top: 16px;
  display: block; }
  .address-info ul {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 0;
    list-style: none; }
    .address-info ul li {
      list-style: none;
      margin-right: 16px; }
      .address-info ul li a {
        color: #000; }
      .address-info ul li img {
        margin-right: 10px; }

#block-virtualsafespace h2 {
  font-size: 1.714em;
  font-weight: 500;
  line-height: 30px; }

#block-virtualsafespace .logo-title-wrapper {
  margin-top: 60px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #block-virtualsafespace .logo-title-wrapper .field--name-field-logo {
    margin-top: 20px;
    margin-right: 12px; }

.buttonwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .buttonwrapper .telephone-header {
    margin: 15px 35px; }
    .buttonwrapper .telephone-header img {
      margin-right: 5px; }
    .buttonwrapper .telephone-header a {
      text-decoration: none;
      color: #000;
      font-size: 1.14em; }

.header-wrap {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2); }
  .header-wrap .navbar-brand {
    font-size: 1.42em;
    color: #BB6A79; }
    .header-wrap .navbar-brand:hover {
      color: #BB6A79; }

.btn-settings {
  cursor: pointer; }

.region-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .region-header #nav_wrap {
    margin-left: auto; }
  .region-header #block-iraqnavigationheadermenu,
  .region-header #block-navigationheadermenu {
    margin-left: auto; }
    .region-header #block-iraqnavigationheadermenu .discoverdd,
    .region-header #block-navigationheadermenu .discoverdd {
      min-width: 220px;
      top: 32px; }
      .region-header #block-iraqnavigationheadermenu .discoverdd li,
      .region-header #block-navigationheadermenu .discoverdd li {
        margin: 24px 16px;
        line-height: 24px; }
        .region-header #block-iraqnavigationheadermenu .discoverdd li a,
        .region-header #block-navigationheadermenu .discoverdd li a {
          font-weight: 400; }
    .region-header #block-iraqnavigationheadermenu > ul,
    .region-header #block-navigationheadermenu > ul {
      /*position: relative;*/
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      padding: 0;
      list-style: none; }
      .region-header #block-iraqnavigationheadermenu > ul li,
      .region-header #block-navigationheadermenu > ul li {
        margin-right: 25px; }
        .region-header #block-iraqnavigationheadermenu > ul li > div,
        .region-header #block-navigationheadermenu > ul li > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .region-header #block-iraqnavigationheadermenu > ul li > div > div,
          .region-header #block-navigationheadermenu > ul li > div > div {
            padding-right: 12px; }
        .region-header #block-iraqnavigationheadermenu > ul li a,
        .region-header #block-navigationheadermenu > ul li a {
          font-size: 1em;
          font-family: Roboto;
          font-weight: 500;
          color: #000;
          line-height: 24px; }
        .region-header #block-iraqnavigationheadermenu > ul li span,
        .region-header #block-navigationheadermenu > ul li span {
          font-size: 1em;
          font-family: Roboto;
          font-weight: 500;
          color: #000;
          line-height: 24px; }
  .region-header #block-settingsmenu,
  .region-header #block-iraqnavigationheadermenu,
  .region-header #block-navigationheadermenu {
    margin-top: 15px; }
  .region-header #discover1 {
    cursor: pointer; }
    .region-header #discover1 .caret {
      margin-left: -10px;
      margin-top: 10px; }
    .region-header #discover1 > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .region-header #discover1 > div > div {
        padding-right: 12px; }
  .region-header #block-settingsmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .region-header #block-settingsmenu .search-box {
      margin-right: 30px;
      cursor: pointer; }
    .region-header #block-settingsmenu .navbar-text {
      font-size: 1.14em;
      font-weight: 400;
      line-height: 24px;
      margin: 12px 16px;
      float: left; }
      .region-header #block-settingsmenu .navbar-text .percent {
        margin-left: 20px; }
    .region-header #block-settingsmenu a#font_resize-minus {
      background: url(../images/minus.png) no-repeat center center;
      float: left;
      margin-right: 20px;
      margin-top: 4px;
      display: block;
      width: 14px;
      height: 14px;
      text-indent: -999em;
      font-size: 0; }
    .region-header #block-settingsmenu a#font_resize-plus {
      text-indent: -999em;
      font-size: 0;
      float: left;
      background: url(../images/plus.png) no-repeat center center;
      margin-top: 0;
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 12px;
      margin-top: 4px; }
    .region-header #block-settingsmenu .text-resize-block {
      float: right;
      margin-top: 12px;
      margin-right: 8px; }
    .region-header #block-settingsmenu .dropdown-menu {
      margin: 0;
      padding: 8px 0;
      top: 96%;
      left: calc(100% - 240px);
      border-radius: 10px;
      width: 240px;
      font-size: 14px; }
      .region-header #block-settingsmenu .dropdown-menu li {
        padding: 0;
        margin: 0;
        display: inline; }
        .region-header #block-settingsmenu .dropdown-menu li .form-type-checkbox {
          margin: 2px 0 0 0; }
        .region-header #block-settingsmenu .dropdown-menu li .form-type-checkbox-2 {
          margin-top: 10px;
          right: 5px; }

#block-settingsmenu .form-item-audio .checkbox-toggle {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative !important;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 10px 0 10px 10px;
  top: 5px;
  right: -35px; }
  #block-settingsmenu .form-item-audio .checkbox-toggle:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0px;
    top: -3px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
  #block-settingsmenu .form-item-audio .checkbox-toggle:after {
    content: '';
    width: 40px;
    height: 14px;
    display: inline-block;
    background: rgba(33, 33, 33, 0.08);
    border-radius: 18px;
    clear: both; }
  #block-settingsmenu .form-item-audio .checkbox-toggle:checked:before {
    left: 22px;
    background: #cb9ca1; }
  #block-settingsmenu .form-item-audio .checkbox-toggle:checked:after {
    background: #ffcdd2; }

#block-socialiconsfooterblock .icons-warp a {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  text-indent: 2px;
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 16px;
  font-size: 14px; }
  #block-socialiconsfooterblock .icons-warp a:hover {
    color: #000; }

.zoom-wrap {
  clear: both; }

.main-container {
  min-height: 270px; }

body .block [hidden].contextual-links {
  display: none !important; }

.region-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .region-footer-top > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%; }

.article-hero-img {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px; }
  .article-hero-img .hero-img {
    width: 100%; }
  .article-hero-img .article {
    border: 2px solid #000;
    text-align: center;
    /*margin: 25% 10% auto;*/
    top: 60%;
    left: 10%;
    padding: 2% 5%;
    width: 80%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    border-radius: 20px; }

article img {
  border-radius: 20px; }

article p:last-child {
  margin-bottom: 20px; }

article .paragraph--type--podcast-audio,
article .paragraph--type--image-gallery,
article .paragraph--type--external-videos,
article .paragraph--type--video,
article .field--name-field-single-image {
  margin-bottom: 20px; }

article .video {
  width: 100%;
  border-radius: 20px; }

article .video-embed-field-provider-youtube iframe {
  border-radius: 20px; }

article .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 35px; }
  article .buttons .button-defult {
    background: #FFCDD2 url("../images/sound-icon.png") no-repeat 20px center;
    padding-left: 45px; }

article .field--name-field-tags .field--label {
  font-weight: 400; }

article .field--name-field-tags .field--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  article .field--name-field-tags .field--items .field--item {
    font-size: 1.14em;
    font-weight: 500;
    text-decoration: underline; }
    article .field--name-field-tags .field--items .field--item:not(:first-child):before {
      content: " ,";
      margin-right: 5px;
      text-decoration: none; }

.more-text {
  display: none; }

article .paragraph--type--image {
  margin-bottom: 20px; }

article .read-more {
  display: block;
  margin: 20px auto;
  width: auto !important; }
  article .read-more i {
    margin-left: 14px; }

article .field--name-field-tags .field-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 20px; }
  article .field--name-field-tags .field-label .tag-label {
    margin-right: 5px;
    font-size: 1.14em; }

#block-languageswitcher ul li a {
  font-size: 1em; }

#block-globalstickyblock {
  z-index: 99;
  position: fixed;
  top: 430px;
  right: 2%;
  padding: 30px 10px;
  background: #CB9CA1;
  border-radius: 8px; }
  #block-globalstickyblock .global_sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #block-globalstickyblock .global_sticky .gethelp {
      margin: 28px 0; }
    #block-globalstickyblock .global_sticky a {
      text-align: center;
      color: #000;
      font-size: 0.85em;
      cursor: pointer; }
      #block-globalstickyblock .global_sticky a:hover {
        text-decoration: none; }
      #block-globalstickyblock .global_sticky a img {
        display: block;
        margin: 0 auto 6px; }
      #block-globalstickyblock .global_sticky a span {
        display: block;
        text-align: center;
        line-height: 16px; }

body .absoluteclass {
  position: absolute !important;
  top: inherit !important;
  bottom: 500px; }

.pod-video {
  margin-top: 20px;
  margin-bottom: 40px; }

.podcast .audio {
  width: 100%; }

.podcast-transcript-btn,
.transcript-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .podcast-transcript-btn button,
  .transcript-btn button {
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px; }

.transcript-container,
.podcast-transcript-container {
  background: #FFCDD233;
  border: 1px solid #FFCDD2;
  border-radius: 20px;
  margin-bottom: 20px; }

.podcast-transcript,
.transcript {
  max-height: 240px;
  overflow-y: auto;
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  font-size: 1.42em;
  font-weight: 400;
  line-height: 32px; }
  .podcast-transcript .line,
  .transcript .line {
    padding: 0px 20px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.current {
  background-color: #F4EAEC;
  border: 1px solid #000;
  padding: 0px 5px;
  border-radius: 4px; }

#transcript,
#podcast-transcript,
.hide-transcript,
.hide-podcast-transcript {
  display: none; }

.transcript-text,
.podcast-transcript-text {
  margin-left: 30px; }

.carousel-caption1,
.img-caption-wrap {
  display: inline-block; }
  .carousel-caption1 .caption,
  .img-caption-wrap .caption {
    margin: 12px 7%;
    text-align: center;
    font-size: 0.85em;
    line-height: 16px;
    display: block; }

.carousel-caption1 {
  display: block; }

.carousel .item img {
  width: 100%; }

#readmore_article[aria-expanded="true"] {
  height: auto !important; }

.breadcrumb img,
.discoverdd .field--type-image img {
  width: 24px;
  height: 24px;
  border-radius: 50%; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000CC;
  background: none;
  font-size: 1.14em;
  line-height: 24px;
  margin-top: 40px;
  padding: 0; }
  .breadcrumb li:first-child a::before {
    content: '';
    background: url(../images/home.png) no-repeat;
    width: 22px;
    height: 19px;
    float: left;
    margin-right: 8px; }
  .breadcrumb > .active {
    color: #000000CC; }
  .breadcrumb img {
    margin-right: 8px; }
  .breadcrumb > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .breadcrumb > li + li:before {
      color: #00000099;
      padding: 0 8px; }
    .breadcrumb > li > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .breadcrumb > li a {
      color: #000000CC; }
      .breadcrumb > li a:hover {
        text-decoration: none; }
      .breadcrumb > li a > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }

.shepherd-element {
  width: 400px;
  border-radius: 20px; }
  .shepherd-element .shepherd-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 37px;
    padding: 0 24px; }
    .shepherd-element .shepherd-text .tour-tip-body {
      font-size: 1.14em;
      line-height: 24px;
      font-weight: 500;
      margin-top: 8px;
      padding: 0 12px;
      min-height: 50px; }
  .shepherd-element .play {
    cursor: pointer;
    margin-right: 6px;
    margin-top: 11px; }
  .shepherd-element .shepherd-cancel-icon {
    top: 29px;
    right: 29px; }
    .shepherd-element .shepherd-cancel-icon span {
      font-family: "Font Awesome 6 Free";
      font-weight: 500;
      font-size: 24px; }
  .shepherd-element .shepherd-footer {
    border-top: 1px solid #00000033;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px 0;
    margin: 0 24px; }
    .shepherd-element .shepherd-footer .skip {
      cursor: pointer;
      margin-top: 12px;
      font-size: 1.14em;
      line-height: 24px;
      font-weight: 400; }
    .shepherd-element .shepherd-footer button {
      text-transform: uppercase; }
      .shepherd-element .shepherd-footer button i {
        margin: 0 10px; }

.carousel-control.right,
.carousel-control.left {
  background: none; }

/*Aanya recomended*/
#block-recommendedrelatedcontentblock {
  border-top: 1px dotted #000;
  padding: 50px 0; }
  #block-recommendedrelatedcontentblock .recomended-header {
    margin-bottom: 40px; }
    #block-recommendedrelatedcontentblock .recomended-header span {
      padding-left: 24px; }
  #block-recommendedrelatedcontentblock .recomended-wrapper .article:after {
    background: url("../images/article-icon.png") no-repeat top left; }
  #block-recommendedrelatedcontentblock .recomended-wrapper .video:after {
    background: url("../images/video-icon.png") no-repeat top left; }
  #block-recommendedrelatedcontentblock .recomended-wrapper .podcast:after {
    background: url("../images/podcast-icon.png") no-repeat top left; }
  #block-recommendedrelatedcontentblock .recomended-wrapper .scrom:after {
    background: url("../images/scrom-icon.png") no-repeat top left; }
  #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item {
    position: relative; }
    #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item:after {
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      width: 32px;
      height: 33px;
      margin-left: 27px;
      margin-top: 12px; }
    #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item .play-circle-podcast {
      position: absolute;
      top: 109px;
      left: 22px;
      width: 50px; }
    #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item .play-circle {
      position: absolute;
      top: 26%;
      left: calc(50% - 28px); }
    #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item .recomended-images {
      border-radius: 20px;
      width: 100%;
      height: 168px; }
    #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item span {
      display: block;
      width: 82%;
      margin-top: 15px; }
      #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item span a {
        color: #000000DE;
        font-weight: 500;
        font-size: 1.42em;
        line-height: 28px; }
        #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item span a:hover {
          text-decoration: none; }

.featured-stories {
  background: url(../images/featured-cat-stories.png) no-repeat;
  background-size: cover; }
  .featured-stories h3 {
    margin: 105px 0 60px 0; }
    .featured-stories h3 img {
      padding-right: 9px; }
  .featured-stories .featured_stories_block {
    margin-bottom: 95px; }
    .featured-stories .featured_stories_block a {
      color: #030303; }
      .featured-stories .featured_stories_block a:hover {
        text-decoration: none; }
      .featured-stories .featured_stories_block a span {
        font-size: 1.14em;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 24px;
        display: block;
        font-weight: 400;
        min-height: 40px; }
    .featured-stories .featured_stories_block .article:after {
      background: url("../images/article-icon.png") no-repeat top left; }
    .featured-stories .featured_stories_block .video:after {
      background: url("../images/video-icon.png") no-repeat top left; }
    .featured-stories .featured_stories_block .podcast:after {
      background: url("../images/podcast-icon.png") no-repeat top left; }
    .featured-stories .featured_stories_block .scorm:after {
      background: url("../images/scrom-icon.png") no-repeat top left; }
    .featured-stories .featured_stories_block .two-slice {
      position: relative; }
      .featured-stories .featured_stories_block .two-slice:after {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        width: 32px;
        height: 37px;
        margin-left: 27px;
        margin-top: 12px; }
      .featured-stories .featured_stories_block .two-slice .two-slice-img {
        width: 100%;
        height: 286px;
        border-radius: 20px; }
      .featured-stories .featured_stories_block .two-slice .play-circle {
        position: absolute;
        left: calc(50% - 28px);
        top: 37%; }
      .featured-stories .featured_stories_block .two-slice .play-circle-podcast {
        position: absolute;
        left: 22px;
        top: 222px; }
    .featured-stories .featured_stories_block .four-slice {
      position: relative; }
      .featured-stories .featured_stories_block .four-slice:after {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        width: 32px;
        height: 33px;
        margin-left: 27px;
        margin-top: 12px; }
      .featured-stories .featured_stories_block .four-slice .four-slice-img {
        height: 136px;
        width: 100%;
        border-radius: 20px; }
      .featured-stories .featured_stories_block .four-slice .play-circle {
        position: absolute;
        left: calc(50% - 28px);
        top: 20%; }
      .featured-stories .featured_stories_block .four-slice .play-circle-podcast {
        position: absolute;
        width: 50px;
        left: 22px;
        top: 78px; }

/*categoery hero*/
.block-hero-banner-block h2 {
  margin: 60px 0; }
  .block-hero-banner-block h2 img {
    width: 48px;
    height: 48px;
    border-radius: 50%; }

.block-hero-banner-block .hero-wrapper .hero-col {
  margin-bottom: 20px;
  min-height: 350px; }

.block-hero-banner-block .hero-wrapper a {
  text-decoration: none;
  color: #000; }
  .block-hero-banner-block .hero-wrapper a img {
    width: 200px;
    height: 200px;
    border-radius: 50%; }
  .block-hero-banner-block .hero-wrapper a span {
    display: block;
    text-align: center;
    line-height: 32px;
    font-weight: 400;
    font-size: 1.42em;
    margin-top: 24px; }

.wrapper {
  overflow: hidden; }

/* Words from experts*/
#block-wordsfromexperts .bg-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/bg-words_from_experts.png") no-repeat center;
  background-size: 1240px 795.62px; }

#block-wordsfromexperts h2.block-title {
  text-align: center;
  font-size: 36px;
  font-weight: 500; }

#block-wordsfromexperts .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#block-wordsfromexperts .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item p {
  padding: 8%;
  margin-top: 10%;
  font-size: 20px;
  line-height: 28px; }

#block-wordsfromexperts .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item h2 {
  float: right;
  margin-right: 10%;
  margin-top: 10%;
  color: #CB9CA1;
  font-size: 48px; }

#block-wordsfromexperts .banner-parent {
  padding: 20%; }

@media screen and (max-width: 767px) {
  #block-wordsfromexperts .experts-img {
    display: none; }
  #block-wordsfromexperts .bg-banner {
    background-size: 100% 100%; }
  #block-wordsfromexperts .field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item p {
    padding: 8%;
    margin-top: 10%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word; }
  #block-wordsfromexperts h2.block-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; } }

.button-defult-exit {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.14em;
  padding: 12px 16px;
  line-height: 24px;
  border: 0;
  border-radius: 4px;
  letter-spacing: 1.25px; }

.button-defult {
  border: 0;
  border-radius: 4px;
  letter-spacing: 1.25px;
  background: #FFCDD2;
  font-weight: normal;
  font-size: 1.14em;
  padding: 10px 15px; }

h1 {
  font-size: 4em;
  font-weight: 500;
  line-height: 64px; }

h2 {
  font-size: 2.85em;
  font-weight: 500;
  line-height: 48px; }

h3 {
  font-size: 2.57em;
  font-weight: 500;
  line-height: 44px; }

article p {
  margin: 20px 0;
  font-size: 1.42em;
  font-weight: 400;
  line-height: 32px; }

@media screen and (max-width: 767px) {
  body .shepherd-element {
    width: 100%; }
    body .shepherd-element .shepherd-text .tour-tip-body {
      padding: 0 12px; }
  #block-recommendedrelatedcontentblock {
    padding: 5px 0;
    border-top: 2px solid #00000066; }
    #block-recommendedrelatedcontentblock .recomended-header {
      font-size: 1.42em;
      line-height: 28px; }
      #block-recommendedrelatedcontentblock .recomended-header img {
        width: 24px; }
      #block-recommendedrelatedcontentblock .recomended-header span {
        padding-left: 8px; }
    #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item {
      padding-bottom: 15px; }
      #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item span {
        margin-top: 12px; }
        #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item span a {
          font-size: 1.14em;
          line-height: 20px;
          font-weight: 400; }
  .podcast-transcript,
  .transcript {
    line-height: 24px;
    font-size: 1.14em; }
  .podcast-transcript-btn button,
  .transcript-btn button {
    margin: 4px 0 24px auto; }
  article .field--name-field-tags .field--items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .breadcrumb {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px; }
  .pod-video {
    margin: 24px 0; }
  h2 {
    font-size: 1.42em;
    line-height: 24px; }
  p {
    line-height: 20px;
    font-size: 1em; }
  .header-wrap {
    padding-left: 5px; }
  .region-header #block-settingsmenu .search-box {
    margin-right: 15px; }
  .region-header .navbar-brand {
    padding: 15px 10px; }
  #nav_wrap {
    position: absolute;
    padding-right: 0;
    padding-bottom: 70px;
    width: calc(100% - 20px);
    top: -48px;
    z-index: 999;
    left: 0;
    background: #ffffff; }
    #nav_wrap .close-hamburger {
      float: left;
      font-size: 18px;
      margin-left: 8px;
      margin-top: 15px;
      margin-bottom: 0; }
    #nav_wrap .logo-wrapper {
      clear: both;
      margin-left: 10px; }
    #nav_wrap #block-iraqnavigationheadermenu,
    #nav_wrap #block-navigationheadermenu {
      /* margin-left: 30px;*/ }
      #nav_wrap #block-iraqnavigationheadermenu #faq,
      #nav_wrap #block-iraqnavigationheadermenu #discover,
      #nav_wrap #block-navigationheadermenu #faq,
      #nav_wrap #block-navigationheadermenu #discover {
        border-top: 1px solid rgba(33, 33, 33, 0.08); }
      #nav_wrap #block-iraqnavigationheadermenu > ul,
      #nav_wrap #block-navigationheadermenu > ul {
        margin: 0;
        border-top: 1px solid rgba(33, 33, 33, 0.08); }
        #nav_wrap #block-iraqnavigationheadermenu > ul li,
        #nav_wrap #block-navigationheadermenu > ul li {
          margin: 0;
          width: 100%; }
          #nav_wrap #block-iraqnavigationheadermenu > ul li > div,
          #nav_wrap #block-navigationheadermenu > ul li > div {
            margin: 12px 18px; }
          #nav_wrap #block-iraqnavigationheadermenu > ul li li,
          #nav_wrap #block-navigationheadermenu > ul li li {
            display: inline-block; }
  .region-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .address-info ul li {
    width: 100%;
    margin-bottom: 10px; }
  .block-menu-item-fieldsquick-links h2 {
    font-size: 1.714em;
    font-weight: 500;
    line-height: 30px; }
  .block-menu-item-fieldsquick-links ul li {
    margin-right: 25px;
    width: 100%;
    margin-bottom: 10px; }
  #block-copyright .field--name-body {
    margin-top: 20px;
    text-align: center; }
  .region-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .region-navigation #block-languageswitcher ul {
      top: 96%;
      left: calc(100% - 160px);
      border-radius: 10px; }
      .region-navigation #block-languageswitcher ul li a {
        padding: 12px 20px;
        font-size: 16px; }
  .btn-trans {
    background: none;
    border: none;
    line-height: 44px;
    margin-right: 10px;
    border-bottom: 2px solid #CB9CA1; }
  .telephone_in_mobile img {
    margin-right: 13px;
    width: 20px;
    height: 20px; }
  .hamburger {
    float: left;
    margin-right: 0; }
    .hamburger .icon-bar {
      background: #DADADA; }
  #block-settingsmenu {
    margin-left: auto; }
  .article-hero-img {
    margin-top: 24px; }
  #block-globalstickyblock {
    top: inherit;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 72px;
    padding-top: 15px; }
    #block-globalstickyblock .global_sticky {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      #block-globalstickyblock .global_sticky .gethelp {
        margin: 0;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; }
      #block-globalstickyblock .global_sticky .chatbot img {
        margin-top: 2px; }
      #block-globalstickyblock .global_sticky .chatbot span {
        margin-top: 8px; }
  .footer-wrapper {
    margin-bottom: 60px; }
  .featured-stories {
    background: none; }
    .featured-stories h3 {
      margin: 24px 0;
      line-height: 28px;
      font-size: 1.42em; }
      .featured-stories h3 img {
        display: none; }
    .featured-stories .featured_stories_block {
      margin-bottom: 40px; }
      .featured-stories .featured_stories_block a span {
        min-height: inherit; }
      .featured-stories .featured_stories_block .four-slice .play-circle,
      .featured-stories .featured_stories_block .two-slice .play-circle {
        top: 30%; }
      .featured-stories .featured_stories_block .four-slice .play-circle-podcast,
      .featured-stories .featured_stories_block .two-slice .play-circle-podcast {
        top: 125px; }
      .featured-stories .featured_stories_block .four-slice .four-slice-img,
      .featured-stories .featured_stories_block .four-slice .two-slice-img,
      .featured-stories .featured_stories_block .two-slice .four-slice-img,
      .featured-stories .featured_stories_block .two-slice .two-slice-img {
        height: 184px; }
  /*catagery hero*/
  .block-hero-banner-block h2 {
    font-size: 1.28em;
    margin: 40px 0 24px 0; }
    .block-hero-banner-block h2 img {
      width: 28px;
      height: 28px;
      border-radius: 50%; }
  .block-hero-banner-block .hero-wrapper .hero-col {
    margin-bottom: 24px;
    min-height: 250px; }
  .block-hero-banner-block .hero-wrapper a {
    text-decoration: none;
    color: #000; }
    .block-hero-banner-block .hero-wrapper a img {
      width: 120px;
      height: 120px;
      border-radius: 50%; }
    .block-hero-banner-block .hero-wrapper a span {
      display: block;
      text-align: center;
      line-height: 24px;
      font-weight: 400;
      font-size: 1.14em;
      margin-top: 24px; } }

@media screen and (min-width: 768px) {
  #block-globalstickyblock .global_sticky a span {
    width: 54px; }
  .nav .telephone_in_mobile {
    display: none; }
  .pod-video {
    max-width: 835px; }
  #block-socialiconsfooterblock {
    margin-top: 80px;
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto; }
    #block-socialiconsfooterblock .icons-warp {
      float: right; }
  .footer-top-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto; }
  #block-virtualsafespace .field--name-body p {
    max-width: 500px; }
  #langdd {
    display: none; }
  .navbar-header {
    float: none; }
  .region-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .region-navigation #block-languageswitcher ul {
      position: unset;
      background: initial;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      border-radius: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      padding: 0;
      list-style: none;
      margin: 0; }
      .region-navigation #block-languageswitcher ul li {
        padding: 9px 20px; }
        .region-navigation #block-languageswitcher ul li.is-active a::before {
          width: 150%; }
        .region-navigation #block-languageswitcher ul li:hover a::before {
          width: 150%; }
        .region-navigation #block-languageswitcher ul li a {
          position: relative;
          padding: 0;
          line-height: 30px;
          color: #000; }
          .region-navigation #block-languageswitcher ul li a:before {
            content: " ";
            position: absolute;
            top: 36px;
            left: -10px;
            width: 0;
            border-bottom: 2px solid #CB9CA1; }
          .region-navigation #block-languageswitcher ul li a:hover {
            text-decoration: none;
            background-color: unset; } }

/*ipad portarait*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .region-header #block-iraqnavigationheadermenu > ul li,
  .region-header #block-navigationheadermenu > ul li {
    margin-right: 7px; }
    .region-header #block-iraqnavigationheadermenu > ul li > div > div,
    .region-header #block-navigationheadermenu > ul li > div > div {
      padding-right: 8px; } }

html[dir="rtl"] .featured-stories .featured-head {
  text-align: right; }
  html[dir="rtl"] .featured-stories .featured-head img {
    padding-left: 9px;
    padding-right: 0; }

html[dir="rtl"] .featured-stories .featured_stories_block .four-slice:after,
html[dir="rtl"] .featured-stories .featured_stories_block .two-slice:after {
  left: calc( 100% -  86px); }

html[dir="rtl"] .featured-stories .featured_stories_block .four-slice .play-circle-podcast,
html[dir="rtl"] .featured-stories .featured_stories_block .two-slice .play-circle-podcast {
  left: calc( 100% -   78px); }

html[dir="rtl"] #block-recommendedrelatedcontentblock .recomended-header {
  text-align: right; }

html[dir="rtl"] #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item .play-circle-podcast {
  left: inherit;
  right: 22px; }

html[dir="rtl"] #block-recommendedrelatedcontentblock .recomended-wrapper .recomended-item:after {
  left: inherit;
  right: 27px; }

html[dir="rtl"] .shepherd-element .shepherd-footer button i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

html[dir="rtl"] .breadcrumb li:first-child a::before {
  float: right;
  margin-right: 0px;
  margin-left: 8px; }

html[dir="rtl"] .breadcrumb img {
  margin-right: 0;
  margin-left: 8px; }

html[dir="rtl"] body .shepherd-element .shepherd-cancel-icon {
  right: inherit;
  left: 29px; }

html[dir="rtl"] .transcript-text,
html[dir="rtl"] .podcast-transcript-text {
  margin-left: 0px;
  margin-right: 30px; }

html[dir="rtl"] .btn-trans .caret {
  margin-right: 2px; }

html[dir="rtl"] .logo-wrapper a {
  float: right !important; }

html[dir="rtl"] .header-wrap {
  padding-right: 5px;
  padding-left: 15px; }

html[dir="rtl"] .telephone-header a {
  direction: ltr;
  unicode-bidi: embed; }

html[dir="rtl"] .exit-website-btn i {
  padding-left: 12px;
  padding-right: 0; }

html[dir="rtl"] .block-menu-item-fieldsquick-links ul {
  padding-right: 0; }
  html[dir="rtl"] .block-menu-item-fieldsquick-links ul li {
    margin-right: 0;
    margin-left: 25px; }
    html[dir="rtl"] .block-menu-item-fieldsquick-links ul li > div > div {
      padding-left: 12px;
      padding-right: 0; }

html[dir="rtl"] #block-virtualsafespace .logo-title-wrapper .field--name-field-logo {
  margin-left: 12px;
  margin-right: 0; }

html[dir="rtl"] .address-info ul li {
  margin-right: 0;
  margin-left: 10px; }
  html[dir="rtl"] .address-info ul li img {
    margin-left: 10px;
    margin-right: 0; }

html[dir="rtl"] .wrapper-main-icons .icons-warp a {
  padding-left: 0;
  padding-right: 4px; }

html[dir="rtl"] #nav_wrap {
  margin-right: auto;
  margin-left: 0; }
  html[dir="rtl"] #nav_wrap .logo-wrapper {
    margin-right: 25px; }

html[dir="rtl"] .region-header #discover1 > div > div {
  padding-right: 0;
  padding-left: 20px; }

html[dir="rtl"] .region-header #block-iraqnavigationheadermenu > ul li > div > div {
  padding-left: 12px; }

html[dir="rtl"] .region-header #block-iraqnavigationheadermenu .discoverdd {
  right: 24px; }

html[dir="rtl"] .region-header #block-settingsmenu .search-box {
  margin-left: 30px; }

html[dir="rtl"] .region-header #block-settingsmenu .dropdown-menu {
  right: calc(100% - 240px); }

html[dir="rtl"] .region-header #block-settingsmenu .form-item-audio .checkbox-toggle {
  right: -10px; }

html[dir="rtl"] .region-header #block-settingsmenu .text-resize-block {
  float: left;
  margin-left: 21px; }
  html[dir="rtl"] .region-header #block-settingsmenu .text-resize-block a#font_resize-plus,
  html[dir="rtl"] .region-header #block-settingsmenu .text-resize-block a#font_resize-minus {
    float: right; }
  html[dir="rtl"] .region-header #block-settingsmenu .text-resize-block a#font_resize-plus {
    margin-right: 20px; }

html[dir="rtl"] .region-header #block-settingsmenu .dropdown-menu li .form-type-checkbox-2 {
  right: 2px; }

html[dir="rtl"] .region-header #block-settingsmenu .percentsymbol {
  margin-right: 10px; }

html[dir="rtl"] .region-header #block-settingsmenu .navbar-text {
  float: right;
  clear: both; }
  html[dir="rtl"] .region-header #block-settingsmenu .navbar-text .percent {
    float: left;
    margin-left: 0;
    margin-right: 0px; }

@media screen and (max-width: 767px) {
  html[dir="rtl"] #block-recommendedrelatedcontentblock .recomended-header span {
    padding-right: 8px;
    padding-left: 0; }
  html[dir="rtl"] .region-header #block-settingsmenu .search-box {
    margin-left: 15px; }
  html[dir="rtl"] .region-header .navbar-brand {
    font-size: 1.32em; }
  html[dir="rtl"] .telephone_in_mobile img {
    margin-left: 16px; }
  html[dir="rtl"] #block-settingsmenu {
    margin-left: 0;
    margin-right: auto; }
  html[dir="rtl"] .region-navigation #block-languageswitcher ul {
    right: calc(100% - 160px); }
  html[dir="rtl"] .region-navigation #block-languageswitcher li a {
    text-align: right; }
  html[dir="rtl"] #block-socialiconsfooterblock .icons-warp a {
    margin-right: 0;
    margin-left: 16px; }
  html[dir="rtl"] #nav_wrap {
    left: auto;
    right: 0; }
    html[dir="rtl"] #nav_wrap .logo-wrapper a {
      float: right !important; }
    html[dir="rtl"] #nav_wrap .close-hamburger {
      float: right;
      margin-right: 20px; }
  article .buttons button {
    background: #FFCDD2 url("../images/sound-icon.png") no-repeat 102px center;
    padding-left: 15px;
    padding-right: 45px; } }

@media screen and (min-width: 768px) {
  html[dir="rtl"] #block-recommendedrelatedcontentblock .recomended-header span {
    padding-right: 28px; }
  html[dir="rtl"] #block-globalstickyblock {
    left: 2%;
    right: inherit; }
  html[dir="rtl"] #block-socialiconsfooterblock .icons-warp {
    float: left; } }

/*rtl ipad portarait*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  html[dir="rtl"] .region-header #block-iraqnavigationheadermenu > ul li,
  html[dir="rtl"] .region-header #block-navigationheadermenu > ul li {
    margin-right: 0px;
    margin-left: 7px; }
    html[dir="rtl"] .region-header #block-iraqnavigationheadermenu > ul li > div > div,
    html[dir="rtl"] .region-header #block-navigationheadermenu > ul li > div > div {
      padding-right: 0px;
      padding-left: 8px; } }

html[lang="ku"] .region-header #block-settingsmenu .dropdown-menu li .form-type-checkbox-2 {
  right: 25px; }

html[lang="es"] .region-header #block-settingsmenu .dropdown-menu li .form-type-checkbox-1 {
  right: 16px; }

html[lang="es"] .region-header #block-settingsmenu .dropdown-menu li .form-type-checkbox-2 {
  right: 28px; }

/*# sourceMappingURL=style.css.map */
