body {
  margin-top: 0;
  font-family: Roboto;
  color: #000;
  font-size: 1em;
}

main {
  padding: 20px;
  margin-bottom: 30px;
}

.page-title {
  border-bottom: 1px solid rgba(243, 193, 191, 0.53);
  color: #A85766;
  padding: 20px 0;
  text-align: center;
  font-size: 1.125em;
  margin: 0;
}

.link-text {
  color: #A85766;
  font-size: 14px;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

p {
  color: #444;
  font-size: 1em;
  margin: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.red-text {
  color: #A85766;
  font-size: 1em;
  margin: 10px 0;
}

.path-sign-up #block-erpw-branding,
.path-sign-up #block-erpw-main-menu,
.path-user #block-erpw-branding,
.path-user #block-erpw-main-menu {
  display: none;
}

.back-arrow {
  background: url("../images/back-arrow.svg") 0 0 no-repeat;
  height: 14px;
  border: 0;
  font-size: 0;
  position: absolute;
  top: 25px;
  left: 23px;
  width: 16px;
}

.toolbar-icon-9 .back-arrow {
  top: 62px;
}

form input[type=submit].button-border, form .node-service-type-form input[type=submit].button--primary, .node-service-type-form form input[type=submit].button--primary,
form .node-service-type-quick-node-clone-form input[type=submit].button--primary,
.node-service-type-quick-node-clone-form form input[type=submit].button--primary {
  background: none;
  border: 1px solid #A85766;
  border-radius: 4px;
  color: #A85766;
  display: inline-block;
  font-size: 0.875em;
  margin: 0 15px 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
}

.overlay {
  display: none;
}

.button-with-icon {
  background-color: #A85766;
  border-radius: 20px;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 15px 5px 57px;
  position: relative;
  color: #ffffff;
  margin: 20px 0;
  display: inline-block;
}
.button-with-icon.new-service-type {
  padding-left: 0;
}
.button-with-icon::before {
  content: "*";
  border-radius: 50%;
  height: 57px;
  width: 57px;
  position: absolute;
  left: 0;
  top: -15px;
}
.button-with-icon a {
  color: #ffffff;
  font-size: 12px;
  padding-left: 60px;
  position: relative;
  z-index: 1;
}

.color-select::before {
  background: url("../images/color-picker.svg") center center no-repeat #A85766;
}

.icon-select::before {
  background: url("../images/icon-picker.svg") center center no-repeat #A85766;
}

.pager__items li,
.pager__items span {
  color: #A85766;
}

form .form-required::after {
  background-image: none;
  content: "*";
  vertical-align: inherit;
}
form select {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../images/arrow.svg") right 10px center no-repeat;
}
form .form-actions {
  text-align: right;
  margin: 0;
}
form .form-actions .signup-next {
  width: auto;
}

label {
  color: #A85766;
  font-size: 0.75em;
  font-weight: 500;
}

input[type=text],
input[type=password],
select {
  background-position: right;
  border: 1px solid #F3C1BF;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 8px 11px;
  margin-top: 7px;
  width: 100%;
}
input[type=text]:focus,
input[type=password]:focus,
select:focus {
  outline: none;
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #E0D7D7;
  font-size: 14px;
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
select:-moz-placeholder {
  color: #E0D7D7;
  font-size: 14px;
}
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
select::-moz-placeholder {
  color: #E0D7D7;
  font-size: 14px;
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #E0D7D7;
  font-size: 14px;
}

input[type=submit] {
  background: #A85766;
  border: 1px solid #A85766;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 100%;
}
input[type=submit].arrow-btn {
  background: url("../images/arrow-white.svg") calc(50% + 50px) center no-repeat #A85766;
  margin: 20px 0 40px;
}
input[type=submit].use-ajax.arrow-btn {
  background-position: calc(50% + 100px) center;
}

.form-type-password {
  position: relative;
}

.description {
  background: none;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 9px !important;
  font-style: italic;
  left: 66px;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 0;
  width: 10px;
}

.password-help-text {
  -webkit-box-shadow: 0 2px 20px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 6px rgba(0, 0, 0, 0.1);
  background: #A85766;
  color: #ffffff;
  left: 20px;
  padding: 5px;
  position: absolute;
  top: -15px;
  width: 160px;
}
.password-help-text::before {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #A85766;
  content: "";
  height: 0;
  left: -5px;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 9;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.menu--bottom-nav {
  background: #A85766;
  border-radius: 20px 20px 0px 0px;
}
.menu--bottom-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0 50px;
  height: 60px;
}
.menu--bottom-nav li.menu-item a {
  color: #ffffff;
  display: block;
  font-size: 8px;
  text-align: center;
}
.menu--bottom-nav li.menu-item a.is-active {
  color: #ffffff;
}
.menu--bottom-nav li.menu-item a.is-active::after {
  background: #ffffff;
  content: "";
  border-radius: 5px 5px 0 0;
  height: 5px;
  margin-top: 5px;
  display: block;
}
.menu--bottom-nav li.menu-item a::before {
  content: "";
  display: block;
  height: 23px;
  padding-bottom: 15px;
  width: 40px;
}
.menu--bottom-nav li.menu-item a.home::before {
  background: url(../images/home.svg) no-repeat center center;
}
.menu--bottom-nav li.menu-item a.dashboard::before {
  background: url(../images/dashboard.svg) no-repeat center center;
}
.menu--bottom-nav li.menu-item a.search-icon::before {
  background: url(../images/searchIcon.svg) no-repeat center center;
}
.menu--bottom-nav li.menu-item .menu-icon {
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 8px;
  text-align: center;
}
.menu--bottom-nav li.menu-item .menu-icon::before {
  background: url(../images/menu.svg) no-repeat center center;
  content: "";
  display: block;
  height: 23px;
  padding-bottom: 15px;
  width: 40px;
}

header {
  background: #FFF6F5;
}

.region-header {
  background: url(../images/top_nav_image.svg) no-repeat right -143px top -130px;
  height: 100%;
  padding: 0;
}

.menu--header-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.menu--header-menu .menu {
  margin: 0 10px 0 0;
  text-align: right;
}
.menu--header-menu .notification {
  background: url(../images/notify.svg) no-repeat center center;
  display: inline-block;
  font-size: 0;
  height: 19px;
  position: relative;
  vertical-align: top;
  width: 15px;
}
.menu--header-menu .notification::after {
  content: "26";
  background: #4FB5EE;
  color: #ffffff;
  position: absolute;
  border-radius: 50%;
  height: 11px;
  width: 14px;
  right: -7px;
  top: -2px;
  font-size: 7px;
  text-align: center;
  padding-top: 3px;
}

.path-sign-up header,
.path-sign-up .region-header,
.path-user header,
.path-user .region-header {
  background: none;
  padding: 0;
}

.toolbar-fixed #block-erpw-main-menu {
  top: 40px;
}

.view-empty {
  display: none;
}
.view-empty + .feed-icons {
  display: none;
}

.user-logged-in .signin-non-logged,
.user-logged-in .non-logged-home {
  display: none;
}
.user-logged-in #block-erpw-main-menu {
  padding-top: 50px;
}

#block-erpw-main-menu {
  background: url("../images/menulist-bg1.svg") top left no-repeat, url("../images/menulist-bg2.svg") bottom 90px right -20px no-repeat #fff6f5;
  color: #444;
  font-size: 0.875em;
  display: none;
  position: fixed;
  height: 100%;
  padding: 55px 30px 0 30px;
  min-height: 618px;
  right: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 2;
}
#block-erpw-main-menu b {
  display: block;
  margin-top: 5px;
}
#block-erpw-main-menu .menu {
  margin: 0 0 0 -10px;
  padding-bottom: 100px;
  width: 212px;
}
#block-erpw-main-menu .menu-item {
  padding: 15px 20px 15px 15px;
  margin: 0 20px 0 0;
}
#block-erpw-main-menu .menu-item.save-logged-in {
  border-bottom: 1px solid #000;
  padding-bottom: 25px;
  margin-bottom: 10px;
}
#block-erpw-main-menu .menu-item a {
  color: #A85766;
  font-size: 16px;
  padding-left: 30px;
}
#block-erpw-main-menu .menu-item .home-fill {
  background: url("../images/home-fill.svg") top left no-repeat;
}
#block-erpw-main-menu .menu-item .setting-icon {
  background: url("../images/setting.svg") top left no-repeat;
}
#block-erpw-main-menu .menu-item .dashboard-fill {
  background: url("../images/dashboard-fill.svg") top left no-repeat;
  padding: 3px 0 4px 30px;
  font-size: 12px;
  text-decoration: underline;
}
#block-erpw-main-menu .menu-item .notification-icon {
  background: url("../images/notify.svg") top left no-repeat;
}
#block-erpw-main-menu .menu-item .save-icon {
  background: url("../images/save.svg") top left no-repeat;
}
#block-erpw-main-menu .menu-item .signout-icon,
#block-erpw-main-menu .menu-item .signin-icon {
  background: url("../images/signin.svg") top left no-repeat;
}
#block-erpw-main-menu .menu-item .about-icon {
  background: url("../images/about.svg") top 4px left no-repeat;
}
#block-erpw-main-menu .menu-item .help-icon {
  background: url("../images/help.svg") top left no-repeat;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(68, 25, 39, 0.28);
  text-align: center;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.sign-in-popup {
  position: absolute;
  z-index: 9999;
  color: white;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 303px;
  margin: 0 auto;
}
.sign-in-popup form {
  margin: 0 auto;
  padding: 20px 30px 15px;
  background: url("../images/popup-bg.svg") top -125px left -20px no-repeat #ffffff;
  border-radius: 10px;
  position: relative;
  width: 243px;
}
.sign-in-popup input[type=submit] {
  width: 40.5%;
  padding: 10px 0;
}

.welcome-message {
  margin-top: 20px;
}

.popup-content {
  color: #666565;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 15px;
}

.close-popup {
  background: url("../images/cross.svg") 0 0 no-repeat;
  cursor: pointer;
  height: 13px;
  width: 13px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.menu-icon-popup {
  display: inline-block;
  padding-left: 5px;
}
.menu-icon-popup::before {
  background: url("../images/menu-icon.svg") left 8px center no-repeat;
  content: "(";
  height: 11px;
  padding-right: 22px;
  width: 16px;
}
.menu-icon-popup::after {
  content: ")";
}

.steps-highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 40px;
}

.step {
  font-size: 1em;
  color: #444;
}

.step-number {
  color: #A85766;
  font-size: 10px;
  left: 18px;
  position: absolute;
  top: 46px;
  text-align: center;
}

.step-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.step-circle::before {
  content: "";
  border: 1px solid #A85766;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.step-circle::after {
  border-bottom: 2px dashed #A85766;
  bottom: -15px;
  color: #ffffff;
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 0.3em;
  line-height: 1em;
  margin: 0;
  position: relative;
  text-align: right;
  z-index: -1;
}
.step-circle.active::before {
  background: #A85766;
}

.personal-detail-page::before {
  background: url("../images/person.svg") center center no-repeat #A85766;
  margin-right: 2px;
}

.location-detail-page::before {
  background: url("../images/location.svg") center center no-repeat;
}
.location-detail-page.active::before {
  background: url("../images/location-white.svg") center center no-repeat #A85766;
}

.password-creation-page {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.password-creation-page::before {
  background: url("../images/password-key.svg") center center no-repeat;
  margin-left: 2px;
}
.password-creation-page.active::before {
  background: url("../images/password-key-white.svg") center center no-repeat #A85766;
}
.password-creation-page::after {
  display: none;
}

#status-message.messages--error {
  margin-bottom: 15px;
}

.node-service-type-form label,
.node-service-type-quick-node-clone-form label {
  vertical-align: top;
  margin-top: -15px;
}
.node-service-type-form label.form-required::after,
.node-service-type-quick-node-clone-form label.form-required::after {
  content: "";
}
.node-service-type-form .field--name-field-service-type-icon .js-form-type-textfield,
.node-service-type-form .field--type-color-field-type .form-wrapper,
.node-service-type-quick-node-clone-form .field--name-field-service-type-icon .js-form-type-textfield,
.node-service-type-quick-node-clone-form .field--type-color-field-type .form-wrapper {
  -webkit-box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
          box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
  border-radius: 10px;
  margin: 45px 0;
}
.node-service-type-form .field--name-field-service-type-icon .js-form-type-textfield label,
.node-service-type-form .field--type-color-field-type .form-wrapper label,
.node-service-type-quick-node-clone-form .field--name-field-service-type-icon .js-form-type-textfield label,
.node-service-type-quick-node-clone-form .field--type-color-field-type .form-wrapper label {
  font-weight: 400;
}
.node-service-type-form .field--type-color-field-type .form-wrapper .form-item,
.node-service-type-quick-node-clone-form .field--type-color-field-type .form-wrapper .form-item {
  margin-bottom: 0;
}
.node-service-type-form .selector-button,
.node-service-type-form .selector-category,
.node-service-type-form .fip-icon-block,
.node-service-type-quick-node-clone-form .selector-button,
.node-service-type-quick-node-clone-form .selector-category,
.node-service-type-quick-node-clone-form .fip-icon-block {
  display: none !important;
}
.node-service-type-form .field--widget-unicef-iconpicker,
.node-service-type-quick-node-clone-form .field--widget-unicef-iconpicker {
  position: relative;
}
.node-service-type-form .icons-selector,
.node-service-type-quick-node-clone-form .icons-selector {
  display: block;
  z-index: inherit;
}
.node-service-type-form .icons-selector .selector,
.node-service-type-quick-node-clone-form .icons-selector .selector {
  border: 0;
  margin: 10px;
  position: absolute;
  top: -130px;
  left: 0;
  width: 40px;
}
.node-service-type-form .icons-selector .fip-box,
.node-service-type-quick-node-clone-form .icons-selector .fip-box {
  border: 0;
  width: 46px;
}
.node-service-type-form .icons-selector.fip-grey .selected-icon,
.node-service-type-quick-node-clone-form .icons-selector.fip-grey .selected-icon {
  border-radius: 50%;
  border: 0;
  width: 40px;
}
.node-service-type-form .icons-selector.fip-grey .selected-icon i,
.node-service-type-quick-node-clone-form .icons-selector.fip-grey .selected-icon i {
  color: #A85766;
}
.node-service-type-form .icons-selector.fip-grey .fip-icons-container,
.node-service-type-quick-node-clone-form .icons-selector.fip-grey .fip-icons-container {
  border: 0;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
}
.node-service-type-form .icons-selector.fip-grey span.current-icon,
.node-service-type-quick-node-clone-form .icons-selector.fip-grey span.current-icon {
  background-color: #A85766;
  border: 1px solid #A85766;
}
.node-service-type-form .icons-selector.fip-grey .selector-footer,
.node-service-type-quick-node-clone-form .icons-selector.fip-grey .selector-footer {
  color: #A85766;
  padding: 10px 15px 0;
}
.node-service-type-form .icons-selector .uf::before,
.node-service-type-quick-node-clone-form .icons-selector .uf::before {
  font-size: 22px;
}
.node-service-type-form .unicef-iconpicker-element,
.node-service-type-quick-node-clone-form .unicef-iconpicker-element {
  height: inherit !important;
}
.node-service-type-form .selector-popup-wrap,
.node-service-type-quick-node-clone-form .selector-popup-wrap {
  position: inherit !important;
  z-index: inherit;
  margin: 10px auto 0;
  width: 100%;
}
.node-service-type-form .selector-popup-wrap .selector-popup,
.node-service-type-quick-node-clone-form .selector-popup-wrap .selector-popup {
  border: 0;
  -webkit-box-shadow: inherit !important;
          box-shadow: inherit !important;
  display: block !important;
  position: inherit !important;
  overflow: inherit !important;
  width: inherit !important;
  padding: inherit !important;
  margin: inherit !important;
  top: inherit !important;
  visibility: inherit !important;
  float: inherit !important;
  left: inherit !important;
  z-index: inherit !important;
  height: inherit !important;
}
.node-service-type-form .color-field-widget-box-form,
.node-service-type-quick-node-clone-form .color-field-widget-box-form {
  margin: 10px auto 0;
  padding-bottom: 20px;
  width: 90%;
}
.node-service-type-form .color-field-widget-box-form .color_field_widget_box__square,
.node-service-type-quick-node-clone-form .color-field-widget-box-form .color_field_widget_box__square {
  border-radius: 4px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  height: 32px;
  margin-right: 15px;
  width: 32px;
}
.node-service-type-form .color-field-widget-box-form .color_field_widget_box__square:hover, .node-service-type-form .color-field-widget-box-form .color_field_widget_box__square.active,
.node-service-type-quick-node-clone-form .color-field-widget-box-form .color_field_widget_box__square:hover,
.node-service-type-quick-node-clone-form .color-field-widget-box-form .color_field_widget_box__square.active {
  border: 1px solid #A85766 !important;
}
.node-service-type-form .form-actions,
.node-service-type-quick-node-clone-form .form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.node-service-type-form .form-actions [id^=edit-submit],
.node-service-type-quick-node-clone-form .form-actions [id^=edit-submit] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.node-service-type-form .form-actions [id^=edit-preview],
.node-service-type-quick-node-clone-form .form-actions [id^=edit-preview] {
  background: none;
  border: 1px solid #A85766;
  border-radius: 4px;
  color: #A85766;
  display: inline-block;
  font-size: 0.875em;
  margin: 0 15px 1em 0;
  padding: 10px 24px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-transform: uppercase;
}
.node-service-type-form .form-actions input[type=submit],
.node-service-type-quick-node-clone-form .form-actions input[type=submit] {
  text-align: center;
  padding: 10px 0;
  width: 134px;
}
.node-service-type-form .color_field_widget_box__color,
.node-service-type-quick-node-clone-form .color_field_widget_box__color {
  border: 1px solid transparent !important;
  font-size: 0;
  display: none !important;
}
.node-service-type-form .color_field_widget_box__color::part(native),
.node-service-type-quick-node-clone-form .color_field_widget_box__color::part(native) {
  display: none !important;
}
.node-service-type-form .color_field_widget_box__color div,
.node-service-type-quick-node-clone-form .color_field_widget_box__color div {
  display: none !important;
  position: absolute;
  z-index: 0;
  font-size: 0;
}

.new-service-type::before {
  background: url("../images/plus.svg") center center no-repeat #A85766;
}

.service-list .view-header {
  margin-bottom: 20px;
}
.service-list .title-view {
  border-top: 2px solid rgba(243, 193, 191, 0.53);
  color: #444;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  padding-top: 15px;
}
.service-list .views-row {
  -webkit-box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
          box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px 0;
  position: relative;
}
.service-list .views-field-field-service-type-icon {
  position: absolute;
  top: 20px;
  left: 22px;
}
.service-list .views-field-field-service-type-color {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
}
.service-list .service-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.service-list .service-title a {
  color: #444;
  font-size: 15px;
  font-weight: 500;
}
.service-list .service-count {
  color: #444;
  margin-top: -18px;
  font-size: 16px;
  font-weight: 400;
}
.service-list .views-field-nothing {
  border-top: 1px solid rgba(215, 215, 215, 0.5);
  margin-top: 5px;
}
.service-list .edit-delete-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 10px;
}
.service-list .edit-delete-links a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0;
  height: 20px;
  margin-left: 30px;
  vertical-align: super;
  width: 20px;
}
.service-list .clone-service-type a {
  background: url("../images/clone.svg") center center no-repeat;
}
.service-list .edit-link a {
  background: url("../images/edit.svg") center center no-repeat;
}
.service-list .delete-link a {
  background: url("../images/delete-button.svg") center center no-repeat;
}
.service-list div.color_field__swatch label:hover span,
.service-list div.color_field__swatch input[type=radio]:checked + label span {
  -webkit-transform: inherit;
          transform: inherit;
}

body.path-user {
  background: url("../images/signin-page.png") right top -22px no-repeat;
}

.signin-otp {
  text-align: center;
  margin-top: 10px;
}
.signin-otp .signup-link {
  font-size: 1em;
  color: #A85766;
  padding-left: 5px;
  text-decoration: underline;
}
.signin-otp p {
  opacity: 0.87;
}

.user-login-form input[type=submit] {
  background: url("../images/arrow-white.svg") calc(50% + 50px) center no-repeat #A85766;
  margin: 0;
}
.user-login-form .form-item {
  margin-top: 0;
}

.ui-dialog {
  border: 0 !important;
  border-radius: 10px;
  padding: 10px 8px;
  font-size: 1em;
  text-align: center;
  width: 287px !important;
}
.ui-dialog .ui-dialog-titlebar {
  background: none;
  border: 0;
}
.ui-dialog .ui-dialog-content {
  padding: 0 0.5em 1em !important;
}
.ui-dialog .ui-button .ui-icon {
  background: url("../images/cross.svg") 0 0 no-repeat !important;
}
.ui-dialog .email-notify {
  color: #666565;
  font-size: 0.875em;
  line-height: 20px;
  margin-bottom: 15px;
}
.ui-dialog .button.bg-green {
  background: #A85766;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  margin: 15px auto 0;
  padding: 10px 24px;
  text-transform: uppercase;
  width: 40%;
}

.review-msg {
  color: #A85766;
  line-height: 22px;
  margin-bottom: 15px;
}

.ui-widget-overlay {
  background: rgba(68, 25, 39, 0.28) !important;
  -webkit-backdrop-filter: blur(4px) !important;
          backdrop-filter: blur(4px) !important;
  opacity: 1 !important;
}
/*# sourceMappingURL=style.css.map */
