.link-text {
	color: $base-secondary-bgcolor;
  font-size: 14px;
	text-decoration: underline;
}
a {
	text-decoration: none;
}
p {
	color: $grey-txt-color;
	font-size: $base-font-size;
	margin: 0;
}

.flex-container {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}
.red-text {
	color: $base-secondary-bgcolor;
	font-size: $base-font-size;
	margin: 10px 0;
}
.path-sign-up,
.path-user {
	[id^='block-erpw-branding'], 
	[id^='block-erpw-main-menu'] {
		display: none; //temparory added  will remove once menu link functional, it will come under menu
	}
}
.back-arrow {
	background: url('../images/back-arrow.svg') 0 0 no-repeat;
	height: 14px;
	border: 0;
	font-size: 0;
	position: absolute;
	top: 25px;
	left: 23px;
	width: 16px;
}
.toolbar-icon-9 .back-arrow {
	top: 62px;
}
form input[type=submit] {
	&.button-border {
		background: none;
		border: 1px solid $base-secondary-bgcolor;
		@include border-radius(4px);
		color: $base-secondary-bgcolor;
		display: inline-block;
		font-size: 0.875em;
		margin: 0 15px 1em 0;
		padding: 10px 24px;
		text-transform: uppercase;
	}
}

.overlay {
	display: none;
}

.button-with-icon {
	background-color: $base-secondary-bgcolor;
	@include border-radius(20px);
	font-size: 12px;
	line-height: 14px;
	padding: 7px 15px 7px 57px;
	position: relative;
	color: $base-white-color;
	margin: 20px 0;
	display: inline-block;
	&.new-service-type {
		padding-left: 0;
	}
	&::before {
		content: '*';
		@include border-radius(50%);
    height: 57px;
    width: 57px;
    position: absolute;
    left: 0;
    top: -15px;
	}
	a {
    color: $base-white-color;
    font-size: 12px;
		padding-left: 60px;
		position: relative;
		z-index: 1;
  }
}
.color-select::before {
	background: url('../images/color-picker.svg') center center no-repeat $base-secondary-bgcolor;
}
.icon-select::before {
	background: url('../images/icon-picker.svg') center center no-repeat $base-secondary-bgcolor;
}

//pager
.pager__items {
	li,
	span {
		color: $base-secondary-bgcolor;
	}
}

.layout-container {
	margin: 0;
}
//export import CSV
.manage-location {
	display: flex;
  justify-content: flex-end;
}
.export-csv,
.import-csv {
	input[type=submit],
	a {
		background: none;
		border: 0;
		color: $base-secondary-bgcolor;
		display: inline-flex;
		font-size: 12px;
		padding: 40px 0 0;
		vertical-align: top;
		text-transform: capitalize;
	}
}
.export-csv {
	background: url('../images/export.png') top center no-repeat transparent;
}

.import-csv {
	background: url('../images/import.png') top center no-repeat transparent;
	margin-right: 10px;
}
.ajax-progress-throbber {
	display: none;
}
//note message
.msg-note {
	color: $base-secondary-bgcolor;
	font-size: 10px;
	line-height: 14px;
}
.margin-space {
	margin-bottom: 20px !important;
}

.button-red {
	background: $base-secondary-bgcolor;
	border: 1px solid $base-secondary-bgcolor;
	box-sizing: border-box;
	@include border-radius(4px);
	color: $base-white-color !important;
	display: inline-block;
	font-size: .875em;
	font-weight: 500;
	margin: 0 0 1em 0;
	padding: 10px 24px;
	text-transform: uppercase;
	width: 100%;
	a {
		color: $base-white-color;
	}
}

.card-shadow {
	box-shadow: 0px 4px 12px rgb(103 97 97 / 15%);
	border-radius: 10px;
	padding: 5px 10px 10px;
	margin: 13px 0 15px;
	.card-shadow {
		box-shadow: unset;
		margin: 0;
		padding: 0;
	}
}
.simple-status-messages .status-message-close span {
	color: $base-secondary-bgcolor;
	font-size: 28px;
	right: 7px;
	top: -3px;
	opacity: 1;
}

//Table format
.table-format {
	overflow-x: scroll;
	table {
		border: 1px solid #F3C1BF;
		border-radius: 5px;
		border-collapse: collapse; 
		width: 100%;
		thead {
			color: $base-secondary-bgcolor;
			text-align: left;
			th {
				border-bottom: 1px solid #F3C1BF;
			}
		}
		td,
		th {
			padding: 10px;
		}
		.dropbutton-widget {
			border: 0 !important;
		}
		a {
			color: $base-secondary-bgcolor;
		}
	}
}

.ui-autocomplete {
	border: 1px solid #F3C1BF !important;
	border-radius: 5px;
	height: 194px;
	max-width: 77%;
	overflow-y: scroll;
	li {
		border-bottom: 1px solid rgba(243,193,191,0.53);
		padding: 10px;
		a {
			color: $grey-txt-color;
			font-size: 14px;
			padding: 0 !important;
			word-break: break-word;
		}
	}
	.ui-state-active {
		background: none;
		border: 0;
		color: $base-secondary-bgcolor;
		padding: 0;
		margin: 0;
	}
}

//select 2 common styling
.add_multiple + .select2-container {
	.select2-selection__choice[title='Select 3 Label'] {
		display: none;
	}
}
.select2-container {
	width: 100% !important;
	&--default {
		.select2-selection--multiple,
		.select2-selection--single {
			border: 1px solid #F3C1BF !important;
			margin-top: 7px;
			padding: 5px 6px 7px !important;
			.select2-selection__choice {
				background: #fff !important;
				border: 1px solid #F3C1BF !important;
				margin-top: 0 !important;
				&__remove {
					border-right: 1px solid #F3C1BF !important;
					color: $base-secondary-bgcolor !important;
				}
			}
		}
		.select2-selection--single {
			height: inherit !important;
			.select2-selection__rendered {
				line-height: inherit !important;
			}
			.select2-selection__arrow {
				display: none;
			}
		}
		&.select2-container--focus {
			.select2-selection--multiple,
			.select2-selection--single {
				border: 1px solid #F3C1BF;
			}
		}
		.select2-results__option {
			&--selected {
				background: $base-white-color !important;
			}
			&.select2-results__option--selectable {
				padding-left: 11px;
			}
			&--highlighted.select2-results__option--selectable {
				background: $base-primary-bgcolor !important;
				color: $grey-txt-color !important;
				padding-left: 11px;
			}
		}
	}
	.select2-dropdown {
		border: 1px solid #F3C1BF;
	}
	.ui-state-active {
		background: none;
		border: 0;
		color: $base-secondary-bgcolor;
		padding: 0;
		margin: 0;
	}
}

//common form actions button
.node-organisation-form,
.node-service-type-form,
.node-service-type-quick-node-clone-form,
.node-service-type-edit-form {
	.form-actions {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin-top: 40px;
		input[type=submit] {
			padding: 10px 0 !important;
			width: 134px
		}
		[id^='edit-submit'] {
			order: 2;
		}
		[id^='edit-preview'],
		[id^='edit-cancel']  {
			background: none;
			border: 1px solid $base-secondary-bgcolor;
			@include border-radius(4px);
			color: $base-secondary-bgcolor;
			display: inline-block;
			font-size: 0.875em;
			margin: 0 15px 1em 0;
			padding: 10px 24px;
			text-transform: uppercase;
			order: 1;
		}
	}
}
