.link-text {
	color: $base-secondary-bgcolor;
  font-size: 14px;
	text-decoration: underline;
}
 
p {
	color: $grey-txt-color;
	font-size: $base-font-size;
	margin: 0;
}

.flex-container {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}
.red-text {
	color: $base-secondary-bgcolor;
	font-size: $base-font-size;
	margin: 10px 0;
}
.path-sign-up,
.path-user {
	#block-erpw-branding, 
	#block-erpw-main-menu {
		display: none; //temparory added  will remove once menu link functional, it will come under menu
	}
}
.back-arrow {
	background: url('../images/back-arrow.svg') 0 0 no-repeat;
	height: 14px;
	border: 0;
	font-size: 0;
	position: absolute;
	top: 25px;
	left: 23px;
	width: 16px;
}

form input[type=submit] {
	&.button-border {
		background: none;
		border: 1px solid $base-secondary-bgcolor;
		border-radius: 4px;
		color: $base-secondary-bgcolor;
		display: inline-block;
		font-size: 0.875em;
		margin: 0 15px 1em 0;
		padding: 10px 24px;
		text-transform: uppercase;
	}
}

.overlay {
	display: none;
}

.button-with-icon {
	background-color: $base-secondary-bgcolor;
	border-radius: 20px;
	padding: 5px 0 5px 57px;
	position: relative;
	color: $base-white-color;
	margin: 20px 0;
	display: inline-block;
	&::before {
		content: '*';
		border-radius: 50%;
    height: 57px;
    width: 57px;
    position: absolute;
    left: 0;
    top: -15px;
	}
}
.color-select::before {
	background: url('../images/color-picker.svg') center center no-repeat $base-secondary-bgcolor;
}
.icon-select::before {
	background: url('../images/icon-picker.svg') center center no-repeat $base-secondary-bgcolor;
}
