#export-location-form, .node-confirm-form {
    text-align: center;
    .review-msg {
        text-align: center;
    }

    .item-list ul {
        list-style: none;
    }

    .form-actions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 10px;
        margin-top: 30px;

        #edit-proceed, #edit-submit {
            width: 100%;
            margin: 0;
        }

        #edit-cancel {
            margin: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            border-radius: 4px;
            font-weight: 500;
            color: #A85766;
            border: 2px solid #A85766;
        }
    }

    @media only screen and (min-width: 768px) {
        .form-actions {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 35px;
    
            #edit-proceed, #edit-submit {
                width: 30%;
                margin: 0;
            }
    
            #edit-cancel {
                width: 30%;
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        .form-actions {
            #edit-proceed, #edit-submit {
                width: 25%;
            }
        }
    }
}
