.dashboard {
	list-style-type: none;
	margin: 0;
	padding: 0;
	.dashboard-link {
		@include border-radius(10px);
		box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.08);
		padding: 14px 17px;
		margin-bottom: 32px;
		span {
			display: inline-block;
			margin-right: 15px;
			vertical-align: middle;
		}
		a {
			background: url('../images/arrow-right.svg') right center no-repeat;
			color: $base-secondary-bgcolor;
			display: block;
			margin: 0 9px 0 0;
			&::before {
				display: inline-block;
				height: 36px;
				margin-right: 20px;
				width: 36px;
				vertical-align: middle;
			}
		}
		&.location-link a {
			&::before {
				background-color: #444;
				content: '';
				-webkit-mask: url('../images/location.svg') center center no-repeat;
				mask: url('../images/location.svg') center center no-repeat;
			}
		}
		&.service-link a {
			&::before {
				background-color: #165A07;
				content: '';
				-webkit-mask: url('../images/service.svg') center center no-repeat;
				mask: url('../images/service.svg') center center no-repeat;
			}
		}
		&.org-link a {
			&::before {
				background-color: #282C7B;
				content: '';
				-webkit-mask: url('../images/org.svg') center center no-repeat;
				mask: url('../images/org.svg') center center no-repeat;
			}
		}
		&.user-link a {
      &::before {
        background-color: #B49700;
        content: '';
        -webkit-mask: url('../images/user.svg') center center no-repeat;
        mask: url('../images/user.svg') center center no-repeat;
      }
    }
		&.referral-link a {
			&::before {
        background-color: $base-secondary-bgcolor;
        content: '';
        -webkit-mask: url('../images/rpw.svg') center center no-repeat;
        mask: url('../images/rpw.svg') center center no-repeat;
      }
		}
		&.service-provider-link a {
			&::before {
        background-color: #62489B;
        content: '';
        -webkit-mask: url('../images/service-provider.svg') center center no-repeat;
        mask: url('../images/service-provider.svg') center center no-repeat;
      }
		}
	}
}
.dashboard li:last-child img {
  width: 20px;
}

//pending Approvals
[id^='block-pendingapproval'] {
	box-shadow: 0px 1px 12px rgba(103, 97, 97, 0.15);
	@include border-radius(15px);
	padding: 15px 18px;
	margin-bottom: 22px;
	h2 {
		color: $grey-txt-color;
		font-size: 14px;
		font-weight: normal;
		line-height: 32px;
		letter-spacing: 0.0015em;
		margin: 0;
		padding: 0;
	}
	.field--name-field-blocks {
		display: flex;
    justify-content: center;
		text-align: center;
		margin: 5px -14px 0 0;
	}
	.field__item {
		align-items: center;
		background: #FCF1F0;
		color: $grey-txt-color;
		@include border-radius(12px);
		flex-basis: 100%;
		margin-right: 14px;
		.pending-service-count {
			padding: 20px 10px;
		}
		.pending-count {
			font-size: 40px;
		}
		.pending-text {
			font-size: 10px;
			line-height: 12px;
			min-height: 24px;
		}
		.pending-review-link {
			border-top: 1px solid $base-secondary-bgcolor;
			padding: 5px 10px 10px;
			a {
				color: $base-secondary-bgcolor;
				font-size: 11px;
				font-weight: 500;
				text-decoration: underline;
				text-transform: uppercase;
			}
		}
	}
}
html[dir="rtl"] {
	.dashboard {
		.dashboard-link {
			span {
				margin-left: 15px;
			}
			a {
				background: url('../images/arrow-right.svg') left center no-repeat;
			}
		}
	}
}
