.page-node-type-organisation { 
    .layout-container {
        .node-organisation-delete-form {
            .form-actions {
                margin-top: 50px;

                #edit-submit {
                    margin-bottom: 2em;
                }

                #edit-cancel {
                    margin: 0;
                    padding: 10px 20px;
                    border-radius: 4px;
                    font-weight: 500;
                    color: #A85766;
                    border: 2px solid #A85766;
                }
            }
        }
    }
}
