.manage-list {
	border-bottom: 2px solid rgba(243, 193, 191, 0.53);
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	padding-bottom: 10px;
	.country-list {
		flex-basis: 70%;
		.form-item {
			margin: 0;
		}
	}
}
.location-list {
	.location-count {
		color: #9B9B9B;
		font-size: 12px;
		line-height: 10px;
		text-align: center;
		letter-spacing: 0.5px;
	}
	.location-card {
		box-shadow: 0px 4px 12px rgb(103 97 97 / 15%);
		border-radius: 10px;
		padding: 5px 10px 10px;
		margin: 13px 0 15px;
		.level {
			color: $grey-txt-color;
			font-size: 12px;
			line-height: 28px;
			padding-left: 5px;
		}
	}
	.title-with-icons {
		border-bottom: 0.5px solid #D7D7D7;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		a {
			flex-basis: 100%;
			padding-bottom: 10px;
		}
		.location-title {
			color: $grey-txt-color;
			font-size: 12px;
			line-height: 20px;
			font-weight: 700;
			margin-top: 10px;
			text-transform: capitalize;
		}
	}
}

.location-container {
	box-shadow: 0px 4px 12px rgba(103, 97, 97, 0.15);
	@include border-radius(10px);
	padding: 12px 0;
	margin: 30px 0;
}
.location-container-heading {
	border-bottom: 0.5px solid #D7D7D7;
	color: $grey-txt-color;
	font-size: 14px;
	font-weight: 500;
	padding: 0 0 18px 15px;
	margin: 0 5px;
}
.location-level,
.form-item-level4 {
	margin: 0 15px;
}

.add-location {
	.form-actions {
		display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	}
	input[type=submit] {
		padding: 10px 0 !important;
    width: 134px
	}
	[id^='error-text'] {
		color: #A85766;
    font-size: 0.75em;
    font-weight: 500;
	}
}

#download-message-box {
	display: none;
	justify-content: center;
	margin: 20px 0;

	#download-message {
		padding: 10px;
		width: 500px;
		color: #270;
		background-color: #DFF2BF;
	}
}
