[class*="webform-submission-webform-service-rating-"] {
    padding: 10px;

    .form-item-service-submission-id {
        display: none;
    }

    .form-wrapper {
        legend {
            margin: 18px 0;
            .fieldset-legend {
                color: #A85766;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px; /* 122.222% */
                letter-spacing: 0.18px;
            }
        }
        .fieldset-wrapper {
            display: flex;
            justify-content: center;

            .form-radios {
                display: flex;
                flex-direction: row !important;
                gap: 18px;
    
                [class*="form-item-rating-question-"] {
                    border: none;
                    margin-right: 0;
                    // padding: 18px 12px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 48px;
                    height: 58px;

                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                    }
                    input[type="radio"]:checked + label {
                        background-color: #A85766;
                        color: #fff;
                    }
    
                    label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #C9C9C9;
                        border-radius: 14px;
                        color: #000;
                    }
    
                    .description {
                        display: none;
                    }
                }
            }
        } 
    }
}

// Manage Feedbacks Surveys Page - (/manage-feedback-surveys)
.view-manage-feedback-surveys {
    .view-content {
        .views-row {
            padding: 16px; 
            .views-field-webform-id {
                padding-bottom: 8px;    
                border-bottom: 1px solid #D7D7D7;
                .field-content {
                    a {
                        text-decoration: none;
                        @include feedback-survey-fonts;
                        font-size: 15px;
                        font-weight: 700;
                    }
                }
            }
            .views-field-webform-submission-service-rating-question-count-field {
                padding-top: 8px;
                .field-content .service-rating-feedback-question-count {
                    @include feedback-survey-fonts;
                    font-size: 12px;
                    font-weight: 400;
                    span {
                        font-weight: 700;
                    }
                }
            }
            .views-field-nothing {
                border-top: 1px solid #D7D7D7;
                .field-content .edit-delete-links {
                    margin-top: 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .service-rating-status {
                        margin-top: 5px;
                    }
                    .service-rating-status.Published {
                        background: #E6F2D9;
                        padding: 6px;
                        border-radius: 10px;
                        color: #00833D;
                        @include feedback-survey-status-fonts;
                    }
                    .service-rating-status.Draft {
                        background: #FFF8E2;
                        padding: 6px;
                        border-radius: 10px;
                        color: #F26A21;
                        @include feedback-survey-status-fonts;
                    }
                }
            }
        }
    }
}

#block-erpw-local-actions {
    .service-rating-action-links {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0;

            li {
                .add-new-question {
                    border: 1px solid $base-secondary-bgcolor;
                    border-radius: 8px;
                    padding: 10px 37px;
                    background:  #FFFFFF;
                    color: #A85766;
                    font-weight: 500;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 32px;
                }
                #service-rating-form-publish-btn {
                    border: 0;
                    border-radius: 8px;
                    padding: 2px 37px;
                    background: #A85766;
                    color: #FFFFFF;
                    font-weight: 500;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 32px;
                }
            }
        }
    }
}

.block-share-feedback-block {
    background: #FFF6F5;
    text-align: center;
    margin-top: 10px;
    padding: 16px 0;
    border-radius: 6px;

    .share-feedback-block a {
        border: none;
        font-size: 1rem;
        &::after {
            background: none;
        }
    }
}
